/*------------------------------------------------------*/
/* FULL WIDTH ANIMATED LAYERS 008
/*------------------------------------------------------*/
#fw_al_008 {
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#fw_al_008:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#fw_al_008:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#fw_al_008 > .carousel-inner > .carousel-item > img,
#fw_al_008 > .carousel-inner > .carousel-item > a > img {
  opacity: 0.4;
  margin: auto;
  width: 100% !important;
}
/*---------- VERTICLE EFFECT ----------*/
.ps_slide_y .carousel-inner{
  height: 100%;
}
.ps_slide_y .carousel-item{
  height: 100%;
}
.ps_slide_y .carousel-item-next.carousel-item-left,
.ps_slide_y .carousel-item-prev.carousel-item-right {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.ps_slide_y .carousel-item-next,
.ps_slide_y .active.carousel-item-right {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .ps_slide_y .carousel-item-next,
  .ps_slide_y .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.ps_slide_y .carousel-item-prev,
.ps_slide_y .active.carousel-item-left {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .ps_slide_y .carousel-item-prev,
  .ps_slide_y .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
/*---------- INDICATORS CONTROL ----------*/
.ps_indicators_bx > .carousel-indicators{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: block;
  text-align: center;
}
.ps_indicators_bx > .carousel-indicators li{
  width: 10px;
  height: 10px;
  margin: 1px;
  display: inline-block;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 1);
}
.ps_indicators_bx > .carousel-indicators .active{
  margin: 1px;
  width: 10px;
  height: 10px;
  background: #ff7f00;
  border: 2px solid #ff7f00;
}
.ps_indicators_bx > .carousel-indicators::-webkit-scrollbar{
  height: 5px;
}
.ps_indicators_bx > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_l_y .carousel-control-prev,
.ps_control_l_y .carousel-control-next{
  top: 15%;
  opacity: 0.3;
  width: 50px;
  height: 50px;
  z-index: 100;
  border: none;
  color: #ffffff;
  display: block;
  font-size: 34px;
  cursor: pointer;
  overflow: hidden;
  line-height: 48px;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  background:transparent;
  -webkit-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.ps_control_l_y:hover .carousel-control-prev,
.ps_control_l_y:hover .carousel-control-next{
  opacity: 1;
  -webkit-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.ps_control_l_y .carousel-control-prev{
  left: 3%;
}
.ps_control_l_y .carousel-control-next{
  top: 7%;
  left: 3%;
}
.ps_control_l_y .carousel-control-prev:hover,
.ps_control_l_y .carousel-control-next:hover{
  color: #ff7f00;
  background: transparent;
}
/*---------- SLIDE CAPTION ----------*/
.fw_al_008_slide {
  top: 12%;
  right: 0;
  left: 15%;
  width: 500px;
  padding: 10px;
  text-align: left;
  position: absolute;
}
.fw_al_008_right{
  left: auto;
  right: 15%;
  text-align: right;
}
.fw_al_008_center{
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.fw_al_008_slide > h6 {
  color: #ff7f00;
  text-shadow: none;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.fw_al_008_slide > h2 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  text-shadow: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.fw_al_008_slide > h3 {
  color: #ffffff;
  text-shadow: none;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.fw_al_008_slide > p {
  color: #ffffff;
  font-weight: 300;
  text-shadow: none;
  letter-spacing: 1px;
  margin-bottom: 25px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.fw_al_008_slide > h5 {
  color: #ff7f00;
  font-weight: 600;
  text-shadow: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.fw_al_008_slide > h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 400;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.fw_al_008_slide > a {
  color: #ffffff;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  position: relative;
  text-shadow: none;
  text-align: center;
  padding: 10px 20px;
  white-space: nowrap;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  margin: 40px 5px 0 5px;
  text-transform: uppercase;
  border: 3px solid #ffffff;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.fw_al_008_slide > a > span {
  margin-right: 10px;
}
.fw_al_008_slide > a:hover,
.fw_al_008_slide > a:active {
  color: #ffffff;
  background: #ff7f00;
  border: 3px solid #ff7f00;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_008_slide {
    top: 5%;
    left: 0;
    width: 100%;
    padding: 3px;
    text-align: center;
  }
  .fw_al_008_right{
    left: 0;
    right: 0;
    text-align: center;
  }
  .fw_al_008_slide > h6 {
    margin: 0;
  }
  .fw_al_008_slide > h2 {
    font-size: 22px;
    letter-spacing: 0px;
    margin: 0;
  }
  .fw_al_008_slide > h3 {
    font-size: 18px;
    margin: 0;
  }
  .fw_al_008_slide > p {
    font-size: 12px;
    letter-spacing: 0px;
    margin: 0;
  }
  .fw_al_008_slide > h5 {
    font-size: 14px;
    margin: 0;
  }
  .fw_al_008_slide > h1 {
    font-size: 20px;
    margin: 0 0 10px 0;
  }
  .fw_al_008_slide > a {
	margin: 0;
    font-size: 11px;
	padding: 5px 10px;
    letter-spacing: 1px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_indicators_bx > .carousel-indicators,
  .ps_control_l_y .carousel-control-prev,
  .ps_control_l_y .carousel-control-next{
    display: none;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_008_slide {
    top: 5%;
    left: 0;
    width: 100%;
    padding: 3px;
    text-align: center;
  }
  .fw_al_008_right{
    left: 0;
    right: 0;
    text-align: center;
  }
  .fw_al_008_slide > h1 {
    margin: 0 0 10px 0;
	font-size: 30px;
  }
  .fw_al_008_slide > h2 {
    margin: 0;
	font-size: 20px;
  }
  .fw_al_008_slide > h3 {
    margin: 0;
	font-size: 18px;
  }
  .fw_al_008_slide > a {
	margin: 0;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_indicators_bx > .carousel-indicators{
    display: none;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_008_slide {
    top: 0;
  }
  .fw_al_008_slide > a {
	margin: 0;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_indicators_bx > .carousel-indicators{
    display: none;
  }
}
/*---------- MEDIA 768px - 900px ----------*/
@media (min-width: 768px) and (max-width: 900px) {
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_indicators_bx > .carousel-indicators{
    display: none;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}