/*------------------------------------------------------*/
/* FULL WIDTH IMAGES LAYERS 014
/*------------------------------------------------------*/
#fw_il_014 {
  overflow: hidden;
  position: relative;
  background: #000000;
}
#fw_il_014:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#fw_il_014:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_rfsmall .carousel-control-prev,
.ps_control_rfsmall .carousel-control-next{
  top: 47%;
  opacity: 0;
  width: 45px;
  height: 45px;
  z-index: 100;
  color: #000000;
  display: block;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  line-height: 45px;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.ps_control_rfsmall:hover .carousel-control-prev,
.ps_control_rfsmall:hover .carousel-control-next{
  opacity: 1;
}
.ps_control_rfsmall .carousel-control-prev{
  left: 1%;
}
.ps_control_rfsmall .carousel-control-next{
  right: 1%;
}
.ps_control_rfsmall .carousel-control-prev:hover,
.ps_control_rfsmall .carousel-control-next:hover{
  color: #ffffff;
  background: #000000;
}
.ps_control_rfsmall .carousel-control-prev > span:nth-child(1){
 margin-right: 0;
}
.ps_control_rfsmall .carousel-control-next > span:nth-child(1){
  margin-left: 0;
}
/*---------- SLIDE CAPTION ----------*/
/*---------- BACKGROUND IMAGES ----------*/
#fw_il_014 > .carousel-inner > .carousel-item img {
  width: 100%;
}
#fw_il_014 > .carousel-inner > .carousel-item > .row {
  margin: 0;
}
#fw_il_014 > .carousel-inner > .carousel-item > .row > div {
  padding: 0;
  overflow: hidden;
  max-height: 215px;
}
#fw_il_014 > .carousel-inner > .carousel-item > .row:nth-child(1) > div:nth-child(1) > img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_014 > .carousel-inner > .carousel-item > .row:nth-child(1) > div:nth-child(2) > img {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_014 > .carousel-inner > .carousel-item > .row:nth-child(2) > div:nth-child(1) > img {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_014 > .carousel-inner > .carousel-item > .row:nth-child(2) > div:nth-child(2) > img {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_014 > .carousel-inner > .carousel-item > .row:nth-child(3) > div:nth-child(1) > img {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_014 > .carousel-inner > .carousel-item > .row:nth-child(3) > div:nth-child(2) > img {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
/*---------- TEXT ----------*/
.fw_il_014_slide{
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-align: center;
  position: absolute;
}
.fw_il_014_slide > h2{
  color: #ffffff;
  font-size: 25px;
  text-shadow: none;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'Arimo', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.fw_il_014_slide > h1{
  color: #ffffff;
  font-size: 40px;
  text-shadow: none;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 3px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.fw_il_014_slide_small > h1{
  margin-bottom: 10px;
}
.fw_il_014_slide > a{
  color: #ffffff;
  cursor: pointer;
  font-size: 22px;
  text-shadow: none;
  position: relative;
  text-align: center;
  font-style: italic;
  letter-spacing: 1px;
  text-decoration: underline;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_014_slide > h2{
    display: none;
  }
  .fw_il_014_slide > h1{
    display: none;
  }
  .fw_il_014_slide > a{
    font-size: 14px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_control_rfsmall .carousel-control-prev,
  .ps_control_rfsmall .carousel-control-next{
    display: none;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_014_slide > h2{
	margin: 0;
	font-size: 18px;
  }
  .fw_il_014_slide > h1{
	margin: 0;
	font-size: 18px;
  }
  .fw_il_014_slide_small > h2{
    font-size: 12px;
  }
  .fw_il_014_slide_small > h1{
    font-size: 12px;
  }
  .fw_il_014_slide_small > a{
    font-size: 12px;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_014_slide > h2{
	font-size: 18px;
  }
  .fw_il_014_slide > h1{
	margin: 0;
	font-size: 18px;
  }
  .fw_il_014_slide_small > h2{
    font-size: 12px;
  }
  .fw_il_014_slide_small > h1{
    font-size: 12px;
  }
  .fw_il_014_slide_small > a{
    font-size: 12px;
  }
}

/*---------- MEDIA 768px - 1210px ----------*/
@media (min-width: 768px) and (max-width: 1210px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_014_slide > h2 {
	margin: 0;
  }
  .fw_il_014_slide > h1 {
	margin: 0;
	font-size: 30px;
  }
  .fw_il_014_slide_small > h2 {
	font-size: 20px;
  }
  .fw_il_014_slide_small > h1 {
	font-size: 20px;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}