/*------------------------------------------------------*/
/* FULL WIDTH IMAGES LAYERS 016
/*------------------------------------------------------*/
#fw_il_016 {
  overflow: hidden;
  max-height: 645px;
  position: relative;
  background: #000000;
}
#fw_il_016:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#fw_il_016:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#fw_il_016 > .carousel-inner > .carousel-item{
  width: 100%;
}
/*---------- VERTICLE EFFECT ----------*/
.ps_slide_y .carousel-inner{
  height: 100%;
}
.ps_slide_y .carousel-item{
  height: 100%;
}
.ps_slide_y .carousel-item-next.carousel-item-left,
.ps_slide_y .carousel-item-prev.carousel-item-right {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.ps_slide_y .carousel-item-next,
.ps_slide_y .active.carousel-item-right {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .ps_slide_y .carousel-item-next,
  .ps_slide_y .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.ps_slide_y .carousel-item-prev,
.ps_slide_y .active.carousel-item-left {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .ps_slide_y .carousel-item-prev,
  .ps_slide_y .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_rt_y .carousel-control-prev,
.ps_control_rt_y .carousel-control-next{
  top: 4%;
  opacity: 1;
  width: 45px;
  height: 45px;
  z-index: 100;
  border: none;
  color: #ffffff;
  display: block;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  line-height: 45px;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  background: rgba(238, 221, 117, 0.7);
  -webkit-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.ps_control_rt_y:hover .carousel-control-prev,
.ps_control_rt_y:hover .carousel-control-next{
  opacity: 1;
  -webkit-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.ps_control_rt_y .carousel-control-prev{
  right: 3%;
  left: auto;
}
.ps_control_rt_y .carousel-control-next{
  top: 11%;
  right: 3%;
  left: auto;
  margin-top:1px;
}
.ps_control_rt_y .carousel-control-prev:hover,
.ps_control_rt_y .carousel-control-next:hover{
  color: #eedd75;
  background: #000000;
}
/*---------- SLIDE CAPTION ----------*/
/*---------- BACKGROUND IMAGES ----------*/
#fw_il_016 > .carousel-inner > .carousel-item img {
  width: 100%;
}
#fw_il_016 > .carousel-inner > .carousel-item > .row {
  margin: 0;
}
#fw_il_016 > .carousel-inner > .carousel-item > .row > div {
  padding: 0;
  overflow: hidden;
}
#fw_il_016 > .carousel-inner > .carousel-item > .row > div:nth-child(1) > img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_016 > .carousel-inner > .carousel-item > .row > div:nth-child(2) > img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
/*---------- TEXT ----------*/
.fw_il_016_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  padding: 40% 10px 10px 10px;
  background: rgba(31, 27, 27, 0.6);
}
.fw_il_016_slide_center{
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
  padding-top: 20%;
}
.fw_il_016_slide > h1{
  color: #eedd75;
  font-size: 40px;
  text-shadow: none;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
}
.fw_il_016_slide > h6{
  color: #eedd75;
  font-size: 16px;
  font-weight: 400;
  text-shadow: none;
  font-style: normal;
  letter-spacing: 1px;
  margin: 10px 0 50px 0;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.fw_il_016_slide > a{
  color: #000000;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  text-shadow: none;
  position: relative;
  text-align: center;
  font-style: normal;
  padding: 10px 25px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(238, 221, 117, 1);
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s;
  transition: all cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s;
}
.fw_il_016_slide > a:hover{
  color: #eedd75;
  background: #000000;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_016_slide{
	padding-top: 20%;
  }
  .fw_il_016_slide_center{
	padding-top: 10%;
  }
  .fw_il_016_slide > h1{
    font-size: 20px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_control_rt_y .carousel-control-prev,
  .ps_control_rt_y .carousel-control-next{
    display: none;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_016_slide > h1{
    font-size: 35px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_control_rt_y .carousel-control-next{
    top: 17%;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_control_rt_y .carousel-control-next{
    top: 15%;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}