/*------------------------------------------------------*/
/* FULL WIDTH ANIMATED LAYERS 009
/*------------------------------------------------------*/
#fw_al_009 {
  overflow: hidden;
  max-height: 658px;
  position: relative;
}
#fw_al_009:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#fw_al_009:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#fw_al_009 > .carousel-inner > .carousel-item > img,
#fw_al_009 > .carousel-inner > .carousel-item > a > img {
  margin: auto;
  width: 100% !important;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_sbo .carousel-control-prev,
.ps_control_sbo .carousel-control-next{
  top: 45%;
  opacity: 0;
  width: 50px;
  height: 50px;
  z-index: 100;
  color: #000000;
  display: block;
  font-size: 24px;
  cursor: pointer;
  overflow: hidden;
  line-height: 48px;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  background: #e9e9e9;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 2px solid #000000;
  outline: 2px solid #e9e9e9;
  -webkit-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.ps_control_sbo:hover .carousel-control-prev,
.ps_control_sbo:hover .carousel-control-next{
  opacity: 1;
  -webkit-transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.ps_control_sbo .carousel-control-prev{
  left: 3%;
}
.ps_control_sbo .carousel-control-next{
  right: 3%;
}
.ps_control_sbo .carousel-control-prev:hover,
.ps_control_sbo .carousel-control-prev:focus {
  color: #ffffff;
  background: #ff7f00;
  border: 2px solid #000000;
  outline: 2px solid #e9e9e9;
}
/*---------- SLIDE CAPTION ----------*/
.fw_al_009_slide {
  top: 13%;
  right: 0;
  left: 15%;
  width: 400px;
  height: 400px;
  position: absolute;
  overflow: hidden;
  padding: 20px 50px 20px 50px;
  background: rgba(233, 233, 233, 0.9);
  outline: 2px solid #e9e9e9;
  border: 2px solid #000000;
}
.fw_al_009_right{
  left: auto;
  right: 15%;
  text-align: right;
}
.fw_al_009_center{
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.fw_al_009_slide > h3 {
  color: #ff7f00;
  font-size: 20px;
  text-shadow: none;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 25px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Playfair Display', serif;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.fw_al_009_slide > h3 > span {
  color: #000000;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.fw_al_009_slide > h2 {
  color: #000000;
  font-size: 45px;
  font-weight: 900;
  text-shadow: none;
  letter-spacing: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Playfair Display', serif;
  -webkit-animation-delay:0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.fw_al_009_slide > h2 > span {
  color: #ff7f00;
}
.fw_al_009_slide > h4 {
  color: #000000;
  font-size: 16px;
  text-shadow: none;
  font-weight: normal;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 40px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Playfair Display', serif;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.fw_al_009_slide > a {
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  text-shadow: none;
  text-align: center;
  padding: 13px 30px;
  white-space: nowrap;
  letter-spacing: 2px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: #000000;
  -webkit-font-smoothing: antialiased;
  font-family: 'Playfair Display', serif;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.fw_al_009_slide > a > span {
  opacity: 0;
  right: -20px;
  font-size: 15px;
  position: absolute;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.fw_al_009_slide > a:hover > span {
  opacity: 1;
  right: 12px;
  color: #ffffff;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.fw_al_009_slide > a:hover,
.fw_al_009_slide > a:active {
  color: #ffffff;
  background: #ff7f00;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_009_slide {
    top: 0%;
    left: 0;
    width: 100%;
    padding: 3px;
    text-align: center;
  }
  .fw_al_009_right{
    left: 0;
    right: 0;
    text-align: center;
  }
  .fw_al_009_slide > h2 {
    font-size: 25px;
    margin: 0;
  }
  .fw_al_009_slide > h3 {
    margin-bottom: 10px;
  }
  .fw_al_009_slide > h4 {
    margin-bottom: 10px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_control_sbo .carousel-control-prev,
  .ps_control_sbo .carousel-control-next{
    display: none;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_009_slide {
    top: 0%;
    left: 0;
    width: 100%;
    padding: 3px;
    text-align: center;
  }
  .fw_al_009_right{
    left: 0;
    right: 0;
    text-align: center;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_009_slide {
    top: 0;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}