/*------------------------------------------------------*/
/* FULL WIDTH IMAGES LAYERS 013
/*------------------------------------------------------*/
#fw_il_013{
  overflow: hidden;
  position: relative;
  background: #000000;
}
#fw_il_013:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#fw_il_013:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_wflong .carousel-control-prev,
.ps_control_wflong .carousel-control-next{
  top: 47%;
  opacity: 0;
  width: 50px;
  height: 45px;
  z-index: 100;
  color: #000000;
  display: block;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  line-height: 47px;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  background: rgba(255, 255, 255, 1);
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.ps_control_wflong:hover .carousel-control-prev,
.ps_control_wflong:hover .carousel-control-next{
  opacity: 1;
}
.ps_control_wflong .carousel-control-prev{
  left: 0;
}
.ps_control_wflong .carousel-control-next{
  right: 0;
}
.ps_control_wflong .carousel-control-prev:hover,
.ps_control_wflong .carousel-control-next:hover{
  color: #ffffff;
  background: #000000;
}
.ps_control_wflong .carousel-control-prev > span:nth-child(1){
 margin-right: 10px;
}
.ps_control_wflong .carousel-control-next > span:nth-child(1){
  margin-left: 10px;
}
/*---------- SLIDE CAPTION ----------*/
/*---------- BACKGROUND IMAGES ----------*/
#fw_il_013 > .carousel-inner > .carousel-item img {
  width: 100%;
}
#fw_il_013 > .carousel-inner > .carousel-item > .row {
  margin: 0;
}
#fw_il_013 > .carousel-inner > .carousel-item > .row > div {
  padding: 0;
  overflow: hidden;
}
#fw_il_013 > .carousel-inner > .carousel-item > .row:nth-child(1) > div:nth-child(1) > img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_013 > .carousel-inner > .carousel-item > .row:nth-child(1) > div:nth-child(2) > img {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_013 > .carousel-inner > .carousel-item > .row:nth-child(1) > div:nth-child(3) > img {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_013 > .carousel-inner > .carousel-item > .row:nth-child(1) > div:nth-child(4) > img {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_013 > .carousel-inner > .carousel-item > .row:nth-child(2) > div:nth-child(1) > img {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_013 > .carousel-inner > .carousel-item > .row:nth-child(2) > div:nth-child(2) > img {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_013 > .carousel-inner > .carousel-item > .row:nth-child(2) > div:nth-child(3) > img {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
#fw_il_013 > .carousel-inner > .carousel-item > .row:nth-child(2) > div:nth-child(4) > img {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
/*---------- TEXT ----------*/
.fw_il_013_slide {
  top: 17%;
  right: 0;
  left: 5%;
  width: 275px;
  text-align: left;
  overflow: hidden;
  position: absolute;
}
.fw_il_013_slide > h1 {
  color: #000000;
  font-size: 35px;
  font-weight: 900;
  padding: 5px 5px;
  line-height: 40px;
  text-shadow: none;
  font-style: normal;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.9);
  border-left: 5px solid #000000;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
}
.fw_il_013_slide > a{
  color: #000000;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  text-shadow: none;
  position: relative;
  text-align: center;
  padding: 5px 5px;
  font-style: normal;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: capitalize;
  border-left: 5px solid #000000;
  background: rgba(255, 255, 255, 0.9);
  -webkit-font-smoothing: antialiased;
  font-family: 'Playfair Display', serif;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.fw_il_013_slide > a:hover,
.fw_il_013_slide > a:active{
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_013_slide {
	top: 5%;
  }
  .fw_il_013_slide > h1 {
    display: none;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_013_slide {
	top: 0;
	left: 0;
    width: 125px;
    padding: 0 0 0 3px;
  }
  .fw_il_013_slide > h1 {
    font-size: 18px;
    padding: 2px 2px;
    line-height: 20px;
	margin-bottom: 5px;
    border-left: 2px solid #000000;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_013_slide {
	top: 0;
    width: 125px;
  }
  .fw_il_013_slide > h1 {
    font-size: 20px;
    padding: 2px 2px;
    line-height: 23px;
  }
}

/*---------- MEDIA 768px - 1250px ----------*/
@media (min-width: 768px) and (max-width: 1250px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_il_013_slide {
	top: 0;
	left:0;
  }
  .fw_il_013_slide > h1 {
	width: 200px;
    font-size: 30px;
    line-height: 33px;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}