/*------------------------------------------------------*/
/* INDICATOR NAVIGATION THUMBNAIL 026
/*------------------------------------------------------*/
#in_th_026 {
  overflow: hidden;
  max-height: 643px;
  position: relative;
  background: #000000;
}
#in_th_026:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#in_th_026:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#in_th_026 > .carousel-inner > .carousel-item > img,
#in_th_026 > .carousel-inner > .carousel-item > a > img {
  width: 100%;
  margin: auto;
}
/*---------- INDICATORS THUMBNAIL CONTROL ----------*/
.in_th_below_box_026 > .carousel-indicators{
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  padding: 2px 0;
  display: block;
  overflow-x: auto;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  background: rgba(240, 241, 236, 0.7);
}
.in_th_below_box_026 > .carousel-indicators li:before,
.in_th_below_box_026 > .carousel-indicators li:after{
  display: none;	
}
.in_th_below_box_026 > .carousel-indicators li {
  width: 33.10%;
  height: 100%;
  padding: 0;
  border: none;
  margin: 0 1px;
  text-indent: 0;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  background-color: rgba(189, 150, 85, 0.9);
  -webkit-border-radius: 0;
  border-radius: 0;
}
.in_th_below_box_026 > .carousel-indicators .active {
  height: 100%;
  margin: 0 1px;
  width: 33.10%;
  background-color: transparent;
  background-color: rgba(189, 150, 85, 0.9);
}
.in_th_below_box_026 > .carousel-indicators li img{
  width: 25%;
  float: left;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.in_th_below_box_026 > .carousel-indicators .active img{
  opacity: 0.6;
}
.in_th_below_box_026 > .carousel-indicators > li > div{
  margin: 0;
  width: 75%;
  overflow: hidden;
  text-align: left;
  padding: 4px 10px;
}
.in_th_below_box_026 > .carousel-indicators > li > div > h5{
  padding: 0;
  color: #212121;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 4px 0;
  white-space: normal;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.in_th_below_box_026 > .carousel-indicators > li > div > p{
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 11px;
  text-align: justify;
  letter-spacing: 1px;
   white-space: normal;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.in_th_below_box_026 > .carousel-indicators::-webkit-scrollbar {
  margin: 0;
  padding: 0;
  height: 5px;
  background: rgba(0, 0, 0, 0.3);
}
.in_th_below_box_026 > .carousel-indicators::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 768px) {
  .in_th_below_box_026 > .carousel-indicators {
    bottom: 0;
  }
}
/*---------- SLIDE CAPTION ----------*/
.in_th_026_slide{
  top: 20%;
  left: 10%;
  width: 35%;
  right: auto;
  margin: auto;
  text-align: left;
  position: absolute;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.in_th_026_slide_right{
  right: 10%;
  left: auto;
  text-align: right;
}
.in_th_026_slide_center{
  left: 0;
  right: 0;
  text-align: center;
}
.in_th_026_slide > h1{
  color: #ffffff;
  font-size: 30px;
  margin: 0 0 0 0;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
.in_th_026_slide > a,
.in_th_026_slide > a:visited{
  color: #bd9655;
  cursor: pointer;
  font-size: 11px;
  padding: 3px 5px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 2px;
  white-space: nowrap;
  background: #ffffff;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: background cubic-bezier(0.22,0.81,0.01,0.99);
  transition: background cubic-bezier(0.22,0.81,0.01,0.99);
}
.in_th_026_slide > a:hover,
.in_th_026_slide > a:active {
  color: #ffffff;
  background: #bd9655;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .in_th_below_box_026 > .carousel-indicators li img{
    width: 50%;
  }
  .in_th_below_box_026 > .carousel-indicators > li > div{
    width: 50%;
	padding: 2px;
  }
  .in_th_below_box_026 > .carousel-indicators > li > div > h5{
    font-size: 9px;
  }
  .in_th_below_box_026 > .carousel-indicators > li > div > p{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .in_th_026_slide.in_th_026_slide_right{
    right: 25%;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .in_th_below_box_026 > .carousel-indicators > li > div{
	padding: 2px;
  }
  .in_th_below_box_026 > .carousel-indicators > li > div > h5{
    font-size: 9px;
  }
  .in_th_below_box_026 > .carousel-indicators > li > div > p{
   font-size: 9px;
   text-align: left;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}