/*------------------------------------------------------*/
/* INDICATOR NAVIGATION THUMBNAIL 024
/*------------------------------------------------------*/
#in_th_024 {
  overflow: hidden;
  max-height: 643px;
  position: relative;
  background: #000000;
}
#in_th_024:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#in_th_024:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#in_th_024 > .carousel-inner > .carousel-item > img,
#in_th_024 > .carousel-inner > .carousel-item > a > img {
  width: 100%;
  margin: auto;
}
/*---------- ZOOM EFFECT ----------*/
.ps_zoom_i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.ps_zoom_i .carousel-item {
  top: 0;
  opacity: 0;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0 !important;
  display: block !important;
  -webkit-transform: scale(3);
  transform: scale(3);
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s, opacity cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.5s;
  transition: transform 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0s, opacity cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.5s;
}
.ps_zoom_i .carousel-item:first-child {
  top: auto;
  position: relative;
}
.ps_zoom_i .carousel-item.active {
  opacity: 1;
  z-index: 2;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 1.5s ease-in-out 0s, opacity ease-in-out 1.5s;
  transition: transform 1.5s ease-in-out 0s, opacity ease-in-out 1.5s;
}
/*---------- INDICATORS THUMBNAIL IMAGES ----------*/
.in_th_gallery_024 > .carousel-indicators{
  top: 0;
  left: 80%;
  bottom: 0%;
  width: 20%;
  height: 100%;
  margin-left: 0%;
  overflow: auto;
  display: block;
  padding: 0 0 0 0;
  position: absolute;
  margin-bottom: 0px;
  background: rgba(255, 255, 255, 0.2);
}
.in_th_gallery_024 > .carousel-indicators li:before,
.in_th_gallery_024 > .carousel-indicators li:after{
  display: none;	
}
.in_th_gallery_024 > .carousel-indicators li{
  float: left;
  width: 32.5%;
  height: auto;
  border: none;
  display: block;
  margin: 1px 0 0 1px;
  background-color: transparent;
  background-color: transparent;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.in_th_gallery_024 > .carousel-indicators li img{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.in_th_gallery_024 > .carousel-indicators .active{
  width: 32.5%;
  height: auto;
  border: none;
  margin: 1px 0 0 1px;
  background-color: transparent;
}
.in_th_gallery_024 > .carousel-indicators .active img{
  opacity: 0.6;
}
.in_th_gallery_024 > .carousel-indicators::-webkit-scrollbar{
  width: 4px;
  background: rgba(255, 255, 255, 0.2);
}
.in_th_gallery_024 > .carousel-indicators::-webkit-scrollbar-thumb{
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.8);
}
/*---------- SLIDE CAPTION ----------*/
.in_th_024_slide{
  top: 20%;
  left: 5%;
  width: 35%;
  right: auto;
  margin: auto;
  padding: 5px;
  text-align: left;
  position: absolute;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.in_th_024_slide_right{
  right: 25%;
  left: auto;
  text-align: right;
}
.in_th_024_slide > h1{
  padding: 0;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 10px 0;
  text-transform: capitalize;
  font-family: 'Playfair Display', serif;
}
.in_th_024_slide > p{
  padding: 5px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 40px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}
.in_th_024_slide_right > p{
  text-align: right;
}
.in_th_024_slide > a,
.in_th_024_slide > a:visited{
  color: #fa373d;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
  line-height: 12px;
  text-align: center;
  background: #ffffff;
  letter-spacing: 2px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 4px 25px 4px 4px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s;
  transition: all cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s;
}
.in_th_024_slide > a > span{
  width: 35px;
  height: 35px;
  color: #ffffff;
  line-height: 35px;
  margin: 0 10px 0 0;
  background: #fa373d;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.in_th_024_slide > a:hover,
.in_th_024_slide > a:active{
  color: #ffffff;
  background: #fa373d;
}
.in_th_024_slide > a:hover > span,
.in_th_024_slide > a:active > span{
  color: #fa373d;
  background: #ffffff;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 700px) {
  /*---------- INDICATORS THUMBNAIL IMAGES ----------*/
  .in_th_gallery_024 > .carousel-indicators li{
    width: 31.5%;
  }
  .in_th_gallery_024 > .carousel-indicators .active{
    width: 31.5%;
  }
}
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .in_th_024_slide,
  .in_th_024_slide_right{
	left: 0;
	right: 95%;
	width: 75%;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
  }
  .in_th_024_slide > h1{
    font-size: 18px;
    margin-bottom: 5px;
  }
  .in_th_024_slide > p,
  .in_th_024_slide_right > p{
	font-size: 11px;
	margin-bottom: 5px;
	text-align: center;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .in_th_024_slide {
    top: 5%;
	width: 75%;
  }
  .in_th_024_slide_right {
	left: 1%;
  }
}

/*---------- MEDIA 601px - 850px ----------*/
@media (min-width: 601px) and (max-width: 850px) {
  /*---------- SLIDE CAPTION ----------*/
  .in_th_024_slide {
	top: 3%;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}