/*------------------------------------------------------*/
/* INDICATOR NAVIGATION THUMBNAIL 022
/*------------------------------------------------------*/
#in_th_022 {
  overflow: hidden;
  max-height: 643px;
  position: relative;
  background: #000000;
}
#in_th_022:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#in_th_022:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#in_th_022 > .carousel-inner > .carousel-item > img,
#in_th_022 > .carousel-inner > .carousel-item > a > img {
  opacity:0.8;
  width: 100%;
  margin: auto;
}
/*---------- INDICATORS THUMBNAIL CONTROL ----------*/
.in_th_right_022 > .carousel-indicators {
  top: 0;
  bottom: 0;
  left: 92.5%;
  width: 7.5%;
  height: 100%;
  overflow: auto;
  margin-left: 0;
  padding: 0 2px;
  display: block;
  position: absolute;
  margin-bottom: 0px;
  background: rgba(255, 255, 255, 0.3);
}
.in_th_right_022 > .carousel-indicators li:before,
.in_th_right_022 > .carousel-indicators li:after{
  display: none;	
}
.in_th_right_022 > .carousel-indicators li {
  width: 100%;
  height: auto;
  border: none;
  display: block;
  margin: 2px 0px 2px 0px;
  background-color: transparent;
  background-color: transparent;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.in_th_right_022 > .carousel-indicators li img{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.in_th_right_022 > .carousel-indicators .active {
  width: 100%;
  height: auto;
  border: none;
  margin: 2px 0px 2px 0px;
  background-color: transparent;
}
.in_th_right_022 > .carousel-indicators .active img{
  opacity: 0.6;
}
.in_th_right_022 > .carousel-indicators::-webkit-scrollbar {
  width: 4px;
  background: rgba(255, 255, 255, 0.3);
}

.in_th_right_022 > .carousel-indicators::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 768px) {
  .in_th_right_022 > .carousel-indicators {
    bottom: 0;
  }
}
/*---------- SLIDE CAPTION ----------*/
.in_th_022_slide{
  top: 20%;
  left: 10%;
  width: 35%;
  right: auto;
  margin: auto;
  padding: 5px;
  text-align: left;
  position: absolute;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.in_th_022_slide_right{
  right: 10%;
  left: auto;
  text-align: right;
}
.in_th_022_slide_center{
  left: 0;
  right: 0;
  text-align: center;
}
.in_th_022_slide > h1{
  padding: 0;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  margin: 0 0 15px 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.in_th_022_slide > h2{
  padding: 0;
  color: #ffffff;
  font-size: 35px;
  font-weight: 400;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.in_th_022_slide > p{
  padding: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 25px 0;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.in_th_022_slide_right > p{
  text-align: right;
}
.in_th_022_slide_center > p{
  text-align: center;
}
.in_th_022_slide > a:nth-child(4),
.in_th_022_slide > a:nth-child(4):visited{
  color: #000000;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
  line-height: 10px;
  text-align: center;
  padding: 10px 30px;
  letter-spacing: 2px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  background: #ffffff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  -webkit-transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
  transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
}
.in_th_022_slide > a:nth-child(5),
.in_th_022_slide > a:nth-child(5):visited{
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
  line-height: 10px;
  text-align: center;
  padding: 10px 30px;
  letter-spacing: 2px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.in_th_022_slide > a > span{
  margin-left: 10px;
  -webkit-transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
  transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
}
.in_th_022_slide > a:nth-child(5):hover > span,
.in_th_022_slide > a:nth-child(5):active > span{
  margin-left: 15px;
}
.in_th_022_slide > a:nth-child(4):hover,
.in_th_022_slide > a:nth-child(4):active{
  color: #ffffff;
  background: #000000;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .in_th_022_slide,
  .in_th_022_slide.in_th_022_slide_right{
    top: 0;
	left: 0;
	right: 0;
	width: 90%;
	text-align: center;
  }
  .in_th_022_slide > h1{
    font-size: 25px;
    margin-bottom: 5px;
  }
  .in_th_022_slide > h2{
    font-size: 18px;
  }
  .in_th_022_slide > p,
  .in_th_022_slide_right > p{
	font-size: 11px;
	margin-bottom: 5px;
	text-align: center;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .in_th_022_slide {
    top: 5%;
	left: 2%;
	width: 90%;
  }
  .in_th_022_slide_right {
	left: 0;
  }
}

/*---------- MEDIA 601px - 850px ----------*/
@media (min-width: 601px) and (max-width: 850px) {
  /*---------- SLIDE CAPTION ----------*/
  .in_th_022_slide {
	top: 5%;
	width: 60%;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}