/*------------------------------------------------------*/
/* INDICATOR NAVIGATION THUMBNAIL 025
/*------------------------------------------------------*/
#in_th_025 {
  overflow: hidden;
  max-height: 643px;
  position: relative;
  background: #000000;
}
#in_th_025:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#in_th_025:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#in_th_025 > .carousel-inner > .carousel-item > img,
#in_th_025 > .carousel-inner > .carousel-item > a > img {
  width: 100%;
  margin: auto;
}
/*---------- INDICATORS THUMBNAIL CONTROL ----------*/
.in_th_right_box_025 > .carousel-indicators {
  top: 0;
  bottom: 0;
  left: 70%;
  width: 30%;
  height: 100%;
  overflow: auto;
  margin-left: 0;
  padding: 0 2px;
  display: block;
  position: absolute;
  margin-bottom: 0;
  background: rgba(240, 241, 236, 0.7);
}
.in_th_right_box_025 > .carousel-indicators li:before,
.in_th_right_box_025 > .carousel-indicators li:after{
  display: none;	
}
.in_th_right_box_025 > .carousel-indicators li {
  width: 100%;
  height: auto;
  border: none;
  display: block;
  text-indent: 0;
  overflow: hidden;
  max-height: 65px;
  margin: 2px 0px 2px 0px;
  background-color: transparent;
  background-color: rgba(189, 150, 85, 0.9);
  -webkit-border-radius: 0;
  border-radius: 0;
}
.in_th_right_box_025 > .carousel-indicators .active {
  width: 100%;
  height: auto;
  border: none;
  display: block;
  text-indent: 0;
  overflow: hidden;
  max-height: 65px;
  margin: 2px 0px 2px 0px;
  background-color: transparent;
  background-color: rgba(189, 150, 85, 0.9);
  -webkit-border-radius: 0;
  border-radius: 0;
}
.in_th_right_box_025 > .carousel-indicators li img{
  width: 25%;
  float: left;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.in_th_right_box_025 > .carousel-indicators .active img{
  opacity: 0.6;
}
.in_th_right_box_025 > .carousel-indicators > li > div{
  margin: 0;
  width: 75%;
  overflow: hidden;
  text-align: left;
  padding: 3px 10px;
}
.in_th_right_box_025 > .carousel-indicators > li > div > h5{
  margin: 0;
  padding: 0;
  color: #212121;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.in_th_right_box_025 > .carousel-indicators > li > div > p{
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 11px;
  text-align: justify;
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.in_th_right_box_025 > .carousel-indicators::-webkit-scrollbar {
  width: 4px;
  background: rgba(255, 255, 255, 0.3);
}

.in_th_right_box_025 > .carousel-indicators::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 768px) {
  .in_th_right_box_025 > .carousel-indicators {
    bottom: 0;
  }
}
/*---------- SLIDE CAPTION ----------*/
.in_th_025_slide{
  top: 30%;
  left: 5%;
  width: 35%;
  right: auto;
  margin: auto;
  padding: 5px;
  text-align: left;
  position: absolute;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.in_th_025_slide_right{
  right: 32%;
  left: auto;
  text-align: right;
}
.in_th_025_slide > h1{
  padding: 0;
  color: #ffffff;
  font-size: 28px;
  font-weight: 800;
  margin: 0 0 15px 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.in_th_025_slide > a,
.in_th_025_slide > a:visited{
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  padding: 0;
  letter-spacing: 2px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.in_th_025_slide > a > span{
  margin-left: 10px;
  -webkit-transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
  transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
}
.in_th_025_slide > a:hover > span,
.in_th_025_slide > a:active > span{
  margin-left: 15px;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .in_th_right_box_025 > .carousel-indicators {
    padding: 0 1px;
  }
  .in_th_right_box_025 > .carousel-indicators li {
    margin: 1px 0px 1px 0px;
  }
  .in_th_right_box_025 > .carousel-indicators .active {
    margin: 1px 0px 1px 0px;
  }
  .in_th_right_box_025 > .carousel-indicators li img{
    width: 50%;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div{
    width: 50%;
    padding: 1px 2px;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div > h5 {
    font-size: 9px;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div > p {
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .in_th_025_slide,
  .in_th_025_slide_right{
    top: 10%;
	left: 1%;
	right: auto;
	text-align: left;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .in_th_right_box_025 > .carousel-indicators {
    padding: 0 1px;
  }
  .in_th_right_box_025 > .carousel-indicators li {
    margin: 1px 0px 1px 0px;
  }
  .in_th_right_box_025 > .carousel-indicators .active {
    margin: 1px 0px 1px 0px;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div > h5 {
    font-size: 9px;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div > p {
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .in_th_025_slide_right {
	right: 35%;
  }
}

/*---------- MEDIA 601px - 725px ----------*/
@media (min-width: 601px) and (max-width: 725px) {
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .in_th_right_box_025 > .carousel-indicators {
    left: 60%;
    width: 40%;
    padding: 0 1px;
  }
  .in_th_right_box_025 > .carousel-indicators li {
    margin: 1px 0px 1px 0px;
  }
  .in_th_right_box_025 > .carousel-indicators .active {
    margin: 1px 0px 1px 0px;
  }
  .in_th_right_box_025 > .carousel-indicators li img{
    width: 35%;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div{
    width: 65%;
    padding: 1px 2px;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div > h5 {
    font-size: 9px;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div > p {
    font-size: 9px;
	text-align: left;
  }
  /*---------- SLIDE CAPTION ----------*/
  .in_th_025_slide_right {
	right: 40%;
  }
}

/*---------- MEDIA 726px - 810px ----------*/
@media (min-width: 726px) and (max-width: 810px) {
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .in_th_right_box_025 > .carousel-indicators {
    left: 65%;
    width: 35%;
  }
  .in_th_right_box_025 > .carousel-indicators li img{
    width: 35%;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div{
    width: 65%;
    padding: 1px 2px;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div > h5 {
    font-size: 9px;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div > p {
    font-size: 9px;
	text-align: left;
  }
  /*---------- SLIDE CAPTION ----------*/
  .in_th_025_slide_right {
	right: 35%;
  }
}

/*---------- MEDIA 811px - 950px ----------*/
@media (min-width: 811px) and (max-width: 950px) {
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .in_th_right_box_025 > .carousel-indicators {
    left: 62%;
    width: 38%;
  }
  .in_th_right_box_025 > .carousel-indicators li img{
    width: 35%;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div{
    width: 65%;
    padding: 1px 2px;
  }
  .in_th_right_box_025 > .carousel-indicators > li > div > p {
    font-size: 10px;
	text-align: left;
  }
  /*---------- SLIDE CAPTION ----------*/
  .in_th_025_slide_right {
	right: 38%;
  }
}
/*---------- MEDIA 951px - 1200px ----------*/
@media (min-width: 951px) and (max-width: 1250px) {
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .in_th_right_box_025 > .carousel-indicators {
    left: 62%;
    width: 38%;
  }
  /*---------- SLIDE CAPTION ----------*/
  .in_th_025_slide_right {
	right: 38%;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}