/*------------------------------------------------------*/
/* JAVASCRIPT FORM 036
/*------------------------------------------------------*/
#js_frm_036 {
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#js_frm_036:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#js_frm_036:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#js_frm_036 > .carousel-inner > .carousel-item > img,
#js_frm_036 > .carousel-inner > .carousel-item > a > img {
  width: 100%;
  opacity: 0.8;
  margin: auto;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_smlongtrans .carousel-control-prev,
.ps_control_smlongtrans .carousel-control-next{
  top: 45%;
  opacity: 0;
  width: 50px;
  height: 25px;
  z-index: 100;
  color: #000000;
  display: block;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  line-height: 25px;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  background: rgba(255,255,255,0.5);
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ps_control_smlongtrans:hover .carousel-control-prev,
.ps_control_smlongtrans:hover .carousel-control-next{
  opacity: 1;
}
.ps_control_smlongtrans .carousel-control-prev{
  left: 1%;
}
.ps_control_smlongtrans .carousel-control-next{
  right: 1%;
}
.ps_control_smlongtrans .carousel-control-prev:hover,
.ps_control_smlongtrans .carousel-control-next:hover{
  color: #ffffff;
  background: rgba(0,0,0,0.5);
  border: none;
}
.ps_control_smlongtrans .carousel-control-prev > span:nth-child(1){
 left: 45%;
}
.ps_control_smlongtrans .carousel-control-next > span:nth-child(1){
 right: 45%;
}
/*---------- SLIDE CAPTION ----------*/
.js_frm_contactus{
  top: 7%;
  right: 0;
  left: 7%;
  width: 32%;
  overflow: hidden;
  text-align: left;
  position: absolute;
  background: rgba(0,0,0,0.5);
  padding: 0px 20px 20px 20px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus_right{
  top: 7%;
  right: 7%;
  left: auto;
}
.js_frm_contactus_center{
  left: 0;
  top: 7%;
  right: 0;
  margin: auto;
}
.js_frm_contactus:before,
.js_frm_contactus:after,
.js_frm_contactus > :first-child:before,
.js_frm_contactus > :first-child:after {
  width: 75px; 
  height: 75px;
  content: ' ';
  position: absolute;
  border-style: solid;
  border-color: #ffffff;
}
.js_frm_contactus_white:before,
.js_frm_contactus_white:after,
.js_frm_contactus_white > :first-child:before,
.js_frm_contactus_white > :first-child:after {
  border-color: #000000;
}
.js_frm_contactus_transparent:before,
.js_frm_contactus_transparent:after,
.js_frm_contactus_transparent > :first-child:before,
.js_frm_contactus_transparent > :first-child:after {
  border-color: #4f8af2;
}
.js_frm_contactus:before{
  top: 0;
  left: 0;
  border-width: 0 0 0 0;
}
.js_frm_contactus:after{
  top: 0;
  right: 0;
  border-width: 1px 1px 0 0;
}
.js_frm_contactus>:first-child:before{
  right: 0;
  bottom: 0;
  border-width: 0 0 0 0;
}
.js_frm_contactus>:first-child:after{
  left: 0;
  bottom: 0;
  border-width: 0 0 1px 1px;
}
.js_frm_contactus_white{
  background: rgba(255,255,255,0.5);
}
.js_frm_contactus_transparent{
  background: rgba(255,255,255,0.5);
}
.js_frm_contactus > .row{
  margin: 0;
}
.js_frm_contactus > form > .form-group {
  padding: 0;
}
.js_frm_contactus > h3{
  padding: 0;
  color: #ffffff;
  font-size: 20px;
  text-shadow: none;
  text-align: left;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
}
.js_frm_contactus_white > h3{
  color: #000000;
}
.js_frm_contactus_transparent > h3{
  color: #4f8af2;
}
.js_frm_contactus > p{
  color: #ffffff;
  font-size: 12px;
  text-shadow: none;
  text-align: justify;
  font-weight: normal;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}
.js_frm_contactus_white > p{
  color: #000000;
}
.js_frm_contactus_transparent > p{
  color: #4f8af2;
}
.js_frm_contactus > span{
  width: 200px;
  display: block;
  color: #ffffff;
  font-size: 12px;
  text-shadow: none;
  text-align: left;
  font-weight: normal;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}
.js_frm_contactus_white > span{
  color: #000000;
}
.js_frm_contactus_transparent > span{
  color: #4f8af2;
}
.js_frm_contactus > a{
  width: 200px;
  display: block;
  color: #fe6857;
  font-size: 12px;
  text-shadow: none;
  text-align: justify;
  font-weight: normal;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus_white > a{
  color: #e9ed92;
}
.js_frm_contactus_transparent > a{
  color: rgba(79, 138, 242,0.5);
}
.js_frm_contactus > a:hover{
  color: rgba(79, 138, 242,1);
}
/*---------- BUTTONS ----------*/
.js_frm_contactus > form > button,
.js_frm_contactus > form > button:focus{
  width: 100%;
  border: none;
  outline: none;
  color: #ffffff;
  box-shadow: none;
  padding: 9px 15px;
  letter-spacing: 1px;
  display: inline-block;
  background: transparent;
  text-transform: capitalize;
  border-bottom: 1px solid #ffffff;
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus_white > form > button,
.js_frm_contactus_white > form > button:focus{
  border: none;
  color: #000000;
  background: transparent;
  border-bottom: 1px solid #000000;
}
.js_frm_contactus_transparent > form > button,
.js_frm_contactus_transparent > form > button:focus{
  border: none;
  color: rgba(79, 138, 242,0.7);
  background: transparent;
  border-bottom: 1px solid rgba(79, 138, 242,0.7);
}
.js_frm_contactus > form > button:hover,
.js_frm_contactus > form > button:active{
  outline: none !important;
  border: none !important;
  color: #fe6857 !important;
  background: transparent !important;
   border-bottom: 1px solid #fe6857 !important;
}
.js_frm_contactus_white > form > button:hover,
.js_frm_contactus_white > form > button:active{
  border: none !important;
  color: #e9ed92 !important;
  background: transparent !important;
  border-bottom: 1px solid #e9ed92 !important;
}
.js_frm_contactus_transparent > form > button:hover,
.js_frm_contactus_transparent > form > button:active{
  color: #4f8af2 !important;
  border-bottom: 1px solid #4f8af2 !important;
  background: transparent !important;
  border-color: none !important;
}
/*---------- INPUT FIELDS ----------*/
.js_frm_contactus > form > div > input{
  height: 38px;						/*---------- height is essential to show placeholder in firefox ----------*/
  border: none;
  color: #fe6857;
  padding: 0 20px;
  background: transparent;
  letter-spacing: 1px;
  border-bottom: 1px solid #ffffff;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-transition: all .5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all .5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus > form > div{
  margin-top: 10px;
  margin-bottom: 10px;
}
.js_frm_contactus > form > div > textarea{
  resize: none;
  border: none;
  color: #fe6857;
  padding: 10px 20px;
  letter-spacing: 1px;
  background: transparent;
  border-bottom: 1px solid #ffffff;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-transition: all .5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all .5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus_white > form > div > input{
  border: none;
  color: #e9ed92;
  background: transparent;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.js_frm_contactus_white > form > div > textarea{
  border: none;
  color: #e9ed92;
  background: transparent;
  border-bottom: 1px solid #000000;
}
.js_frm_contactus_transparent > form > div > input{
  border: none;
  color: rgba(79, 138, 242,1);
  background: transparent;
  border-bottom: 1px solid rgba(79, 138, 242,0.7);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}
.js_frm_contactus_transparent > form > div > textarea{
  border: none;
  color: rgba(79, 138, 242,1);
  background: transparent;
  border-bottom: 1px solid  rgba(79, 138, 242,0.7);
  border-radius: 0;
  -webkit-border-radius: 0;
}
.js_frm_contactus > form > div > input:focus {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fe6857;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.js_frm_contactus > form > div > textarea:focus {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fe6857;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.js_frm_contactus_white > form > div > input:focus {
  border: none;
  background: transparent;
  border-bottom: 1px solid #e9ed92;
}
.js_frm_contactus_white > form > div > textarea:focus {
  border: none;
  background: transparent;
  border-bottom: 1px solid #e9ed92;
}
.js_frm_contactus_transparent > form > div > input:focus,
.js_frm_contactus_transparent > form > div > textarea:focus {
  background: transparent;
  border-bottom: 1px solid #4f8af2;
}
/*---------- PLACE HOLDER ----------*/
.js_frm_contactus > form > div > input::-webkit-input-placeholder{
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus > form > div > textarea::-webkit-input-placeholder{
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus > form > div > input::-moz-placeholder{
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus > form > div > textarea::-moz-placeholder{
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus > form > div > input:-ms-input-placeholder{
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus > form > div > textarea:-ms-input-placeholder{
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus > form > div > input:-moz-placeholder{
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus > form > div > textarea:-moz-placeholder{
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_frm_contactus > form > div > input:focus::-webkit-input-placeholder{
  color: #fe6857;
}
.js_frm_contactus > form > div > textarea:focus::-webkit-input-placeholder{
  color: #fe6857;
}
.js_frm_contactus > form > div > input:focus::-moz-placeholder{
  color: #fe6857;
}
.js_frm_contactus > form > div > textarea:focus::-moz-placeholder{
  color: #fe6857;
}
.js_frm_contactus > form > div > input:focus:-ms-input-placeholder{
  color: #fe6857;
}
.js_frm_contactus > form > div > textarea:focus:-ms-input-placeholder{
  color: #fe6857;
}
.js_frm_contactus > form > div > input:focus:-moz-placeholder{
  color: #fe6857;
}
.js_frm_contactus > form > div > textarea:focus:-moz-placeholder{
  color: #fe6857;
}
.js_frm_contactus_white > form > div > input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 1);
}
.js_frm_contactus_white > form > div > textarea::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 1);
}
.js_frm_contactus_white > form > div > input::-moz-placeholder{
  color: rgba(0, 0, 0, 1);
}
.js_frm_contactus_white > form > div > textarea::-moz-placeholder{
  color: rgba(0, 0, 0, 1);
}
.js_frm_contactus_white > form > div > input:-ms-input-placeholder{
  color: rgba(0, 0, 0, 1);
}
.js_frm_contactus_white > form > div > textarea:-ms-input-placeholder{
  color: rgba(0, 0, 0, 1);
}
.js_frm_contactus_white > form > div > input:-moz-placeholder{
  color: rgba(0, 0, 0, 1);
}
.js_frm_contactus_white > form > div > textarea:-moz-placeholder{
  color: rgba(0, 0, 0, 1);
}
.js_frm_contactus_white > form > div > input:focus::-webkit-input-placeholder{
  color: #e9ed92;
}
.js_frm_contactus_white > form > div > textarea:focus::-webkit-input-placeholder{
  color: #e9ed92;
}
.js_frm_contactus_white > form > div > input:focus::-moz-placeholder{
  color: #e9ed92;
}
.js_frm_contactus_white > form > div > textarea:focus::-moz-placeholder{
  color: #e9ed92;
}
.js_frm_contactus_white > form > div > input:focus:-ms-input-placeholder{
  color: #e9ed92;
}
.js_frm_contactus_white > form > div > textarea:focus:-ms-input-placeholder{
  color: #e9ed92;
}
.js_frm_contactus_white > form > div > input:focus:-moz-placeholder{
  color: #e9ed92;
}
.js_frm_contactus_white > form > div > textarea:focus:-moz-placeholder{
  color: #e9ed92;
}
.js_frm_contactus_transparent > form > div > input::-webkit-input-placeholder{
  color: rgba(79, 138, 242,0.7);
}
.js_frm_contactus_transparent > form > div > textarea::-webkit-input-placeholder{
  color: rgba(79, 138, 242,0.7);
}
.js_frm_contactus_transparent > form > div > input::-moz-placeholder{
  color: rgba(79, 138, 242,0.7);
}
.js_frm_contactus_transparent > form > div > textarea::-moz-placeholder{
  color: rgba(79, 138, 242,0.7);
}
.js_frm_contactus_transparent > form > div > input:-ms-input-placeholder{
  color: rgba(79, 138, 242,0.7);
}
.js_frm_contactus_transparent > form > div > textarea:-ms-input-placeholder{
  color: rgba(79, 138, 242,0.7);
}
.js_frm_contactus_transparent > form > div > input:-moz-placeholder{
  color: rgba(79, 138, 242,0.7);
}
.js_frm_contactus_transparent > form > div > textarea:-moz-placeholder{
  color: rgba(79, 138, 242,0.7);
}
.js_frm_contactus_transparent > form > div > input:focus::-webkit-input-placeholder{
  color: #4f8af2;
}
.js_frm_contactus_transparent > form > div > textarea:focus::-webkit-input-placeholder{
  color: #4f8af2;
}
.js_frm_contactus_transparent > form > div > input:focus::-moz-placeholder{
  color: #4f8af2;
}
.js_frm_contactus_transparent > form > div > textarea:focus::-moz-placeholder{
  color: #4f8af2;
}
.js_frm_contactus_transparent > form > div > input:focus:-ms-input-placeholder{
  color: #4f8af2;
}
.js_frm_contactus_transparent > form > div > input:focus:-ms-input-placeholder{
  color: #4f8af2;
}
.js_frm_contactus_transparent > form > div > input:focus:-moz-placeholder{
  color: #4f8af2;
}
.js_frm_contactus_transparent > form > div > textarea:focus:-moz-placeholder{
  color: #4f8af2;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- WRAPPER ----------*/
  #js_frm_036 {
    height: 580px;
  }
  #js_frm_036 > .carousel-inner,
  #js_frm_036 > .carousel-inner > .carousel-item{
    height: 580px;
  }
  #js_frm_036 > .carousel-inner > .carousel-item > img,
  #js_frm_036 > .carousel-inner > .carousel-item > a > img {
    height: 100%;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_control_smlongtrans .carousel-control-prev,
  .ps_control_smlongtrans .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_frm_contactus{
    top: 2%;
    left: 0;
	margin: auto;
    width: 290px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- WRAPPER ----------*/
  #js_frm_036 {
    height: 600px;
  }
  #js_frm_036 > .carousel-inner,
  #js_frm_036 > .carousel-inner > .carousel-item{
    height: 600px;
  }
  #js_frm_036 > .carousel-inner > .carousel-item > img,
  #js_frm_036 > .carousel-inner > .carousel-item > a > img {
    height: 100%;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_frm_contactus{
    top: 3%;
    width: 300px;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- WRAPPER ----------*/
  #js_frm_036 {
    height: 600px;
  }
  #js_frm_036 > .carousel-inner,
  #js_frm_036 > .carousel-inner > .carousel-item{
    height: 600px;
  }
  #js_frm_036 > .carousel-inner > .carousel-item > img,
  #js_frm_036 > .carousel-inner > .carousel-item > a > img {
    height: 100%;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_frm_contactus{
    top: 2%;
    width: 300px;
  }
}

/*---------- MEDIA 768px - 875px ----------*/
@media (min-width: 768px) and (max-width: 875px) {
  /*---------- WRAPPER ----------*/
  #js_frm_036 {
    height: 600px;
  }
  #js_frm_036 > .carousel-inner,
  #js_frm_036 > .carousel-inner > .carousel-item{
    height: 600px;
  }
  #js_frm_036 > .carousel-inner > .carousel-item > img,
  #js_frm_036 > .carousel-inner > .carousel-item > a > img {
    height: 100%;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_frm_contactus{
    top: 2%;
    width: 300px;
  }
}

/*---------- MEDIA 876px - 1170px ----------*/
@media (min-width: 876px) and (max-width: 1170px) {

  /*---------- SLIDE CAPTION ----------*/
  .js_frm_contactus{
    top: 1%;
	width: 300px;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}