/*------------------------------------------------------*/
/* JAVASCRIPT GRAPH 043
/*------------------------------------------------------*/
#js_graph_043{
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#js_graph_043:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#js_graph_043:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#js_graph_043 > .carousel-inner > .carousel-item > img,
#js_graph_043 > .carousel-inner > .carousel-item > a > img{
  width: 100%;
  margin: auto;
}
/*---------- INDICATORS CONTROL ----------*/
.ps_indicators_numbers_x > .carousel-indicators{
  top: 1%;
  left: 1%;
  width: 98%;
  height: 45px;
  display: block;
  padding-left: 1%;
  cursor: e-resize;
  overflow-x: auto;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.ps_indicators_numbers_x > .carousel-indicators li{
  margin: 1px;
  width: auto;
  height: auto;
  border: none;
  padding: 5px;
  color: #ffffff;
  text-indent: 0;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  background: transparent;
  font-family: 'Raleway', sans-serif;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.ps_indicators_numbers_x > .carousel-indicators .active{
  margin: 1px;
  width: auto;
  height: auto;
  border: none;
  font-size: 35px;
  font-weight: 600;
  background: transparent;
  text-indent: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
}

.ps_indicators_numbers_x > .carousel-indicators::-webkit-scrollbar{
  height: 5px;
}
.ps_indicators_numbers_x > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_bottom_rx .carousel-control-prev,
.ps_control_bottom_rx .carousel-control-next{
  top: 91%;
  opacity: 1;
  width: 20px;
  height: 20px;
  z-index: 100;
  border: none;
  color: #ffffff;
  display: block;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  line-height: 20px;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  background: transparent;
  -webkit-transition: all 1s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 1s cubic-bezier(0.22,0.81,0.01,0.99);
}
.ps_control_bottom_rx:hover .carousel-control-prev,
.ps_control_bottom_rx:hover .carousel-control-next{
  opacity: 1;
  -webkit-transition: all 1s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 1s cubic-bezier(0.22,0.81,0.01,0.99);
}
.ps_control_bottom_rx .carousel-control-prev {
  left: 3%;
}
.ps_control_bottom_rx .carousel-control-next {
  left: 6%;
  right: auto;
}
.ps_control_bottom_rx .carousel-control-prev:hover,
.ps_control_bottom_rx .carousel-control-next:hover{
  color: #434343;
  background: transparent;
}
/*---------- SLIDE CAPTION ----------*/
.js_graph_striped_anim{
  top: 6%;
  left: 5%;
  width: 38%;
  right: auto;
  overflow: hidden;
  text-align: left;
  position: absolute;
  background: #323433;
  padding: 0 20px 20px 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 43px 69px -25px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 43px 69px -25px rgba(0,0,0,0.75);
  box-shadow: 0px 43px 69px -25px rgba(0,0,0,0.75);
}
.js_graph_striped_anim_right{
  right: 10%;
  left: auto;
  text-align: right;
}
.js_graph_striped_anim_center{
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.js_graph_striped_anim > h2{
  color: #afafaf;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_graph_striped_anim > div{
  text-align: left;
}
.js_graph_striped_anim > div > span{
  color: #afafaf;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
}
.js_graph_striped_anim > div > span:nth-child(2){
  float: right;
}
.js_graph_striped_anim > div > .progress{
  height: 15px;
  margin-bottom: 30px;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
/*---------- PROGRESS BAR ANIMATION ----------*/
@-webkit-keyframes ps_progress_bar_animation{
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes ps_progress_bar_animation{
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes ps_progress_bar_animation{
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.js_graph_striped_anim > div > .progress > .progress-bar{
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #434343;
  -webkit-animation: ps_progress_bar_animation 2s linear infinite;
  -o-animation: ps_progress_bar_animation 2s linear infinite;
  animation: ps_progress_bar_animation 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 10px 10px;
  background-size: 10px 10px;
}
.js_graph_striped_anim > div:nth-child(2){
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_graph_striped_anim > div:nth-child(3){
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_graph_striped_anim > div:nth-child(4){
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_graph_striped_anim > div:nth-child(5){
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_graph_striped_anim > div:nth-child(6){
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_graph_striped_anim > div:nth-child(7){
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.js_graph_striped_anim > a,
.js_graph_striped_anim > a:visited{
  color: #afafaf;
  cursor: pointer;
  font-size: 12px;
  padding: 10px 40px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  background: #434343;
  -webkit-animation: ps_progress_bar_animation 2s linear infinite;
  -o-animation: ps_progress_bar_animation 2s linear infinite;
  animation: ps_progress_bar_animation 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 10px 10px;
  background-size: 10px 10px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
  transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
}
.js_graph_striped_anim > a:hover,
.js_graph_striped_anim > a:active{
  color: #434343;
  background: #ffffff;
  -webkit-animation: ps_progress_bar_animation 2s linear infinite;
  -o-animation: ps_progress_bar_animation 2s linear infinite;
  animation: ps_progress_bar_animation 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(67, 67, 67, .15) 25%, transparent 25%, transparent 50%, rgba(67, 67, 67, .15) 50%, rgba(67, 67, 67, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(67, 67, 67, .15) 25%, transparent 25%, transparent 50%, rgba(67, 67, 67, .15) 50%, rgba(67, 67, 67, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(67, 67, 67, .15) 25%, transparent 25%, transparent 50%, rgba(67, 67, 67, .15) 50%, rgba(67, 67, 67, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 10px 10px;
  background-size: 10px 10px;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_numbers_x > .carousel-indicators{
    display: none;
  }
  .ps_control_bottom_rx .carousel-control-prev,
  .ps_control_bottom_rx .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_graph_striped_anim{
    top: 0;
    left: 0;
    width: 100%;
    padding: 3px;
	opacity: 0.8;
  }
  .js_graph_striped_anim_right{
    left: 0;
    right: 0;
  }
  .js_graph_striped_anim > h2{
    margin: 0;
	font-size: 14px;
  }
  .js_graph_striped_anim > div > .progress{
	height: 5px;
    margin-bottom: 0;
  }
  .js_graph_striped_anim > a,
  .js_graph_striped_anim > a:visited{
    font-size: 10px;
    margin-top: 2px;
    padding: 2px 15px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_numbers_x > .carousel-indicators{
    display: none;
  }
  .ps_control_bottom_rx .carousel-control-prev,
  .ps_control_bottom_rx .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_graph_striped_anim{
	top: 1%;
    width: 67%;
	opacity: 0.9;
  }
  .js_graph_striped_anim > h2{
    font-size: 25px;
    margin: 0;
  }
  .js_graph_striped_anim > div > .progress{
    height: 13px;
    margin-bottom: 7px;
  }
  .js_graph_striped_anim > a,
  .js_graph_striped_anim > a:visited{
    padding: 5px 20px;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px){
  /*---------- SLIDE CAPTION ----------*/
  .js_graph_striped_anim{
	top: 4%;
	width: 65%;
	opacity: 0.9;
  }
  .js_graph_striped_anim > div > .progress{
    margin-bottom: 5px;
  }
  .js_graph_striped_anim > a,
  .js_graph_striped_anim > a:visited{
    padding: 5px 20px;
  }
}

/*---------- MEDIA 768px - 875px ----------*/
@media (min-width: 768px) and (max-width: 1000px){
  /*---------- SLIDE CAPTION ----------*/
  .js_graph_striped_anim{
	width: 50%;
  }
  .js_graph_striped_anim > div > .progress{
    margin-bottom: 15px;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}