/*------------------------------------------------------*/
/* JAVASCRIPT GRAPH 050
/*------------------------------------------------------*/
#js_graph_050{
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#js_graph_050:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#js_graph_050:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#js_graph_050 > .carousel-inner > .carousel-item > img,
#js_graph_050 > .carousel-inner > .carousel-item > a > img{
  width: 100%;
  margin: auto;
  opacity: 0.5;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
/*---------- INDICATORS CONTROL ----------*/
.ps_indicators_num_sm > .carousel-indicators{
  margin: 0;
  right: 1%;
  width: 95%;
  left: auto;
  bottom: 20px;
  height: 55px;
  display: block;
  text-align: left;
  overflow-x: auto;
  line-height: 110px;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}
.ps_indicators_num_sm > .carousel-indicators li{
  margin: 1px;
  width: 20px;
  height: 5px;
  border: none;
  text-indent: 0;
  line-height: 0;
  color: #ffffff;
  font-size: 42px;
  display: inline-block;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-transition: all 0.5s cubic-bezier(0.3,1,0,1);
  transition: all 0.5s cubic-bezier(0.3,1,0,1);
  box-shadow: none;
  -webkit-box-shadow: none;
}
.ps_indicators_num_sm > .carousel-indicators li span{
  opacity: 0;
  top: -20px;
  left: -50px;
  position: relative;
  -webkit-transition: all 1s cubic-bezier(0.3,1,0,1);
  transition: all 1s cubic-bezier(0.3,1,0,1);
}
.ps_indicators_num_sm > .carousel-indicators .active{
  width: 50px;
  margin: 1px;
  height: 5px;
  border: none;
  text-indent: 0;
  background: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ps_indicators_num_sm > .carousel-indicators .active span{
  left: 0;
  opacity: 1;
}
.ps_indicators_num_sm > .carousel-indicators::-webkit-scrollbar{
  height: 5px;
}
.ps_indicators_num_sm > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_xs_long .carousel-control-prev,
.ps_control_xs_long .carousel-control-next{
  top: 3%;
  opacity: 1;
  width: 50px;
  height: 15px;
  z-index: 100;
  border: none;
  color: #000000;
  display: block;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  background:rgba(255,255,255,0.9);
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: all 1s cubic-bezier(0.3,1,0,1);
  transition: all 1s cubic-bezier(0.3,1,0,1);
}
.ps_control_xs_long:hover .carousel-control-prev,
.ps_control_xs_long:hover .carousel-control-next{
  opacity: 1;
  -webkit-transition: all 1s cubic-bezier(0.3,1,0,1);
  transition: all 1s cubic-bezier(0.3,1,0,1);
}
.ps_control_xs_long .carousel-control-prev {
  right: auto;
  left: 2%;
}
.ps_control_xs_long .carousel-control-next {
  right: auto;
  left: 6%;
}
.ps_control_xs_long .carousel-control-prev span,
.ps_control_xs_long .carousel-control-next span{
  margin: auto;
}
.ps_control_xs_long .carousel-control-prev:hover,
.ps_control_xs_long .carousel-control-next:hover{
  color: #000000;
  background: #ffffff;
  box-shadow: none;
  -webkit-box-shadow: none;
}
/*---------- SLIDE CAPTION ----------*/
.js_graph_xs_long_bar{
  top: 25%;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
  padding: 5px;
  overflow: hidden;
  text-align: left;
  position: absolute;
}
.js_graph_xs_long_bar > p{
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
}
.js_graph_xs_long_bar > ul{
  padding: 0;
  text-align: right;
  list-style-type: none;
}
.js_graph_xs_long_bar > ul > li{
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  position: relative;
  letter-spacing: 1px;
  padding: 0 40px 0 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
}
.js_graph_xs_long_bar > ul > li:nth-child(1):after,
.js_graph_xs_long_bar > ul > li:nth-child(2):after,
.js_graph_xs_long_bar > ul > li:nth-child(3):after,
.js_graph_xs_long_bar > ul > li:nth-child(4):after,
.js_graph_xs_long_bar > ul > li:nth-child(5):after{
  top: 5px;
  left: auto;
  right: 0;
  width: 30px;
  content: "";
  height: 11px;
  position: absolute;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
.js_graph_xs_long_bar > .progress{
  height: 20px;
  margin: 20px 0;
  background: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.js_graph_xs_long_bar > .progress > .progress-bar{
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.js_graph_xs_long_bar > a,
.js_graph_xs_long_bar > a:visited{
  color: #000000;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  padding: 3px 40px 0 40px;
  text-transform: uppercase;
  background: rgba(255,255,255,0.9);
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-transition: all 1s cubic-bezier(0.3,1,0,1);
  transition: all 1s cubic-bezier(0.3,1,0,1);
}
.js_graph_xs_long_bar > a:hover,
.js_graph_xs_long_bar > a:active{
  color: #ffffff;
  background: #000000;
}
/*---------- Colors ----------*/
.js_graph_xs_long_bar > ul > li:nth-child(1):after,
.js_graph_xs_long_bar > .progress > .progress-bar:nth-child(1){
  background: #fe4745;
}
.js_graph_xs_long_bar > ul > li:nth-child(2):after,
.js_graph_xs_long_bar > .progress > .progress-bar:nth-child(2){
  background: #4fbf69;
}
.js_graph_xs_long_bar > ul > li:nth-child(3):after,
.js_graph_xs_long_bar > .progress > .progress-bar:nth-child(3){
  background: #a92d7e;
}
.js_graph_xs_long_bar > ul > li:nth-child(4):after,
.js_graph_xs_long_bar > .progress > .progress-bar:nth-child(4){
  background: #fdac14;
}
.js_graph_xs_long_bar > ul > li:nth-child(5):after,
.js_graph_xs_long_bar > .progress > .progress-bar:nth-child(5){
  background: #366bb7;
}
.js_graph_xs_long_bar > .progress > .progress-bar:hover{
  color: #ffffff;
  cursor: pointer;
  background: #000000;
  cursor: -moz-pointer;
  cursor: -webkit-pointer;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_num_sm > .carousel-indicators{
    display: none;
  }
  .ps_control_xs_long .carousel-control-next {
    left: 20%;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_graph_xs_long_bar{
	top: 0;
    width: 100%;
  }
  .js_graph_xs_long_bar > p{
    font-size: 10px;
  }
  .js_graph_xs_long_bar > ul > li{
    font-size: 10px;
    margin-top: 1px;
  }
  .js_graph_xs_long_bar > ul > li:nth-child(1):after,
  .js_graph_xs_long_bar > ul > li:nth-child(2):after,
  .js_graph_xs_long_bar > ul > li:nth-child(3):after,
  .js_graph_xs_long_bar > ul > li:nth-child(4):after,
  .js_graph_xs_long_bar > ul > li:nth-child(5):after{
    height: 10px;
	margin-top: 0;
  }
  .js_graph_xs_long_bar > .progress{
    margin-bottom: 2px;
  }
 .js_graph_xs_long_bar > .progress > .progress-bar{
    font-size: 10px;
	line-height: 20px;
  }
  .js_graph_xs_long_bar > a,
  .js_graph_xs_long_bar > a:visited{
    font-size: 10px;
    margin-top: 2px;
    padding: 2px 15px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_num_sm > .carousel-indicators{
    display: none;
  }
  .ps_control_xs_long .carousel-control-next {
    left: 14%;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_graph_xs_long_bar{
	top: 0;
    width: 100%;
  }
  .js_graph_xs_long_bar > p{
    font-size: 12px;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px){
  .ps_control_xs_long .carousel-control-next {
    left: 12%;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_graph_xs_long_bar{
	top: 0;
    width: 100%;
	padding: 5px;
  }
}

/*---------- MEDIA 768px - 1050px ----------*/
@media (min-width: 768px) and (max-width: 1050px){
  .ps_control_xs_long .carousel-control-next {
    left: 11%;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_graph_xs_long_bar{
	top: 15%;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}