/*------------------------------------------------------*/
/* JAVASCRIPT GRAPH 041
/*------------------------------------------------------*/
#js_graph_041{
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#js_graph_041:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#js_graph_041:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#js_graph_041 > .carousel-inner > .carousel-item > img,
#js_graph_041 > .carousel-inner > .carousel-item > a > img{
  width: 100%;
  margin: auto;
  opacity: 0.7;
}
/*---------- INDICATORS CONTROL ----------*/
.ps_indicators_square_trns > .carousel-indicators{
  bottom: 3%;
  margin: 0;
  height: 20px;
  display: block;
  overflow-x: auto;
  text-align: center;
  overflow-y: hidden;
  white-space: nowrap;
}
.ps_indicators_square_trns > .carousel-indicators li:before,
.ps_indicators_square_trns > .carousel-indicators li:after{
  display: none;	
}
.ps_indicators_square_trns > .carousel-indicators li{
  width: 15px;
  height: 15px;
  border: none;
  margin: 1px;
  display: inline-block;
  background: rgba(255,255,255,0.4);
  border-radius: 0px;
  -webkit-border-radius: 0px;
}
.ps_indicators_square_trns > .carousel-indicators .active{
  margin: 1px;
  width: 15px;
  height: 15px;
  border: none;
  background: rgba(255,255,255,1);
  border-radius: 0px;
  -webkit-border-radius: 0px;
}
.ps_indicators_square_trns > .carousel-indicators::-webkit-scrollbar{
  height: 5px;
}
.ps_indicators_square_trns > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}

/*---------- SLIDE CAPTION ----------*/
.js_graph_simple{
  top: 10%;
  width: 40%;
  left: 5%;
  right: auto;
  overflow: hidden;
  text-align: center;
  position: absolute;
}
.js_graph_simple_right{
  right: 5%;
  left: auto;
}
.js_graph_simple_center{
  right: 0;
  left: 0;
  margin: auto;
}
.js_graph_simple > h2{
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}
.js_graph_simple > div{
  text-align: left;
}
.js_graph_simple > div > span{
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}
.js_graph_simple > div > .progress{
  height: 30px;
  margin-bottom: 15px;
  background: rgba(255,255,255,0.7);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.js_graph_simple > div > .progress > .progress-bar{
  color: #000000;
  font-size: 12px;
  line-height: 30px;
  text-align: right;
  padding-right: 10px;
  background: rgba(255,255,255,0.9);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.js_graph_simple > .progress > span{
  text-align: left;
}
.js_graph_simple > div:nth-child(2) > .progress > .progress-bar{
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.js_graph_simple > div:nth-child(3) > .progress > .progress-bar{
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.js_graph_simple > div:nth-child(4) > .progress > .progress-bar{
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.js_graph_simple > div:nth-child(5) > .progress > .progress-bar{
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.js_graph_simple > div:nth-child(6) > .progress > .progress-bar{
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_square_trns > .carousel-indicators{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_graph_simple{
    top: 0;
    left: 0;
    width: 100%;
    padding: 3px;
  }
  .js_graph_simple_right{
    left: 0;
    right: 0;
  }
  .js_graph_simple > h2{
    font-size: 15px;
    margin: 0;
  }
  .js_graph_simple > div > .progress{
    height: 13px;
    margin-bottom: 0;
  }
  .js_graph_simple > div > .progress > .progress-bar{
    line-height: 13px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .js_graph_simple > h2{
    font-size: 25px;
    margin: 0;
  }
  .js_graph_simple > div > .progress{
    height: 13px;
    margin-bottom: 0;
  }
  .js_graph_simple > div > .progress > .progress-bar{
    line-height: 13px;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .js_graph_simple{
    width: 55%;
  }
  .js_graph_simple > h2{
    margin: 0;
  }
  .js_graph_simple > div > .progress{
    margin-bottom: 0;
  }
}

/*---------- MEDIA 768px - 875px ----------*/
@media (min-width: 768px) and (max-width: 1000px) {
  /*---------- SLIDE CAPTION ----------*/
  .js_graph_simple{
	top: 5%;
	width: 55%;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}