/*------------------------------------------------------*/
/* JAVASCRIPT LIST 053
/*------------------------------------------------------*/
#js_list_053{
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#js_list_053:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#js_list_053:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#js_list_053 > .carousel-inner > .carousel-item > img,
#js_list_053 > .carousel-inner > .carousel-item > a > img{
  width: 100%;
  margin: auto;
  opacity: 0.9;
}
/*---------- INDICATORS CONTROL ----------*/
.ps_indicators_square_num > .carousel-indicators{
  margin: 0;
  right: 0;
  left: auto;
  right: 1%;
  bottom: 5%;
  width: 90%;
  height: 35px;
  display: block;
  overflow-x: auto;
  text-align: right;
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}
.ps_indicators_square_num > .carousel-indicators li{
  margin: 1px;
  width: 30px;
  height: 30px;
  border: none;
  color: #ffffff;
  text-indent: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background: #000000;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-transition: all 0.5s cubic-bezier(.075,.82,.165,1);
  transition: all 0.5s cubic-bezier(.075,.82,.165,1);
}
.ps_indicators_square_num > .carousel-indicators .active{
  width: 30px;
  margin: 1px;
  height: 30px;
  border: none;
  text-indent: 0;
  color: #000000;
  background: #ffffff;
}
.ps_indicators_square_num > .carousel-indicators::-webkit-scrollbar{
  height: 5px;
}
.ps_indicators_square_num > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_black_box_txt .carousel-control-prev,
.ps_control_black_box_txt .carousel-control-next{
  top: 87%;
  opacity: 1;
  width: 40px;
  height: 40px;
  z-index: 100;
  border: none;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  color: #ffffff;
  background: #000000;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 1s cubic-bezier(.075,.82,.165,1);
  transition: all 1s cubic-bezier(.075,.82,.165,1);
}
.ps_control_black_box_txt:hover .carousel-control-prev,
.ps_control_black_box_txt:hover .carousel-control-next{
  opacity: 1;
  -webkit-transition: all 1s cubic-bezier(.075,.82,.165,1);
  transition: all 1s cubic-bezier(.075,.82,.165,1);
}
.ps_control_black_box_txt .carousel-control-prev {
  right: auto;
  left: 10px;
}
.ps_control_black_box_txt .carousel-control-next {
  right: auto;
  left: 51px;
}
.ps_control_black_box_txt .carousel-control-prev span:nth-child(1),
.ps_control_black_box_txt .carousel-control-next span:nth-child(1){
  display: block;
  line-height: 20px
}
.ps_control_black_box_txt .carousel-control-prev span:nth-child(1) > span,
.ps_control_black_box_txt .carousel-control-next span:nth-child(1) > span{
  font-size: 9px;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.ps_control_black_box_txt .carousel-control-prev:hover,
.ps_control_black_box_txt .carousel-control-next:hover{
  background: #ffffff;
  color: #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*---------- SLIDE CAPTION ----------*/
.js_list_three{
  top: 15%;
  left: 5%;
  padding: 0;
  right: auto;
  width: 300px;
  text-align: left;
  position: absolute;
}
.js_list_three_right{
  right: 5%;
  left: auto;
  text-align: right;
}
.js_list_three_center{
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.js_list_three > h1{
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);
  animation-timing-function: cubic-bezier(.075,.82,.165,1);
}
.js_list_three > ul{
  padding: 0;
  margin-bottom: 20px;
  list-style-type: none;
}
.js_list_three > ul > li{
  color: #ffffff;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  font-weight: 400;
  margin: 5px 0;
  padding-left: 10px;
  letter-spacing: 1px;
  background: #000000;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
}
.js_list_three_right > ul > li{
  padding-left: 0;
  padding-right: 10px;
}
.js_list_three_center > ul > li{
  padding: 0;
}
.js_list_three_right > ul{
  margin-left: auto;
}
.js_list_three_center > ul{
  margin-left: auto;
  margin-right: auto;
}
.js_list_three > ul > li:nth-child(1){
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);
  animation-timing-function: cubic-bezier(.075,.82,.165,1);
}
.js_list_three > ul > li:nth-child(2){
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);
  animation-timing-function: cubic-bezier(.075,.82,.165,1);
}
.js_list_three > ul > li:nth-child(3){
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);
  animation-timing-function: cubic-bezier(.075,.82,.165,1);
}
.js_list_three > ul > li:nth-child(4){
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);
  animation-timing-function: cubic-bezier(.075,.82,.165,1);
}
.js_list_three > ul > li:nth-child(5){
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);
  animation-timing-function: cubic-bezier(.075,.82,.165,1);
}
.js_list_three > ul > li:nth-child(6){
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);
  animation-timing-function: cubic-bezier(.075,.82,.165,1);
}
.js_list_three > ul > li:nth-child(7){
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);
  animation-timing-function: cubic-bezier(.075,.82,.165,1);
}
.js_list_three > a,
.js_list_three > a:visited{
  width: 100px;
  height: 35px;
  color: #000000;
  cursor: pointer;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  position: relative;
  background: #ebce42;
  letter-spacing: 2px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);
  animation-timing-function: cubic-bezier(.075,.82,.165,1);
  -webkit-transition: all cubic-bezier(.075,.82,.165,1) 0.5s;
  transition: all cubic-bezier(.075,.82,.165,1) 0.5s;
}
.js_list_three > a:hover,
.js_list_three > a:active{
  color: #ffffff;
  background: #000000;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_square_num > .carousel-indicators{
    display: none;
  }
  .ps_control_black_box_txt .carousel-control-prev,
  .ps_control_black_box_txt .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_list_three{
    top: 0;
	left: 0;
    width: 108px;
  }
  .js_list_three_right{
	left: auto;
	right: 0;
  }
  .js_list_three > h1{
    margin: 0;
	font-size: 14px;
  }
  .js_list_three > ul{
	margin-bottom: 0;
  }
  .js_list_three > ul > li{
    height: 25px;
    margin: 1px 0;
	font-size: 8px;
	line-height: 25px;
    padding-left: 1px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  .js_list_three_right > ul > li{
    padding-left: 0;
    padding-right: 1px;
  }
  .js_list_three > ul > li > span{
    width: 15px;
    height: 15px;
    font-size: 9px;
    line-height: 15px;
  }
  .js_list_three_right > ul > li > span{
    right: 0;
    left: auto;
  }
  .js_list_three_right > ul{
    margin-left: auto;
  }
  .js_list_three_center > ul{
    margin-left: auto;
    margin-right: auto;
  }
  .js_list_three > a,
  .js_list_three > a:visited{
    width: 70px;
    height: 30px;
    font-size: 10px;
	line-height: 35px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- INDICATORS CONTROL ----------*/
  .ps_control_black_box_txt .carousel-control-prev,
  .ps_control_black_box_txt .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_list_three{
    top: 5%;
	left: 0;
	padding: 3px;
    width: 150px;
  }
  .js_list_three_right{
	left: auto;
	right: 0;
  }
  .js_list_three > h1{
    margin: 0;
	font-size: 24px;
  }
  .js_list_three > ul{
	margin-bottom: 0;
  }
  .js_list_three > ul > li{
    height: 25px;
    margin: 2px 0;
	font-size: 10px;
	line-height: 25px;
    padding-left: 3px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  .js_list_three_right > ul > li{
    padding-left: 0;
    padding-right: 3px;
  }
  .js_list_three_right > ul{
    margin-left: auto;
  }
  .js_list_three_center > ul{
    margin-left: auto;
    margin-right: auto;
  }
  .js_list_three > a,
  .js_list_three > a:visited{
    width: 70px;
    height: 30px;
    font-size: 10px;
	line-height: 35px;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px){
  /*---------- SLIDE CAPTION ----------*/
  .js_list_three{
    top: 10%;
	left: 1%;
    width: 185px;
  }
  .js_list_three_right{
	left: auto;
	right: 1%;
  }
  .js_list_three > h1{
    margin: 0;
	font-size: 30px;
  }
  .js_list_three > ul{
	margin-bottom: 0;
  }
  .js_list_three > ul > li{
    height: 25px;
    margin: 2px 0;
	font-size: 14px;
	line-height: 25px;
    padding-left: 3px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  .js_list_three_right > ul > li{
    padding-left: 0;
    padding-right: 3px;
  }
  .js_list_three_right > ul{
    margin-left: auto;
  }
  .js_list_three_center > ul{
    margin-left: auto;
    margin-right: auto;
  }
}

/*---------- MEDIA 768px - 1050px ----------*/
@media (min-width: 768px) and (max-width: 1050px){
  /*---------- SLIDE CAPTION ----------*/
  .js_list_three{
	left: 1%;
    width: 240px;
  }
  .js_list_three_right{
	left: auto;
	right: 1%;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}