/*------------------------------------------------------*/
/* JAVASCRIPT LIST 055
/*------------------------------------------------------*/
#js_list_055{
  overflow: hidden;
  max-height: 658px;
  position: relative;
}
#js_list_055:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#js_list_055:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#js_list_055 > .carousel-inner > .carousel-item > img,
#js_list_055 > .carousel-inner > .carousel-item > a > img{
  width: 100%;
  margin: auto;
}
/*---------- INDICATORS CONTROL ----------*/
.ps_indicators_caption > .carousel-indicators{
  margin: 0;
  right: 0;
  left: auto;
  right: 1%;
  bottom: 5%;
  width: 90%;
  height: 35px;
  font-size: 0;
  display: block;
  overflow-x: auto;
  text-align: left;
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}
.ps_indicators_caption > .carousel-indicators li{
  opacity: 1;
  margin: 1px;
  width: 10px;
  height: 30px;
  border: none;
  color: #ffffff;
  text-indent: 0;
  padding: 0 10px;
  font-size: 16px;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
  background: #201114;
  display: inline-block;
  text-transform: capitalize;
  font-family: 'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s cubic-bezier(.445,.05,.55,.95);
  transition: all 0.5s cubic-bezier(.445,.05,.55,.95);
}
.ps_indicators_caption > .carousel-indicators li > span{
  margin-left: 15px;
  -webkit-transition: margin 0.5s cubic-bezier(.445,.05,.55,.95);
  transition: margin 0.5s cubic-bezier(.445,.05,.55,.95);
}
.ps_indicators_caption > .carousel-indicators .active{
  width: auto;
  margin: 1px;
  height: 30px;
  border: none;
  text-indent: 0;
  color: #ffffff;
  background: #de7687;
}
.ps_indicators_caption > .carousel-indicators .active span{
  margin-left: 5px;
}
.ps_indicators_caption > .carousel-indicators::-webkit-scrollbar{
  height: 5px;
}
.ps_indicators_caption > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_text .carousel-control-prev,
.ps_control_text .carousel-control-next{
  top: 45%;
  opacity: 0;
  width: 70px;
  height: 25px;
  z-index: 100;
  border: none;
  color: #201114;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  text-shadow: none;
  line-height: 25px;
  position: absolute;
  background: transparent;
  font-family: 'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s cubic-bezier(.445,.05,.55,.95);
  transition: all 0.5s cubic-bezier(.445,.05,.55,.95);
}
.ps_control_text:hover .carousel-control-prev,
.ps_control_text:hover .carousel-control-next{
  opacity: 1;
}
.ps_control_text .carousel-control-prev {
  left: 0;
  right: auto;
}
.ps_control_text .carousel-control-next {
  left: auto;
  right: 0;
}
.ps_control_text .carousel-control-prev > span,
.ps_control_text .carousel-control-next > span{
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
}
.ps_control_text .carousel-control-prev:hover,
.ps_control_text .carousel-control-next:hover{
  color: #de7687;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*---------- SLIDE CAPTION ----------*/
.js_list_box{
  top: 10%;
  left: 10%;
  right: auto;
  width: 315px;
  height: 400px;
  position: absolute;
  background: #201114;
  padding: 10px 35px 35px 35px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(.445,.05,.55,.95);
  animation-timing-function: cubic-bezier(.445,.05,.55,.95);
}
.js_list_box_right{
  right: 10%;
  left: auto;
  text-align: right;
}
.js_list_box_center{
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.js_list_box > h1{
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  letter-spacing: 2px;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  font-family: 'Cinzel', serif;
}
.js_list_box > ul{
  padding: 0;
  list-style-type: none;
}
.js_list_box > ul > li{
  margin: 10px 0;
  color: #c2b7b9;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  font-family: 'Cinzel', serif;
}
.js_list_box > ul > li > span{
  color: #de7687;
  margin-right: 10px;
}
.js_list_box_right > ul > li > span{
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.js_list_box_center > ul > li{
  padding: 0;
}
.js_list_box_center > ul{
  margin-left: auto;
  margin-right: auto;
}
.js_list_box > a,
.js_list_box > a:visited{
  right: 0;
  left: auto;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  position: relative;
  letter-spacing: 2px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #de7687;
  font-family: 'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all cubic-bezier(.445,.05,.55,.95) 0.5s;
  transition: all cubic-bezier(.445,.05,.55,.95) 0.5s;
}
.js_list_box > a:hover,
.js_list_box > a:active{
  color: #de7687;
}
.js_list_box_right > a,
.js_list_box_right > a:visited{
  right: auto;
  left: 0;
}
.js_list_box_center > a,
.js_list_box_center > a:visited{
  position: relative;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_caption > .carousel-indicators{
    display: none;
  }
  .ps_control_text .carousel-control-prev,
  .ps_control_text .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_list_box{
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    padding: 5px 5px 5px 50px;
  }
  .js_list_box_right{
    padding: 5px 50px 5px 5px;
  }
  .js_list_box > h1{
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .js_list_box > ul{
    margin-bottom: 5px;
  }
  .js_list_box > ul > li{
    margin: 1px 0;
    font-size: 11px;
    letter-spacing: 2px;
  }
  .js_list_box > a,
  .js_list_box > a:visited{
    font-size: 12px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- INDICATORS CONTROL ----------*/
  .ps_control_text .carousel-control-prev,
  .ps_control_text .carousel-control-next{
    display: none;
  }
  .ps_indicators_caption > .carousel-indicators{
    bottom: 0;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_list_box{
    top: 0;
    padding: 10px 5px 5px 50px;
  }
  .js_list_box_right{
    padding: 10px 50px 5px 5px;
  }
  .js_list_box_center{
    padding: 10px 0 0 0;
  }
  .js_list_box > h1{
    margin: 0;
    font-size: 18px;
  }
  .js_list_box > ul{
    margin-bottom: 5px;
  }
  .js_list_box > ul > li{
    margin: 1px 0;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px){
  /*---------- SLIDE CAPTION ----------*/
  .js_list_box{
    top: 0;
  }
  .js_list_box > ul > li{
    margin: 1px 0;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}