/*------------------------------------------------------*/
/* JAVASCRIPT TABLE 060
/*------------------------------------------------------*/
#js_table_060{
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#js_table_060:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#js_table_060:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#js_table_060 > .carousel-inner > .carousel-item > img,
#js_table_060 > .carousel-inner > .carousel-item > a > img{
  width: 100%;
  margin: auto;
  opacity: 0.8;
}
/*---------- INDICATORS CONTROL ----------*/
.ps_indicators_txt_rdb > .carousel-indicators{
  top: 1%;
  margin: 0;
  right: 14%;
  left: auto;
  width: 85%;
  height: 35px;
  font-size: 0;
  display: block;
  overflow-x: auto;
  text-align: left;
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}
.ps_indicators_txt_rdb > .carousel-indicators li{
  opacity: 1;
  margin: 1px;
  width: auto;
  height: 20px;
  border: none;
  color: #ffffff;
  text-indent: 0;
  padding: 0 10px;
  font-size: 10px;
  overflow: hidden;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-family: 'Arial';
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.ps_indicators_txt_rdb > .carousel-indicators .active{
  width: auto;
  margin: 1px;
  height: 20px;
  border: none;
  text-indent: 0;
  color: #ffffff;
  background: transparent;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
}
.ps_indicators_txt_rdb > .carousel-indicators::-webkit-scrollbar{
  height: 5px;
}
.ps_indicators_txt_rdb > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_txt_rdb .carousel-control-prev,
.ps_control_txt_rdb .carousel-control-next{
  top: 5px;
  opacity: 1;
  width: 50px;
  padding: 5px;
  height: 15px;
  z-index: 100;
  bottom: auto;
  border: none;
  color: #ffffff;
  font-size: 11px;
  cursor: pointer;
  line-height: 5px;
  font-weight: 400;
  overflow: hidden;
  text-shadow: none;
  position: absolute;
  background: transparent;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ps_control_txt_rdb:hover .carousel-control-prev,
.ps_control_txt_rdb:hover .carousel-control-next{
  opacity: 1;
}
.ps_control_txt_rdb .carousel-control-prev {
  top: 21px;
  right: 1%;
  left: auto;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.ps_control_txt_rdb .carousel-control-next {
  right: 1%;
  left: auto;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.ps_control_txt_rdb .carousel-control-prev > span,
.ps_control_txt_rdb .carousel-control-next > span{
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.ps_control_txt_rdb .carousel-control-prev:hover,
.ps_control_txt_rdb .carousel-control-next:hover{
  border: none;
  color: #ffffff;
  background: transparent;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*---------- SLIDE CAPTION ----------*/
.js_table_timetable{
  top: 7%;
  left: 5%;
  width: 55%;
  right: auto;
  text-align: left;
  position: absolute;
  background: #f8f8f8;
  padding: 10px 10px 0 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(.165,.84,.44,1);
  animation-timing-function: cubic-bezier(.165,.84,.44,1);
}
.js_table_timetable_right{
  right: 5%;
  left: auto;
  text-align: right;
}
.js_table_timetable_center{
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.js_table_timetable > h1{
  margin: 0;
  color: #666666;
  font-size: 25px;
  font-weight: 400;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans', sans-serif;
}
.js_table_timetable > table {
  cursor: initial;
  text-align: center;
  background: transparent;
}
.js_table_timetable > table > thead > tr > th{
  color: #ffffff;
  font-size: 10px;
  padding: 7px 5px;
  text-align: center;
  position: relative;
  letter-spacing: 1px;
  background: #3156a3;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Arial';
  -webkit-font-smoothing: antialiased;
}
.js_table_timetable > table > thead > tr > th,
.js_table_timetable > table > tbody > tr > td{
  outline: none;
  border-top: none;
  border-bottom: none;
}
.js_table_timetable > table > tbody > tr{
  -webkit-transition: background cubic-bezier(.165,.84,.44,1) 0.5s;
  transition: background cubic-bezier(.165,.84,.44,1) 0.5s;
}
.js_table_timetable > table > tbody > tr > td{
  color: #666666;
  font-size: 12px;
  padding: 7px 5px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: capitalize;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.js_table_timetable > table > tbody > tr > td > a{
  color: #666666;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all cubic-bezier(.165,.84,.44,1) 0.5s;
  transition: all cubic-bezier(.165,.84,.44,1) 0.5s;
}
.js_table_timetable > table > tbody > tr > td:first-child{
  text-transform: uppercase;
}
.js_table_timetable > table > tbody > tr:nth-of-type(odd){
  background: #f0f0f0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.js_table_timetable > table > tbody > tr:hover{
  color: #ffffff;
  background: #3156a3;
}
.js_table_timetable > table > tbody > tr:hover td,
.js_table_timetable > table > tbody > tr:hover a{
  color: #ffffff;
}
.js_table_timetable::-webkit-scrollbar{
  width: 5px;
  background: transparent;
}
.js_table_timetable::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #e6e6e6;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_txt_rdb > .carousel-indicators{
    display: none;
  }
  .ps_control_txt_rdb .carousel-control-prev,
  .ps_control_txt_rdb .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_table_timetable{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
	height: 100%;
    padding: 1px;
	opacity: 0.9;
	overflow: auto;
  }
  .js_table_timetable > h1{
    margin: 0;
	font-size: 12px;
	margin-bottom: 1px;
  }
  .js_table_timetable > table > thead > tr > th{
    padding: 3px 0;
    font-size: 9px;
  }
  .js_table_timetable > table > tbody > tr > td{
    padding: 3px 0;
    font-size: 9px;
  }
  .js_table_timetable > table > tbody > tr > td > a{
    font-size: 9px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_txt_rdb > .carousel-indicators{
    display: none;
  }
  .ps_control_txt_rdb .carousel-control-prev,
  .ps_control_txt_rdb .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_table_timetable{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
	height: 100%;
    padding: 1px;
	opacity: 0.9;
	overflow: auto;
  }
  .js_table_timetable > h1{
    margin: 0;
	font-size: 16px;
	margin-bottom: 5px;
  }
  .js_table_timetable > table > thead > tr > th{
    padding: 5px 0;
  }
  .js_table_timetable > table > tbody > tr > td{
    padding: 5px 0;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px){
  /*---------- SLIDE CAPTION ----------*/
  .js_table_timetable{
    left: 0;
    right: 0;
	top: 12%;
    width: 100%;
	height: 100%;
    padding: 1px;
	opacity: 0.9;
	overflow: auto;
  }
}

/*---------- MEDIA 768px - 900px ----------*/
@media (min-width: 768px) and (max-width: 900px){
  /*---------- SLIDE CAPTION ----------*/
  .js_table_timetable{
    top: 10%;
	width: 85%;
	height: 85%;
	overflow: auto;
  }
}

/*---------- MEDIA 901px - 1200px ----------*/
@media (min-width: 901px) and (max-width: 1150px){
  /*---------- SLIDE CAPTION ----------*/
  .js_table_timetable{
    top: 10%;
	width: 80%;
	height: 75%;
	overflow: auto;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}