/*------------------------------------------------------*/
/* JAVASCRIPT TABLE 057
/*------------------------------------------------------*/
#js_table_057{
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#js_table_057:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#js_table_057:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#js_table_057 > .carousel-inner > .carousel-item > img,
#js_table_057 > .carousel-inner > .carousel-item > a > img{
  width: 100%;
  margin: auto;
  opacity: 0.3;
}
/*---------- INDICATORS CONTROL ----------*/
.ps_indicators_brdr_caption > .carousel-indicators{
  top: 1%;
  margin: 0;
  right: 1%;
  left: auto;
  width: 98%;
  height: 35px;
  font-size: 0;
  display: block;
  overflow-x: auto;
  text-align: right;
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}
.ps_indicators_brdr_caption > .carousel-indicators li{
  opacity: 1;
  margin: 1px;
  width: 10px;
  height: 30px;
  border: none;
  color: #d3d1d1;
  text-indent: 0;
  padding: 0 10px;
  font-size: 16px;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border: 1px solid #d3d1d1;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.5s cubic-bezier(.445,.05,.55,.95);
  transition: all 0.5s cubic-bezier(.445,.05,.55,.95);
}
.ps_indicators_brdr_caption > .carousel-indicators li > span{
  margin-left: 17px;
  -webkit-transition: margin 0.5s cubic-bezier(.445,.05,.55,.95);
  transition: margin 0.5s cubic-bezier(.445,.05,.55,.95);
}
.ps_indicators_brdr_caption > .carousel-indicators .active{
  width: auto;
  margin: 1px;
  height: 30px;
  border: none;
  text-indent: 0;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
}
.ps_indicators_brdr_caption > .carousel-indicators .active span{
  margin-left: 5px;
}
.ps_indicators_brdr_caption > .carousel-indicators::-webkit-scrollbar{
  height: 5px;
}
.ps_indicators_brdr_caption > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_txt_y .carousel-control-prev,
.ps_control_txt_y .carousel-control-next{
  top: 42%;
  opacity: 1;
  width: 20px;
  padding: 5px;
  height: auto;
  z-index: 100;
  bottom: auto;
  color: #d3d1d1;
  font-size: 12px;
  cursor: pointer;
  font-weight: 400;
  overflow: hidden;
  text-shadow: none;
  position: absolute;
  white-space: normal;
  background: transparent;
  border: 1px solid #d3d1d1;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.5s cubic-bezier(.445,.05,.55,.95);
  transition: all 0.5s cubic-bezier(.445,.05,.55,.95);
}
.ps_control_txt_y:hover .carousel-control-prev,
.ps_control_txt_y:hover .carousel-control-next{
  opacity: 1;
}
.ps_control_txt_y .carousel-control-prev{
  left: 1%;
  right: auto;
}
.ps_control_txt_y .carousel-control-next{
  right: 1%;
  left: auto;
}
.ps_control_txt_y .carousel-control-prev > span,
.ps_control_txt_y .carousel-control-next > span{
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.ps_control_txt_y .carousel-control-prev:hover,
.ps_control_txt_y .carousel-control-next:hover{
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*---------- SLIDE CAPTION ----------*/
.js_table_price_dark{
  top: 6%;
  left: 10%;
  width: 55%;
  z-index: 2;
  right: auto;
  text-align: left;
  position: absolute;
}
.js_table_price_dark_right{
  right: 10%;
  left: auto;
  text-align: right;
}
.js_table_price_dark_center{
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.js_table_price_dark > .row{
  margin: 0;
}
.js_table_price_dark > .row > div{
  position: relative;
  padding: 20px 0 20px 20px;
}
.js_table_price_dark_right > .row > div{
  padding: 20px 20px 20px 0;
}
.js_table_price_dark_center > .row > div{
  padding: 20px;
}
.js_table_price_dark > .row > div:before{
  top: 0;
  left: 0;
  right: 0;
  width: 97%;
  height: 35%;
  content: "";
  margin: auto;
  position: absolute;
  border-bottom: none;
  border-left: 2px solid #d3d1d1;
  border-top: 10px solid #d3d1d1;
  border-right: 2px solid #d3d1d1;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.js_table_price_dark > .row > div:after{
  left: 0;
  right: 0;
  bottom: 0;
  width: 97%;
  content: "";
  z-index: -1;
  height: 65%;
  margin: auto;
  position: absolute;
  border: 2px solid #d3d1d1;
  background: rgba(211, 209, 209,0.3);
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.js_table_price_dark > h1{
  color: #d3d1d1;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}
.js_table_price_dark > h1:after{
  left: 0;
  right: auto;
  height: 2px;
  content: "";
  width: 150px;
  margin: auto;
  bottom: -5px;
  position: absolute;
  background: #d3d1d1;
}
.js_table_price_dark_right > h1:after{
  right: 0;
  left: auto;
}
.js_table_price_dark_center > h1:after{
  left: 0;
  right: 0;
}
.js_table_price_dark > .row > div > h3{
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  margin: 0 0 15px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}
.js_table_price_dark > .row > div > h2{
  color: #ffffff;
  font-size: 30px;
  font-weight: 900;
  position: relative;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}
.js_table_price_dark > .row > div > h4{
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 10px 0;
  position: relative;
  letter-spacing: 1px;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}
.js_table_price_dark > .row > div > ul{
  padding: 0;
  margin-top: 40px;
  list-style-type: none;
}
.js_table_price_dark > .row > div > ul > li{
  margin: 0;
  padding: 7px 0;
  color: #c6c6c6;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}
.js_table_price_dark > .row > div > a,
.js_table_price_dark > .row > div > a:visited{
  right: 0;
  left: auto;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  position: relative;
  letter-spacing: 2px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all cubic-bezier(.23,1,.32,1) 0.5s;
  transition: all cubic-bezier(.23,1,.32,1) 0.5s;
}
.js_table_price_dark > .row > div > a:hover,
.js_table_price_dark > .row > div > a:active{
  color: #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_brdr_caption > .carousel-indicators{
    display: none;
  }
  .ps_control_txt_y .carousel-control-prev,
  .ps_control_txt_y .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_table_price_dark{
    top: 2%;
    left: 0;
    right: 0;
    width: 100%;
  }
  .js_table_price_dark_right{
    left: 0;
    right: 0;
  }
  .js_table_price_dark > .row > div{
    padding: 5px;
  }
  .js_table_price_dark > .row > div:before{
    width: 99%;
	height: 30%;
    border: 1px solid #d3d1d1;
    border-bottom: none;
  }
  .js_table_price_dark > .row > div:after{
    width: 99%;
	height: 70%;
    border: 1px solid #d3d1d1;
  }
  .js_table_price_dark > h1{
    font-size: 14px;
    margin: 0 0 3px 0;
  }
  .js_table_price_dark > h1:after{
    bottom: 0;
	height: 1px;
    width: 80px;
  }
  .js_table_price_dark > .row > div > h3{
    margin: 0;
	font-size: 11px;
    letter-spacing: 0;
  }
  .js_table_price_dark > .row > div > h2{
	margin: 0;
	font-size: 14px;
    margin-bottom: 2px;
  }
  .js_table_price_dark > .row > div > h2:before{
    top: 0;
    width: 10%;
    left: -2px;
    font-size:10px;
  }
  .js_table_price_dark > .row > div > h4{
    font-size: 10px;
    margin-bottom: 2px;
  }
  .js_table_price_dark > .row > div > ul{
    margin-top: 10px;
    margin-bottom: 0;
  }
  .js_table_price_dark > .row > div > ul > li{
    padding: 1px 0;
    font-size: 8px;
    letter-spacing: 1px;
  }
  .js_table_price_dark > .row > div > a,
  .js_table_price_dark > .row > div > a:visited{
    margin-top: 0;
	font-size: 9px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- INDICATORS CONTROL ----------*/
  .ps_control_txt_y .carousel-control-prev,
  .ps_control_txt_y .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .js_table_price_dark{
    top: 13%;
    left: 0;
    right: 0;
    width: 100%;
  }
  .js_table_price_dark_right{
    left: 0;
    right: 0;
  }
  .js_table_price_dark > .row > div{
    padding: 10px;
  }
  .js_table_price_dark > h1{
    font-size: 18px;
    margin: 0 0 5px 0;
  }
  .js_table_price_dark > h1:after{
    bottom: 0;
	height: 1px;
    width: 80px;
  }
  .js_table_price_dark > .row > div > h3{
    margin: 0;
	font-size: 11px;
    letter-spacing: 0;
  }
  .js_table_price_dark > .row > div > h2{
	font-size: 14px;
    margin-bottom: 2px;
  }
  .js_table_price_dark > .row > div > h2:before{
    top: 0;
    width: 10%;
    left: -2px;
    font-size:10px;
  }
  .js_table_price_dark > .row > div > h4{
    font-size: 10px;
    margin-bottom: 2px;
  }
  .js_table_price_dark > .row > div > ul{
    margin-top: 35px;
    margin-bottom: 0;
  }
  .js_table_price_dark > .row > div > ul > li{
    padding: 1px 0;
    font-size: 10px;
    letter-spacing: 1px;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px){
  /*---------- SLIDE CAPTION ----------*/
  .js_table_price_dark{
    left: 0;
	top: 8%;
    right: 0;
	padding: 5px;
    width: 100%;
  }
  .js_table_price_dark_right{
    left: 0;
    right: 0;
  }
  .js_table_price_dark_center > .row > div{
    padding: 15px;
  }
  .js_table_price_dark > h1{
    font-size: 20px;
    margin: 0 0 10px 0;
  }
  .js_table_price_dark > h1:after{
    height: 1px;
    width: 100px;
    bottom: -5px;
  }
  .js_table_price_dark > .row > div > h3{
    margin: 0;
  }
  .js_table_price_dark > .row > div > h2{
    margin: 0;
  }
  .js_table_price_dark > .row > div > ul > li{
    padding: 3px 0;
    font-size: 11px;
    letter-spacing: 1px;
  }
  .js_table_price_dark > .row > div > a,
  .js_table_price_dark > .row > div > a:visited{
    margin-top: 0;
  }
}

/*---------- MEDIA 768px - 900px ----------*/
@media (min-width: 768px) and (max-width: 900px){
  /*---------- SLIDE CAPTION ----------*/
  .js_table_price_dark{
	top: 10%;
    width: 80%;
  }
  .js_table_price_dark > h1{
    margin: 0 0 15px 0;
  }
  .js_table_price_dark > .row > div > ul > li{
    padding: 5px 0;
    font-size: 11px;
  }
}

/*---------- MEDIA 901px - 1200px ----------*/
@media (min-width: 901px) and (max-width: 1200px){
  /*---------- SLIDE CAPTION ----------*/
  .js_table_price_dark{
    width: 70%;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}