/*------------------------------------------------------*/
/* KEN BURNS 065
/*------------------------------------------------------*/
#kenburns_065{
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#kenburns_065:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#kenburns_065:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#kenburns_065 > .carousel-inner > .carousel-item{
  overflow: hidden;
}
/*---------- INDICATORS CONTROL ----------*/
.ps_indicators_gray > .carousel-indicators{
  top: 3%;
  margin: 0;
  right: 5%;
  left: auto;
  width: 90%;
  height: 35px;
  font-size: 0;
  display: block;
  overflow-x: auto;
  text-align: right;
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}
.ps_indicators_gray > .carousel-indicators li{
  margin: 1px;
  padding: 0;
  width: 7px;
  height: 7px;
  border: none;
  text-indent: 0;
  overflow: hidden;
  text-align: left;
  position: relative;
  background: #bcbcbc;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.ps_indicators_gray > .carousel-indicators .active{
  width: 25px;
  margin: 1px;
  height: 7px;
  border: none;
  text-indent: 0;
  background: #ffffff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.ps_indicators_gray > .carousel-indicators::-webkit-scrollbar{
  height: 5px;
}
.ps_indicators_gray > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_gray .carousel-control-prev,
.ps_control_gray .carousel-control-next{
  top: auto;
  bottom: 5%;
  opacity: 1;
  width: 30px;
  height: 30px;
  z-index: 100;
  color: #bcbcbc;
  font-size: 12px;
  cursor: pointer;
  font-weight: 400;
  overflow: hidden;
  line-height: 30px;
  text-shadow: none;
  position: absolute;
  background: transparent;
  border: 1px solid #bcbcbc;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.ps_control_gray .carousel-control-prev{
  left: 25px;
  right: auto;
}
.ps_control_gray .carousel-control-next{
  left: 58px;
  right: auto;
}
.ps_control_gray .carousel-control-prev:hover,
.ps_control_gray .carousel-control-next:hover{
  color: #bcbcbc;
  background: #ffffff;
  border: 1px solid #ffffff;
}
/*---------- SLIDE CAPTION ----------*/
.kenburns_065_slide{
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 13%;
  position: absolute;
  background: rgba(0,0,0,0.4);
}
.kenburns_065_slide_right{
  text-align: right;
}
.kenburns_065_slide_center{
  text-align: center;
}
.kenburns_065_slide > h1{
  padding: 0;
  width: 625px;
  color: #ffffff;
  font-size: 100px;
  font-weight: 500;
  text-shadow: none;
  letter-spacing: 1px;
  margin: 0 auto 0 15%;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.kenburns_065_slide_right > h1{
  margin: 0 15% 0 auto;
}
.kenburns_065_slide_center > h1{
  margin: 0 auto;
}
.kenburns_065_slide > h2{
  width: 400px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  text-shadow: none;
  padding:0;
  letter-spacing: 1px;
  margin: 0 auto 0 15%;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.kenburns_065_slide_right > h2{
  margin: 0 15% 15px auto;
}
.kenburns_065_slide_center > h2{
  margin: 0 auto 15px auto;
}
.kenburns_065_slide > a,
.kenburns_065_slide > a:visited{
  width: 150px;
  height: 50px;
  color: #212121;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  text-shadow: none;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  background: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin: 25px auto 0 15%;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.1s cubic-bezier(.455,.03,.515,.955);
  transition: all 0.1s cubic-bezier(.455,.03,.515,.955);
}
.kenburns_065_slide_right > a{
  margin: 15px 15% 0 auto;
}
.kenburns_065_slide_center > a{
  margin: 15px auto 0 auto;
}
.kenburns_065_slide > a:hover,
.kenburns_065_slide > a:active{
  color: #ffffff;
  background: #bcbcbc;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- SLIDE CAPTION ----------*/
  .kenburns_065_slide{
    padding-top: 12%;
  }
  .kenburns_065_slide > h1{
    width: 260px;
    font-size: 35px;
    margin: 0 auto 0 5%;
  }
  .kenburns_065_slide_right > h1{
    margin: 0 5% 0 auto;
 }
  .kenburns_065_slide_center > h1{
    margin: 0 auto;
  }
  .kenburns_065_slide > h2{
    width: 220px;
    font-size: 20px;
    margin: 0 auto 0 5%;
  }
  .kenburns_065_slide_right > h2{
    margin: 0 5% 0 auto;
  }
  .kenburns_065_slide_center > h2{
    margin: 0 auto 0 auto;
  }
  .kenburns_065_slide > a,
  .kenburns_065_slide > a:visited{
    width: 130px;
    height: 30px;
    line-height: 30px;
    margin: 5px auto 0 5%;
  }
  .kenburns_065_slide_right > a{
    margin: 5px 5% 0 auto;
  }
  .kenburns_065_slide_center > a{
    margin: 5px auto 0 auto;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px){
  /*---------- SLIDE CAPTION ----------*/
  .kenburns_065_slide{
    padding-top: 12%;
  }
  .kenburns_065_slide > h1{
    width: 260px;
    font-size: 35px;
    margin: 0 auto 0 5%;
  }
  .kenburns_065_slide_right > h1{
    margin: 0 5% 0 auto;
 }
  .kenburns_065_slide_center > h1{
    margin: 0 auto;
  }
  .kenburns_065_slide > h2{
    width: 220px;
    font-size: 20px;
    margin: 0 auto 0 5%;
  }
  .kenburns_065_slide_right > h2{
    margin: 0 5% 0 auto;
  }
  .kenburns_065_slide_center > h2{
    margin: 0 auto 0 auto;
  }
  .kenburns_065_slide > a,
  .kenburns_065_slide > a:visited{
    width: 130px;
    height: 30px;
    line-height: 30px;
    margin: 5px auto 0 5%;
  }
  .kenburns_065_slide_right > a{
    margin: 5px 5% 0 auto;
  }
  .kenburns_065_slide_center > a{
    margin: 5px auto 0 auto;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px){
  /*---------- SLIDE CAPTION ----------*/
  .kenburns_065_slide{
    padding-top: 10%;
  }
  .kenburns_065_slide > h1{
    width: 460px;
    font-size: 75px;
  }
}

/*------------------------------------------------------*/
/* KEN BURNS ANIMATION EFFECTS
/*------------------------------------------------------*/

.kbrns_rtl > .carousel-inner > .carousel-item{
  height: 658px;
  background-repeat: repeat-x;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-animation: kbrns_rtl 2000s cubic-bezier(.39,.575,.565,1) infinite;
  -moz-animation: kbrns_rtl 2000s cubic-bezier(.39,.575,.565,1) infinite;
  -o-animation: kbrns_rtl 2000s cubic-bezier(.39,.575,.565,1) infinite;
  -ms-animation: kbrns_rtl 2000s cubic-bezier(.39,.575,.565,1) infinite;
  animation: kbrns_rtl 2000s cubic-bezier(.39,.575,.565,1) infinite;
}
/*---------- MEDIA 380px ----------*/
@media only screen and (max-width: 380px){
  .kbrns_rtl > .carousel-inner > .carousel-item{
    max-height: 200px;
  }
}
/*---------- MEDIA 381px - 550px ----------*/
@media (min-width: 381px) and (max-width: 550px){
  .kbrns_rtl > .carousel-inner > .carousel-item{
    max-height: 235px;
  }
}
/*---------- MEDIA 551px - 767px ----------*/
@media (min-width: 551px) and (max-width: 767px){
  .kbrns_rtl > .carousel-inner > .carousel-item{
    max-height: 350px;
  }
}
/*---------- MEDIA 768px - 900px ----------*/
@media (min-width: 768px) and (max-width: 900px){
  .kbrns_rtl > .carousel-inner > .carousel-item{
    max-height: 495px;
  }
}
/*---------- MEDIA 901px - 1100px ----------*/
@media (min-width: 901px) and (max-width: 1100px){
  .kbrns_rtl > .carousel-inner > .carousel-item{
    max-height: 550px;
  }
}
/*---------- ANIMATION ----------*/
@-webkit-keyframes kbrns_rtl{
  from {
    background-position: 0 0;
  }
  to {
    background-position: -20000px 0;
  }
}
@-moz-keyframes kbrns_rtl{
  from {
    background-position: 0 0;
  }
  to {
    background-position: -20000px 0;
  }
}
@-ms-keyframes kbrns_rtl{
  from {
    background-position: 0 0;
  }
  to {
    background-position: -20000px 0;
  }
}

@-o-keyframes kbrns_rtl{
  from {
    background-position: 0 0;
  }
  to {
    background-position: -20000px 0;
  }
}
@keyframes kbrns_rtl{
  from {
    background-position: 0 0;
  }
  to {
    background-position: -20000px 0;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}