/*------------------------------------------------------*/
/* KEN BURNS 062
/*------------------------------------------------------*/
#kenburns_062{
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#kenburns_062:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#kenburns_062:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#kenburns_062 > .carousel-inner > .carousel-item{
  overflow: hidden;
}
#kenburns_062 > .carousel-inner > .carousel-item > img,
#kenburns_062 > .carousel-inner > .carousel-item > a > img{
  width: 100%;
  margin: auto;
  opacity: 0.7;

}
/*---------- INDICATORS CONTROL ----------*/
.ps_indicators_cs_icon > .carousel-indicators{
  margin: 0;
  right: 9%;
  bottom: 5%;
  left: auto;
  width: 80%;
  height: 35px;
  font-size: 0;
  display: block;
  overflow-x: auto;
  text-align: center;
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}
.ps_indicators_cs_icon > .carousel-indicators li{
  margin: 1px;
  width: 25px;
  height: 30px;
  border: none;
  color: #ffffff;
  text-indent: 0;
  padding: 0 10px;
  font-size: 12px;
  overflow: hidden;
  text-align: left;
  line-height: 30px;
  position: relative;
  letter-spacing: 1px;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
  transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
}
.ps_indicators_cs_icon > .carousel-indicators li:after{
  top: 0;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  right: 15%;	
  content: "\f30b";
  font-style: normal;
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  text-decoration: inherit;
}
.ps_indicators_cs_icon > .carousel-indicators .active{
  width: 50px;
  margin: 1px;
  height: 30px;
  border: none;
  text-indent: 0;
  color: #ffffff;
  font-size: 30px;
  background: transparent;
}
.ps_indicators_cs_icon > .carousel-indicators::-webkit-scrollbar{
  height: 5px;
}
.ps_indicators_cs_icon > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_cs_icon .carousel-control-prev,
.ps_control_cs_icon .carousel-control-next{
  top: 5px;
  width: 40px;
  opacity: 0.5;
  padding: 5px;
  height: 40px;
  z-index: 100;
  bottom: auto;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  font-weight: 400;
  overflow: hidden;
  line-height: 28px;
  text-shadow: none;
  position: absolute;
  background: transparent;
  border: 1px solid #ffffff;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
  transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
}
.ps_control_cs_icon:hover .carousel-control-prev,
.ps_control_cs_icon:hover .carousel-control-next{
  opacity: 1;
}
.ps_control_cs_icon .carousel-control-prev{
  left: 5px;
  right: auto;
}
.ps_control_cs_icon .carousel-control-next{
  left: 50px;
  right: auto;
}
.ps_control_cs_icon .carousel-control-prev > span,
.ps_control_cs_icon .carousel-control-next > span{
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;

}
.ps_control_cs_icon .carousel-control-prev span:after{
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "\f30a";
  line-height: 38px;
  font-style: normal;
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  text-decoration: inherit;
}
.ps_control_cs_icon .carousel-control-next span:before{
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "\f30b";
  line-height: 38px;
  font-style: normal;
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  text-decoration: inherit;
}
/*---------- SLIDE CAPTION ----------*/
.kenburns_062_slide{
  top: 20%;
  left: 5%;
  width: 55%;
  right: auto;
  text-align: center;
  position: absolute;
}
.kenburns_062_slide_right{
  right: 5%;
  left: auto;
}
.kenburns_062_slide_center{
  left: 0;
  right: 0;
  margin: auto;
}
.kenburns_062_slide > h1{
  color: #ffffff;
  margin: 20px 0;
  padding: 20px 0;
  font-size: 50px;
  font-weight: 900;
  text-shadow: none;
  text-align: center;
  letter-spacing: 2px;
  border: 7px solid #ffffff;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.kenburns_062_slide > p{
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  padding: 0 60px;
  font-weight: 400;
  text-shadow: none;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.kenburns_062_slide > a,
.kenburns_062_slide > a:visited{
  width: 150px;
  height: 50px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 25px;
  line-height: 48px;
  text-shadow: none;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
  transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.kenburns_062_slide > a:nth-child(3){
  color: #ffffff;
  margin-right: 5px;
  background: #fe8a8d;
  border: 1px solid #fe8a8d;
}
.kenburns_062_slide > a:nth-child(4){
  color: #ffffff;
  margin-left: 5px;
  border: 1px solid #ffffff;
}
.kenburns_062_slide > a:nth-child(3):hover,
.kenburns_062_slide > a:nth-child(3):active{
  color: #fe8a8d;
  background: #ffffff;
  border: 1px solid #ffffff;
}
.kenburns_062_slide > a:nth-child(4):hover,
.kenburns_062_slide > a:nth-child(4):active{
  color: #fe8a8d;
  background: #ffffff;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_cs_icon > .carousel-indicators{
    display: none;
  }
  .ps_control_cs_icon .carousel-control-prev,
  .ps_control_cs_icon .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .kenburns_062_slide{
    top: 1%;
    left: 0;
    width: 100%;
  }
  .kenburns_062_slide_right{
    right: 0;
	left: auto;
  }
  .kenburns_062_slide_center{
	left: 0;
	right: 0;
  }
  .kenburns_062_slide > h1{
    margin: 5px 0;
    padding: 5px 0;
    font-size: 25px;
	border: 2px solid #ffffff;
  }
  .kenburns_062_slide > p{
    padding: 0 20px;
    font-size: 12px;
  }
  .kenburns_062_slide > a,
  .kenburns_062_slide > a:visited{
    width: 100px;
    height: 25px;
    font-size: 10px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 23px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_cs_icon > .carousel-indicators{
    display: none;
  }
  .ps_control_cs_icon .carousel-control-prev,
  .ps_control_cs_icon .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .kenburns_062_slide{
    top: 5%;
    left: 3%;
    width: 80%;
  }
  .kenburns_062_slide_right{
    right: 3%;
	left: auto;
  }
  .kenburns_062_slide_center{
	left: 0;
	right: 0;
  }
  .kenburns_062_slide > h1{
    margin: 5px 0;
    font-size: 25px;
  }
  .kenburns_062_slide > p{
    padding: 0 20px;
  }
  .kenburns_062_slide > a,
  .kenburns_062_slide > a:visited{
    margin-top: 10px;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px){
  /*---------- SLIDE CAPTION ----------*/
  .kenburns_062_slide{
    top: 14%;
    width: 80%;
  }
  .kenburns_062_slide_right{
    right: 3%;
	left: auto;
  }
  .kenburns_062_slide_center{
	left: 0;
	right: 0;
  }
  .kenburns_062_slide > h1{
    margin: 5px 0;
    font-size: 25px;
  }
  .kenburns_062_slide > p{
    padding: 0 20px;
  }
  .kenburns_062_slide > a,
  .kenburns_062_slide > a:visited{
    margin-top: 10px;
  }
}

/*---------- MEDIA 768px - 900px ----------*/
@media (min-width: 768px) and (max-width: 900px){
  /*---------- SLIDE CAPTION ----------*/
  .kenburns_062_slide{
    top: 10%;
    width: 85%;
  }
}

/*------------------------------------------------------*/
/* KEN BURNS ANIMATION EFFECTS
/*------------------------------------------------------*/
.kbrns_zoomOutIn > .carousel-inner > .carousel-item > img,
.kbrns_zoomOutIn > .carousel-inner > .carousel-item > a > img{
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  -o-transform-origin: 0;
  transform-origin: 0;
  -webkit-animation: kbrns_zoomOutIn 25s linear 0s infinite alternate;
  -moz-animation: kbrns_zoomOutIn 25s linear 0s infinite alternate;
  -o-animation: kbrns_zoomOutIn 25s linear 0s infinite alternate;
  -ms-animation: kbrns_zoomOutIn 25s linear 0s infinite alternate;
  animation: kbrns_zoomOutIn 25s linear 0s infinite alternate;
}
/*---------- ANIMATION ----------*/
@-webkit-keyframes kbrns_zoomOutIn {
  0% {
    -webkit-transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes kbrns_zoomOutIn {
  0% {
    -moz-transform: scale(1.3);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes kbrns_zoomOutIn {
  0% {
    -ms-transform: scale(1.3);
  }
  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes kbrns_zoomOutIn {
  0% {
    -o-transform: scale(1.3);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes kbrns_zoomOutIn {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}