/*------------------------------------------------------*/
/* MODAL 068
/*------------------------------------------------------*/

/*---------- GALLERY ----------*/
.ps_modal_068_gallery,
.ps_modal_068_gallery > .row > div{
  margin: 0;
  padding: 0 2px;
}
.ps_modal_068_gallery > .row{
  margin: 0;
}
.ps_modal_068_gallery > .row > div > img{
  width: 100%;
  cursor: pointer;
}
/*---------- MODAL ----------*/
#ps_modal_068{
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: rgba(242,242,242,0.9);
}
/*---------- MODAL CONTENT ----------*/
#ps_modal_068 > .modal-dialog{
  max-width: 100%;
  margin: 30px 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transform: none;
  transform: none;
}
/*---------- MODAL CONTENT ----------*/
#ps_modal_068 > .modal-dialog > .modal-content{
  border: none;
  border: 8px solid #ffffff;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*---------- RESPONSIVE ----------*/
@media (min-width: 1101px) {
  #ps_modal_068 > .modal-dialog{
    width: 60%;
	margin: 30px auto;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}
/*---------- MODAL CLOSE BUTTON ----------*/
.ps_modal_close_cream > .modal-dialog > .modal-content > a{
  top: 1%;
  left: 2%;
  right: auto;
  z-index: 10;
  width: 15px;
  height: 15px;
  color: #ffffff;
  font-size: 25px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s cubic-bezier(0.3,1,0,1);
  transition: all 0.5s cubic-bezier(0.3,1,0,1);
}
.ps_modal_close_cream > .modal-dialog > .modal-content > a:hover{
  color: #e5ae49;
}

/*------------------------------------------------------*/
/* SLIDER 068
/*------------------------------------------------------*/
#thy_slider_modal_068 {
  overflow: hidden;
  max-height: 643px;
  position: relative;
  background: #000000;
}
#thy_slider_modal_068:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#thy_slider_modal_068:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#thy_slider_modal_068 > .carousel-inner > .carousel-item > img,
#thy_slider_modal_068 > .carousel-inner > .carousel-item > a > img {
  width: 100%;
  margin: auto;
  opacity: 0.9;
}
/*---------- INDICATORS THUMBNAIL CONTROL ----------*/
.thy_slider_modal_thumb > .carousel-indicators {
  top: 0;
  margin: 0;
  bottom: 0;
  left: 85%;
  width: 15%;
  height: 100%;
  overflow: auto;
  padding: 0 5px;
  display: block;
  position: absolute;
}
.thy_slider_modal_thumb > .carousel-indicators li {
  width: 100%;
  height: auto;
  border: none;
  margin: 5px 0;
  display: block;
  border: 3px solid #ffffff;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: background 1s cubic-bezier(0.3,1,0,1);
  transition: background 1s cubic-bezier(0.3,1,0,1);
}
.thy_slider_modal_thumb > .carousel-indicators li img{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.thy_slider_modal_thumb > .carousel-indicators .active{
  width: 100%;
  height: auto;
  border: none;
  margin: 5px 0;
  border: 3px solid #ffffff;
  background-color: #e5ae49;
}
.thy_slider_modal_thumb > .carousel-indicators .active img{
  opacity: 0.7;
}
.thy_slider_modal_thumb > .carousel-indicators::-webkit-scrollbar{
  width: 4px;
}
.thy_slider_modal_thumb > .carousel-indicators::-webkit-scrollbar-thumb{
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 768px){
  .thy_slider_modal_thumb > .carousel-indicators{
    bottom: 0;
  }
}
/*---------- SLIDE CAPTION ----------*/
.thy_slider_modal_068_slide{
  top: 40%;
  left: 2%;
  padding: 0;
  right: auto;
  margin: auto;
  width: 400px;
  text-align: left;
  position: absolute;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.3,1,0,1);
  animation-timing-function: cubic-bezier(0.3,1,0,1);
}
.thy_slider_modal_068_slide_right{
  right: 20%;
  left: auto;
  text-align: right;
}
.thy_slider_modal_068_slide_center{
  left: 0;
  right: 0;
  text-align: center;
}
.thy_slider_modal_068_slide > h1{
  padding: 0;
  z-index: 20;
  color: #ffffff;
  font-size: 35px;
  font-weight: 900;
  margin: 0 0 5px 0;
  position: relative;
  text-transform: uppercase;
  font-family: 'Catamaran', sans-serif;
}
.thy_slider_modal_068_slide > h1:after{
  left: 0;
  right: 0;
  top: 35%;
  z-index: -1;
  content: "";
  bottom: auto;
  height: 10px;
  width: 380px;
  margin: auto;
  position: absolute;
  background: #e5ae49;
}
.thy_slider_modal_068_slide_center > h1:after{
  left: 0;
  right: 0;
}
.thy_slider_modal_068_slide_right > h1:after{
  right: 0;
  left: auto;
}
.thy_slider_modal_068_slide > p{
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 25px 0;
  letter-spacing: 1px;
  font-family: 'Catamaran', sans-serif;
}
.thy_slider_modal_068_slide_right > p{
  text-align: right;
}
.thy_slider_modal_068_slide_center > p{
  text-align: center;
}
.thy_slider_modal_068_slide > a,
.thy_slider_modal_068_slide > a:visited{
  margin: 0;
  color: #e5ae49;
  cursor: pointer;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  padding: 10px 30px;
  background: #ffffff;
  letter-spacing: 2px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Catamaran', sans-serif;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.3,1,0,1);
  transition: all 0.5s cubic-bezier(0.3,1,0,1);
}
.thy_slider_modal_068_slide > a:hover,
.thy_slider_modal_068_slide > a:active{
  color: #ffffff;
  background: #e5ae49;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- MODAL CONTENT ----------*/
  #ps_modal_068 > .modal-dialog > .modal-content{
    border: 3px solid #ffffff;
  }
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .thy_slider_modal_thumb > .carousel-indicators {
    padding: 0 2px;
  }
  .thy_slider_modal_thumb > .carousel-indicators li {
    margin: 2px 0;
    border: 1px solid #ffffff;
  }
  .thy_slider_modal_thumb > .carousel-indicators .active {
    margin: 2px 0;
    border: 1px solid #ffffff;
  }
  /*---------- SLIDE CAPTION ----------*/
  .thy_slider_modal_068_slide{
    top: 25%;
    width: 210px;
  }
  .thy_slider_modal_068_slide > h1{
    font-size: 18px;
  }
  .thy_slider_modal_068_slide > h1:after{
    top: 40%;
    height: 5px;
	width: 200px;
  }
  .thy_slider_modal_068_slide > p{
	font-size: 11px;
	margin-bottom: 5px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px){
  /*---------- MODAL CONTENT ----------*/
  #ps_modal_068 > .modal-dialog > .modal-content{
    border: 3px solid #ffffff;
  }
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .thy_slider_modal_thumb > .carousel-indicators {
    padding: 0 2px;
  }
  .thy_slider_modal_thumb > .carousel-indicators li {
    margin: 2px 0;
    border: 1px solid #ffffff;
  }
  .thy_slider_modal_thumb > .carousel-indicators .active {
    margin: 2px 0;
    border: 1px solid #ffffff;
  }
  /*---------- SLIDE CAPTION ----------*/
  .thy_slider_modal_068_slide{
    top: 25%;
    width: 290px;
  }
  .thy_slider_modal_068_slide > h1{
    font-size: 25px;
  }
  .thy_slider_modal_068_slide > h1:after{
    top: 40%;
    height: 5px;
	width: 270px;
  }
  .thy_slider_modal_068_slide > h2{
    font-size: 22px;
  }
}

/*---------- MEDIA 768px - 1100px ----------*/
@media (min-width: 768px) and (max-width: 1100px){
  /*---------- SLIDE CAPTION ----------*/
  #ps_modal_068 > .modal-dialog{
    width: 80%;
	margin: 30px auto;
  }
}

/*---------- MODAL ANIMATION EFFECT ----------*/
.modal.fade.ps_modal_fadeInLeft .modal-dialog {
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.3,1,0,1);
  -o-transition: -o-transform 1.5s cubic-bezier(0.3,1,0,1);
  transition: transform 1.5s cubic-bezier(0.3,1,0,1);
  -webkit-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
}
.modal.in.ps_modal_fadeInLeft .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}