/*------------------------------------------------------*/
/* MODAL 069
/*------------------------------------------------------*/

/*---------- GALLERY ----------*/
.ps_modal_069_gallery,
.ps_modal_069_gallery > .row > div{
  margin: 0;
  padding: 0 2px;
}
.ps_modal_069_gallery > .row{
  margin: 0;
}
.ps_modal_069_gallery > .row > div > img{
  width: 100%;
  cursor: pointer;
}
/*---------- MODAL ----------*/
#ps_modal_069{
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: rgba(0,0,0,0.6);
}
/*---------- MODAL CONTENT ----------*/
#ps_modal_069 > .modal-dialog{
  margin: 0;
  max-width: 100%;
  background: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transform: none;
  transform: none;
}
/*---------- MODAL CONTENT ----------*/
#ps_modal_069 > .modal-dialog > .modal-content{
  border: none;
  background: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*---------- RESPONSIVE ----------*/
@media (min-width: 1101px) {
  #ps_modal_069 > .modal-dialog{
	margin: 0;
	width: 100%;
	background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}
/*---------- MODAL CLOSE BUTTON ----------*/
.ps_modal_close_transp > .modal-dialog > .modal-content > a{
  top: 1%;
  left: auto;
  right: 1%;
  z-index: 10;
  width: 30px;
  height: 30px;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s cubic-bezier(.455,.03,.515,.955);
  transition: all 0.5s cubic-bezier(.455,.03,.515,.955);
}
.ps_modal_close_transp > .modal-dialog > .modal-content > a:hover{
  color: #828282;
}

/*------------------------------------------------------*/
/* SLIDER 069
/*------------------------------------------------------*/
#video_slider_modal_069 {
  height: 640px;
  overflow: hidden;
  position: relative;
}
#video_slider_modal_069:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#video_slider_modal_069:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#video_slider_modal_069 > .carousel-inner > .carousel-item{
  height: 535px;
  padding: 20px 0;
}
/*---------- VIDEO ----------*/
.vid_slider_modal_069{
  width: 685px;
  margin: auto;
  position: relative;
}
.vid_slider_modal_069 > video{
  width: 100%;
}
/*---------- INDICATORS THUMBNAIL CONTROL ----------*/
.vid_slider_modal_thumb > .carousel-indicators {
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  padding: 2px 10px;
  display: block;
  overflow-x: auto;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}
.vid_slider_modal_thumb > .carousel-indicators li{
  border: 0;
  padding: 0;
  width: 11%;
  height: 100%;
  margin: 0 1px;
  text-indent: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.vid_slider_modal_thumb > .carousel-indicators li img{
  width: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.vid_slider_modal_thumb > .carousel-indicators .active{
  width: 11%;
  height: 100%;
  margin: 0 1px;
  background-color: transparent;
}
.vid_slider_modal_thumb > .carousel-indicators .active:after{
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  height: 25px;
  color: #000000;
  font-size: 13px;
  line-height: 25px;
  content: "playing";
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  background: rgba(255,255,255,0.8);
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.vid_slider_modal_thumb > .carousel-indicators::-webkit-scrollbar {
  margin: 0;
  padding: 0;
  width: 4px;
  height: 4px;
  background: transparent;
}
.vid_slider_modal_thumb > .carousel-indicators::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(255,255,255,0.6);
}
@media screen and (min-width: 768px) {
  .vid_slider_modal_thumb > .carousel-indicators {
    bottom: 0;
  }
}
/*---------- SLIDE CAPTION ----------*/
.vid_slider_modal_069_slide{
  width: 685px;
  margin: auto;
  height: 127px;
  overflow: auto;
  padding: 10px 0;
  text-align: left;
  position: relative;
}
.vid_slider_modal_069_slide_right{
  text-align: right;
}
.vid_slider_modal_069_slide_center{
  text-align: center;
}
.vid_slider_modal_069_slide > h1{
  padding: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 5px 0;
  position: relative;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
.vid_slider_modal_069_slide > p{
  padding: 0;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin: 0 0 7px 0;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}
.vid_slider_modal_069_slide > a,
.vid_slider_modal_069_slide > a:visited{
  margin: 0;
  color: #828282;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s cubic-bezier(.455,.03,.515,.955);
  transition: all 0.5s cubic-bezier(.455,.03,.515,.955);
}
.vid_slider_modal_069_slide > a:hover,
.vid_slider_modal_069_slide > a:active{
  color: #ffffff;
}
.vid_slider_modal_069_slide::-webkit-scrollbar {
  margin: 0;
  padding: 0;
  width: 4px;
  height: 4px;
  background: transparent;
}
.vid_slider_modal_069_slide::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(255,255,255,0.6);
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- MODAL CONTENT ----------*/
  #video_slider_modal_069 {
    height: 340px;
  }
  #video_slider_modal_069 > .carousel-inner > .carousel-item {
    height: 340px;
    padding: 10px 0;
  }
  /*---------- VIDEO ----------*/
  .vid_slider_modal_069{
    width: 300px;
  }
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .vid_slider_modal_thumb > .carousel-indicators li{
    width: 14%;
  }
  .vid_slider_modal_thumb > .carousel-indicators .active{
    width: 14%;
  }
  .vid_slider_modal_thumb > .carousel-indicators .active:after{
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  }
  /*---------- SLIDE CAPTION ----------*/
  .vid_slider_modal_069_slide{
    width: 300px;
  }
  .vid_slider_modal_069_slide > p{
    margin: 0;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px){
  /*---------- MODAL CONTENT ----------*/
  #video_slider_modal_069 {
    height: 440px;
  }
  #video_slider_modal_069 > .carousel-inner > .carousel-item {
    height: 440px;
    padding: 10px 0;
  }
  /*---------- VIDEO ----------*/
  .vid_slider_modal_069{
    width: 450px;
  }
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .vid_slider_modal_thumb > .carousel-indicators li{
    width: 14%;
  }
  .vid_slider_modal_thumb > .carousel-indicators .active{
    width: 14%;
  }
  .vid_slider_modal_thumb > .carousel-indicators .active:after{
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  }
  /*---------- SLIDE CAPTION ----------*/
  .vid_slider_modal_069_slide{
    width: 450px;
  }
  .vid_slider_modal_069_slide > p{
    margin: 0;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px){
  /*---------- MODAL CONTENT ----------*/
  #video_slider_modal_069 {
    height: 500px;
  }
  #video_slider_modal_069 > .carousel-inner > .carousel-item {
    height: 500px;
    padding: 10px 0;
  }
  /*---------- VIDEO ----------*/
  .vid_slider_modal_069{
    width: 525px;
  }
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .vid_slider_modal_thumb > .carousel-indicators li{
    width: 14%;
  }
  .vid_slider_modal_thumb > .carousel-indicators .active{
    width: 14%;
  }
  .vid_slider_modal_thumb > .carousel-indicators .active:after{
    height: 10px;
    font-size: 10px;
    line-height: 10px;
  }
  /*---------- SLIDE CAPTION ----------*/
  .vid_slider_modal_069_slide{
    width: 525px;
  }
}

/*---------- MEDIA 768px - 1100px ----------*/
@media (min-width: 768px) and (max-width: 1100px){
  /*---------- MODAL CONTENT ----------*/
  #video_slider_modal_069 {
    height: 575px;
  }
  #video_slider_modal_069 > .carousel-inner > .carousel-item {
    height: 575px;
  }
  /*---------- VIDEO ----------*/
  .vid_slider_modal_069{
    width: 600px;
  }
  /*---------- SLIDE CAPTION ----------*/
  .vid_slider_modal_069_slide{
    width: 600px;
  }
}

/*---------- MODAL ANIMATION EFFECT ----------*/
.modal.fade.ps_modal_fadeInRight .modal-dialog{
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.3,1,0,1);
  -o-transition: -o-transform 1.5s cubic-bezier(0.3,1,0,1);
  transition: transform 1.5s cubic-bezier(0.3,1,0,1);
  -webkit-transform: translate(25%, 0);
  -ms-transform: translate(25%, 0);
  -o-transform: translate(25%, 0);
  transform: translate(25%, 0);
}
.modal.in.ps_modal_fadeInRight .modal-dialog{
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}