/*------------------------------------------------------*/
/* MODAL 067
/*------------------------------------------------------*/

/*---------- GALLERY ----------*/
.ps_modal_067_gallery,
.ps_modal_067_gallery > .row > div{
  margin: 0;
  padding: 0 2px;
}
.ps_modal_067_gallery > .row{
  margin: 0;
}
.ps_modal_067_gallery > .row > div > img{
  width: 100%;
  cursor: pointer;
}
/*---------- MODAL ----------*/
#ps_modal_067{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/*---------- MODAL CONTENT ----------*/
#ps_modal_067 > .modal-dialog{
  max-width: 100%;
  margin: 30px 0;
  -webkit-transform: none;
  transform: none);
}
/*---------- MODAL CONTENT ----------*/
#ps_modal_067 > .modal-dialog > .modal-content{
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- RESPONSIVE ----------*/
@media (min-width: 768px) {
  #ps_modal_067 > .modal-dialog{
    width: 60%;
	margin: 30px auto;
  }
}
/*---------- MODAL CLOSE BUTTON ----------*/
.ps_modal_close_pink > .modal-dialog > .modal-content > a{
  top: 1%;
  right: 2%;
  left: auto;
  z-index: 10;
  width: 15px;
  height: 15px;
  color: #ed7dd1;
  font-size: 25px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.ps_modal_close_pink > .modal-dialog > .modal-content > a:hover{
  color: #ffffff;
}

/*------------------------------------------------------*/
/* SLIDER 067
/*------------------------------------------------------*/
#thx_slider_modal_067 {
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#thx_slider_modal_067:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#thx_slider_modal_067:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#thx_slider_modal_067 > .carousel-inner > .carousel-item{
  overflow: hidden;
  max-height: 658px;
}
#thx_slider_modal_067 > .carousel-inner > .carousel-item > img,
#thx_slider_modal_067 > .carousel-inner > .carousel-item > a > img{
  width: 100%;
  margin: auto;
  opacity: 0.6;
}
/*---------- INDICATORS THUMBNAIL CONTROL ----------*/
.thx_slider_modal_thumb > .carousel-indicators {
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  display: block;
  padding: 2px 2px;
  cursor: e-resize;
  overflow-x: auto;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  background: #1a1c1b;
}
.thx_slider_modal_thumb > .carousel-indicators li:before,
.thx_slider_modal_thumb > .carousel-indicators li:after{
  display: none;	
}
.thx_slider_modal_thumb > .carousel-indicators li{
  opacity: 1;
  border: 0;
  padding: 0;
  width: 12%;
  height: 100%;
  margin: 0 1px;
  text-indent: 0;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.thx_slider_modal_thumb > .carousel-indicators li img{
  width: 100%;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.thx_slider_modal_thumb > .carousel-indicators .active {
  width: 12%;
  height: 100%;
  margin: 0 1px;
  background-color: transparent;
}
.thx_slider_modal_thumb > .carousel-indicators .active img{
  opacity: 0.6;
}
.thx_slider_modal_thumb > .carousel-indicators::-webkit-scrollbar {
  margin: 0;
  padding: 0;
  width: 4px;
  height: 4px;
  background: transparent;
}
.thx_slider_modal_thumb > .carousel-indicators::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(255,255,255,0.6);
}
@media screen and (min-width: 768px) {
  .thx_slider_modal_thumb > .carousel-indicators {
    bottom: 0;
  }
}
/*---------- SLIDE CAPTION ----------*/
.thx_slider_modal_067_slide{
  top: 30%;
  left: 5%;
  width: 60%;
  right: auto;
  text-align: left;
  position: absolute;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
.thx_slider_modal_067_slide_right{
  right: 5%;
  left: auto;
  text-align: right;
}
.thx_slider_modal_067_slide_center{
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.thx_slider_modal_067_slide > h1{
  padding: 0;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 10px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}
.thx_slider_modal_067_slide > h1 > span{
  color: #ed7dd1;
}
.thx_slider_modal_067_slide > h2{
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
  font-family: 'Droid Serif', serif;
}
.thx_slider_modal_067_slide > a,
.thx_slider_modal_067_slide > a:visited{
  color: #ffffff;
  cursor: pointer;
  font-size: 10px;
  margin-top: 40px;
  line-height: 10px;
  text-align: center;
  padding: 10px 20px;
  letter-spacing: 1px;
  white-space: nowrap;
  background: #ed7dd1;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.thx_slider_modal_067_slide > a:hover,
.thx_slider_modal_067_slide > a:active {
  color: #ed7dd1;
  background: #ffffff;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .thx_slider_modal_067_slide,
  .thx_slider_modal_067_slide.thx_slider_modal_067_slide_right{
    top: 15%;
	width: 100%;
  }
  .thx_slider_modal_067_slide > h2{
    font-size: 18px;
  }
  .thx_slider_modal_067_slide > h1{
    font-size: 25px;
    margin-bottom: 5px;
  }
  .thx_slider_modal_067_slide > a{
    margin-top: 10px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .thx_slider_modal_067_slide {
	width: 100%;
  }
}

/*---------- MEDIA 601px - 900px ----------*/
@media (min-width: 601px) and (max-width: 900px) {
  /*---------- SLIDE CAPTION ----------*/
  .thx_slider_modal_067_slide {
	width: 100%;
  }
}

/*---------- MODAL ANIMATION EFFECT ----------*/
.modal.fade.ps_modal_zoomOut .modal-dialog {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.22,0.81,0.01,0.99);
  -o-transition: -o-transform 1s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: transform 1s cubic-bezier(0.22,0.81,0.01,0.99);
  -webkit-transform: translate(0, 0) scale(1.1);
  -ms-transform: translate(0, 0) scale(1.1);
  -o-transform: translate(0, 0) scale(1.1);
  transform: translate(0, 0) scale(1.1);
}
.modal.in.ps_modal_zoomOut .modal-dialog {
  -webkit-transform: translate(0, 0) scale(1);
  -ms-transform: translate(0, 0) scale(1);
  -o-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}