/*------------------------------------------------------*/
/* PARALLAX 072
/*------------------------------------------------------*/
#parallax_072{
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #ffdbde;
}
#parallax_072:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#parallax_072:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#parallax_072 > .carousel-inner > .carousel-item{
  overflow: hidden;
}
/*---------- BACKGROUND IMAGE ----------*/
.prlx_072_bg_img{
  height: 658px;
  background-repeat: repeat-x;
  background-attachment: fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
/*---------- MEDIA 380px ----------*/
@media only screen and (max-width: 380px){
  .prlx_072_bg_img{
    max-height: 200px;
  }
}
/*---------- MEDIA 381px - 550px ----------*/
@media (min-width: 381px) and (max-width: 550px){
  .prlx_072_bg_img{
    max-height: 235px;
  }
}
/*---------- MEDIA 551px - 767px ----------*/
@media (min-width: 551px) and (max-width: 767px){
  .prlx_072_bg_img{
    max-height: 350px;
  }
}
/*---------- MEDIA 768px - 900px ----------*/
@media (min-width: 768px) and (max-width: 900px){
  .prlx_072_bg_img{
    max-height: 495px;
  }
}
/*---------- MEDIA 901px - 1100px ----------*/
@media (min-width: 901px) and (max-width: 1100px){
  .prlx_072_bg_img{
    max-height: 550px;
  }
}
/*---------- INDICATORS CONTROL ----------*/
.ps_indicators_reddish_num > .carousel-indicators{
  margin: 0;
  right: 0;
  right: 1%;
  bottom: 5%;
  width: 90%;
  left: auto;
  height: 35px;
  font-size: 0;
  display: block;
  overflow-x: auto;
  text-align: right;
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}
.ps_indicators_reddish_num > .carousel-indicators li{
  margin: 1px;
  min-width: 30px;
  width: auto;
  height: 30px;
  border: none;
  color: #ffffff;
  text-indent: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background: #333333;
  letter-spacing: 1px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-family: 'Slabo 27px', serif;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-transition: all 0.5s cubic-bezier(.165,.84,.44,1);
  transition: all 0.5s cubic-bezier(.165,.84,.44,1);
}
.ps_indicators_reddish_num > .carousel-indicators .active{
  min-width: 30px;
  width: auto;
  margin: 1px;
  height: 30px;
  border: none;
  text-indent: 0;
  color: #ffffff;
  background: #ea2c58;
}
.ps_indicators_reddish_num > .carousel-indicators::-webkit-scrollbar{
  height: 5px;
}
.ps_indicators_reddish_num > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_reddish_rbox .carousel-control-prev,
.ps_control_reddish_rbox .carousel-control-next{
  top: 3%;
  opacity: 1;
  width: 30px;
  height: 30px;
  z-index: 100;
  bottom: auto;
  color: #ffffff;
  font-size: 10px;
  cursor: pointer;
  font-weight: 400;
  overflow: hidden;
  line-height: 30px;
  text-shadow: none;
  position: absolute;
  background: #333333;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s cubic-bezier(.165,.84,.44,1);
  transition: all 0.5s cubic-bezier(.165,.84,.44,1);
}
.ps_control_reddish_rbox .carousel-control-prev{
  left: 30px;
  right: auto;
}
.ps_control_reddish_rbox .carousel-control-next{
  left: 61px;
  right: auto;
}
.ps_control_reddish_rbox .carousel-control-prev:hover,
.ps_control_reddish_rbox .carousel-control-next:hover{
  color: #ffffff;
  background: #ea2c58;
}
/*---------- SLIDE CAPTION ----------*/
.prlx_072_slide{
  top: 25% !important;
  left: 10% !important;
  bottom: 0;
  margin: 0;
  width: 600px;
  padding: 10px;
  position: absolute;
  list-style-type: none;
}
.prlx_072_slide_right{
  text-align: right;
  right: 10% !important;
  left: auto !important;
}
.prlx_072_slide_center{
  margin: auto;
  text-align: center;
  right: 0 !important;
  left: 0 !important;
}
.prlx_072_slide > h5,
.prlx_072_slide > h1,
.prlx_072_slide > p,
.prlx_072_slide > a{
  margin: 0;
  padding: 0;
  color: #333333;
  display: block;
  text-shadow: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Alegreya Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(.165,.84,.44,1);
  animation-timing-function: cubic-bezier(.165,.84,.44,1);
}
.prlx_072_slide > h5{
  font-size: 16px;
  font-weight: 500;
}
.prlx_072_slide > h1{
  font-size: 100px;
  font-weight: 900;
}
.prlx_072_slide > h1 > span{
  color: #ea2c58;
}
.prlx_072_slide > p{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}
.prlx_072_slide > a{
  width: 150px;
  height: 40px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  line-height: 40px;
  position: relative;
  text-align: center;
  background: #ea2c58;
  text-decoration: none;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.prlx_072_slide_right > a{
  margin-left: auto;
}
.prlx_072_slide_center > a{
  margin: auto;
}
.prlx_072_slide > a:before{
  right: 15px;
  content: "\f105";
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}
.prlx_072_slide > a:hover,
.prlx_072_slide > a:active{
  color: #ffffff;
  background: #333333;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_reddish_num > .carousel-indicators{
    display: none;
  }
  .ps_control_reddish_rbox .carousel-control-prev,
  .ps_control_reddish_rbox .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .prlx_072_slide{
    width: 80%;
	top: 5% !important;
    left: 5% !important;
  }
  .prlx_072_slide_right{
    right: 5% !important;
    left: auto !important;
  }
  .prlx_072_slide_center{
    margin: auto;
    right: 0 !important;
    left: 0 !important;
  }
  .prlx_072_slide > h1{
    font-size: 50px;
  }
  .prlx_072_slide > p{
    font-size: 12px;
    margin-bottom: 15px;
  }
  .prlx_072_slide > a{
    height: 30px;
    line-height: 30px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px){
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_reddish_num > .carousel-indicators{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .prlx_072_slide{
    width: 80%;
  }
  .prlx_072_slide > h1{
    font-size: 50px;
  }
  .prlx_072_slide > p{
	font-size: 12px;
    margin-bottom: 15px;
  }
  .prlx_072_slide > a{
    height: 30px;
    line-height: 30px;
  }
}

/*---------- MEDIA 601px - 900px ----------*/
@media (min-width: 601px) and (max-width: 900px){
  /*---------- SLIDE CAPTION ----------*/
  .prlx_072_slide{
    width: 80%;
  }
  .prlx_072_slide > h1{
    font-size: 50px;
  }
  .prlx_072_slide > p{
	font-size: 12px;
    margin-bottom: 15px;
  }
  .prlx_072_slide > a{
    height: 30px;
    line-height: 30px;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}