/*------------------------------------------------------*/
/* PARALLAX 075
/*------------------------------------------------------*/
#parallax_075{
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#parallax_075:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#parallax_075:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#parallax_075 > .carousel-inner > .carousel-item{
  overflow: hidden;
}
/*---------- BACKGROUND IMAGE ----------*/
.prlx_075_bg_img{
  height: 658px;
  background-repeat: repeat-x;
  background-attachment: fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/*---------- MEDIA 380px ----------*/
@media only screen and (max-width: 380px){
  .prlx_075_bg_img{
    max-height: 200px;
  }
}
/*---------- MEDIA 381px - 550px ----------*/
@media (min-width: 381px) and (max-width: 550px){
  .prlx_075_bg_img{
    max-height: 235px;
  }
}
/*---------- MEDIA 551px - 767px ----------*/
@media (min-width: 551px) and (max-width: 767px){
  .prlx_075_bg_img{
    max-height: 350px;
  }
}
/*---------- MEDIA 768px - 900px ----------*/
@media (min-width: 768px) and (max-width: 900px){
  .prlx_075_bg_img{
    max-height: 495px;
  }
}
/*---------- MEDIA 901px - 1100px ----------*/
@media (min-width: 901px) and (max-width: 1100px){
  .prlx_075_bg_img{
    max-height: 550px;
  }
}
/*---------- INDICATORS CONTROL ----------*/
.ps_indicators_gray_lg > .carousel-indicators{
  margin: 0;
  right: 2%;
  bottom: 5%;
  width: 95%;
  left: auto;
  height: 40px;
  display: block;
  overflow-x: auto;
  text-align: center;
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}
.ps_indicators_gray_lg > .carousel-indicators li{
  margin: 1px;
  width: 35px;
  height: 35px;
  opacity: 0.8;
  color: #090902;
  text-indent: 0;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  background: transparent;
  border: 2px solid #b2b2b2;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: all 0.5s cubic-bezier(.075,.82,.165,1);
  transition: all 0.5s cubic-bezier(.075,.82,.165,1);
}
.ps_indicators_gray_lg > .carousel-indicators .active{
  width: 35px;
  opacity: 1;
  height: 35px;
  margin: 1px;
  text-indent: 0;
  background: #b2b2b2;
  border: 2px solid #b2b2b2;
}
.ps_indicators_gray_lg > .carousel-indicators::-webkit-scrollbar{
  height: 4px;
}
.ps_indicators_gray_lg > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_gray_lg .carousel-control-prev,
.ps_control_gray_lg .carousel-control-next{
  top: 45%;
  width: 65px;
  opacity: 0.5;
  height: 65px;
  z-index: 100;
  bottom: auto;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  font-weight: 400;
  overflow: hidden;
  line-height: 65px;
  text-shadow: none;
  position: absolute;
  background: #b2b2b2;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s cubic-bezier(.075,.82,.165,1);
  transition: all 0.5s cubic-bezier(.075,.82,.165,1);
}
.ps_control_gray_lg .carousel-control-prev{
  left: 0;
  border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
}
.ps_control_gray_lg .carousel-control-next{
  right: 0;
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
 }
.ps_control_gray_lg .carousel-control-prev:hover,
.ps_control_gray_lg .carousel-control-next:hover{
  opacity: 1;
  color: #ffffff;
  background: #b2b2b2;
}
/*---------- SLIDE CAPTION ----------*/
.prlx_075_slide{
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 10px;
  text-align: left;
  position: absolute;
  background: rgba(0,0,0,0.4);
}
.prlx_075_slide > h1,
.prlx_075_slide > a{
  right: 0;
  padding: 0;
  width: 80%;
  color: #ffffff;
  display: block;
  text-align: left;
  text-shadow: none;
  position: relative;
  letter-spacing: 1px;
  left: 180px !important;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.prlx_075_slide_right > h1,
.prlx_075_slide_right > a{
  text-align: right;
  left: auto !important;
  right: 180px !important;
}
.prlx_075_slide_center > h1,
.prlx_075_slide_center > a{
  margin: 0 auto;
  text-align: center;
  left: 0 !important;
  right: 0 !important;
}
.prlx_075_slide > h1{
  font-size: 80px;
  font-weight: 900;
  top: 80px !important;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);
  animation-timing-function: cubic-bezier(.075,.82,.165,1);
}
.prlx_075_slide > h1 > span{
  padding: 0;
  color: #b2b2b2;
  margin-left: 15px;
  text-transform: uppercase;
}
.prlx_075_slide > a{
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background: #b2b2b2;
  top: 375px !important;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -webkit-transition: all 0.5s cubic-bezier(.075,.82,.165,1);
  transition: all 0.5s cubic-bezier(.075,.82,.165,1);
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);
  animation-timing-function: cubic-bezier(.075,.82,.165,1);
}
.prlx_075_slide > a:hover,
.prlx_075_slide > a:active{
  color: #b2b2b2;
  background: #ffffff;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_gray_lg > .carousel-indicators{
    display: none;
  }
  .ps_control_gray_lg .carousel-control-prev,
  .ps_control_gray_lg .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .prlx_075_slide > h1,
  .prlx_075_slide > a{
    left: 40px !important;
  }
  .prlx_075_slide_right > h1,
  .prlx_075_slide_right > a{
    left: auto !important;
    right: 40px !important;
  }
  .prlx_075_slide_center > h1,
  .prlx_075_slide_center > a{
    margin: 0 auto;
    text-align: center;
    left: 0 !important;
    right: 0 !important;
  }
  .prlx_075_slide > h1{
    font-size: 20px;
    top: 10px !important;
  }
  .prlx_075_slide > a{
    width: 150px;
	height: 30px;
    line-height: 30px;
    top: 120px !important;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px){
  /*---------- INDICATORS CONTROL ----------*/
  .ps_indicators_gray_lg > .carousel-indicators{
    display: none;
  }
  .ps_control_gray_lg .carousel-control-prev,
  .ps_control_gray_lg .carousel-control-next{
    display: none;
  }
  /*---------- SLIDE CAPTION ----------*/
  .prlx_075_slide > h1,
  .prlx_075_slide > a{
    left: 75px !important;
  }
  .prlx_075_slide_right > h1,
  .prlx_075_slide_right > a{
    left: auto !important;
    right: 75px !important;
  }
  .prlx_075_slide_center > h1,
  .prlx_075_slide_center > a{
    margin: 0 auto;
    text-align: center;
    left: 0 !important;
    right: 0 !important;
  }
  .prlx_075_slide > h1{
    font-size: 20px;
    top: 20px !important;
  }
  .prlx_075_slide > a{
    width: 150px;
	height: 30px;
    line-height: 30px;
    top: 130px !important;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px){
  /*---------- SLIDE CAPTION ----------*/
  .prlx_075_slide > h1,
  .prlx_075_slide > a{
    left: 95px !important;
  }
  .prlx_075_slide_right > h1,
  .prlx_075_slide_right > a{
    left: auto !important;
    right: 95px !important;
  }
  .prlx_075_slide_center > h1,
  .prlx_075_slide_center > a{
    margin: 0 auto;
    text-align: center;
    left: 0 !important;
    right: 0 !important;
  }
  .prlx_075_slide > h1{
    font-size: 30px;
    top: 25px !important;
  }
  .prlx_075_slide > a{
    width: 150px;
	height: 40px;
    line-height: 40px;
    top: 150px !important;
  }
}

/*---------- MEDIA 768px - 900px ----------*/
@media (min-width: 768px) and (max-width: 900px){
  /*---------- SLIDE CAPTION ----------*/
  .prlx_075_slide > h1,
  .prlx_075_slide > a{
    left: 110px !important;
  }
  .prlx_075_slide_right > h1,
  .prlx_075_slide_right > a{
    left: auto !important;
    right: 110px !important;
  }
  .prlx_075_slide_center > h1,
  .prlx_075_slide_center > a{
    margin: 0 auto;
    text-align: center;
    left: 0 !important;
    right: 0 !important;
  }
  .prlx_075_slide > h1{
    font-size: 45px;
    top: 75px !important;
  }
  .prlx_075_slide > a{
    top: 250px !important;
  }
}

/*---------- MEDIA 901px - 1100px ----------*/
@media (min-width: 901px) and (max-width: 1100px){
  /*---------- SLIDE CAPTION ----------*/
  .prlx_075_slide > h1,
  .prlx_075_slide > a{
    left: 140px !important;
  }
  .prlx_075_slide_right > h1,
  .prlx_075_slide_right > a{
    left: auto !important;
    right: 140px !important;
  }
  .prlx_075_slide_center > h1,
  .prlx_075_slide_center > a{
    margin: 0 auto;
    text-align: center;
    left: 0 !important;
    right: 0 !important;
  }
  .prlx_075_slide > h1{
    font-size: 50px;
    top: 75px !important;
  }
  .prlx_075_slide > a{
    top: 250px !important;
  }
}

/*---------- MEDIA 1101px - 1250px ----------*/
@media (min-width: 1101px) and (max-width: 1250px){
  /*---------- SLIDE CAPTION ----------*/
  .prlx_075_slide > h1{
    font-size: 70px;
  }

}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}