/*------------------------------------------------------*/
/* TEAM 090
/*------------------------------------------------------*/
.team_090{
  overflow: hidden;
  position: relative;
  background: #eaebe6;
  padding: 60px 5px 60px 5px;
}
.team_090 > .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.team_090 > .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.team_090 > .carousel-inner > .carousel-item{
  overflow: hidden;
}
.team_090 > .carousel-inner > .carousel-item > .row{
  margin: 0;
}
/*---------- INDICATORS CONTROL ----------*/
.team_090_indicators > .carousel-indicators{
  left: 0;
  right: 0;
  top: 180px;
  width: 90%;
  bottom: auto;
  margin: auto;
  height: 25px;
  font-size: 0;
  display: block;
  overflow-x: auto;
  text-align: center;
  overflow-y: hidden;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}
.team_090_indicators > .carousel-indicators li{
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  margin: 0 5px;
  text-indent: 0;
  font-size: 11px;
  font-weight: 500;
  overflow: hidden;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  background: transparent;
  border: 1px solid #c13c3d;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.team_090_indicators > .carousel-indicators .active{
  width: 20px;
  height: 20px;
  margin: 0 5px;
  text-indent: 0;
  font-weight: 700;
  background: #c13c3d;
}
.team_090_indicators > .carousel-indicators::-webkit-scrollbar{
  height: 4px;
}
.team_090_indicators > .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.team_090_control_button .carousel-control-prev,
.team_090_control_button .carousel-control-next{
  top: 140px;
  opacity: 1;
  width: 25px;
  bottom: auto;
  height: 25px;
  color: #c13c3d;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  overflow: hidden;
  line-height: 23px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 1px solid #c13c3d;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.team_090_control_button .carousel-control-prev{
  left: 0;
  right: 28px;
  margin: auto;
}
.team_090_control_button .carousel-control-next{
  right: 0;
  left: 28px;
  margin: auto;
}
.team_090_control_button .carousel-control-prev:hover,
.team_090_control_button .carousel-control-next:hover{
  opacity: 1;
  color: #ffffff;
  background: #c13c3d;
}
/*---------- HEADER ----------*/
.team_090_header > h5,
.team_090_content > h5 > a,
.team_090_content > h6 > a{
  text-shadow: none;
  font-family: 'Catamaran', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.team_090_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 340px;
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto 100px auto;
}
.team_090_header > h5{
  padding: 10px;
  color: #c13c3d;
  font-size: 30px;
  font-weight: 300;
  position: relative;
  letter-spacing: 1px;
  border: 1px solid #c13c3d;
  text-transform: uppercase;
}
/*---------- GRID ----------*/
.team_090_grid{
  padding: 5px;
}
/*---------- GRID FOR MOVING TWO ----------*/
.team_090_grid_mov_2{
  padding: 0;
}
.team_090_grid_mov_2 > .row{
  margin: 0;
}
.team_090_grid_mov_2 > .row > div{
  padding: 5px;
}
/*---------- WRAPPER ----------*/
.team_090_wrapper{
  overflow: hidden;
  position: relative;
  border: 1px solid #d0d0d0;
}
/*---------- IMAGE ----------*/
.team_090_image{
  overflow: hidden;
  position: relative;
  background: #000000;
}
.team_090_image:after{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: "";
  visibility: hidden;
  position: absolute;
  background: rgba(193, 60, 61,0.95);
  -webkit-transform: translate(-100%,-100%);
  -ms-transform: translate(-100%,-100%);
  transform: translate(-100%,-100%);
  -webkit-transition: all 0.7s cubic-bezier(0.3,1,0,1);
  -ms-transition: all 0.7s cubic-bezier(0.3,1,0,1);
  transition: all 1s cubic-bezier(0.3,1,0,1);
}
.team_090_wrapper:hover > .team_090_image:after{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}
.team_090_image > img{
  width: 100%;
  opacity: 0.9;
}
.team_090_image > a{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 2;
  width: 50px;
  margin: auto;
  height: 50px;
  color: #ffffff;
  display: block;
  font-size: 18px;
  line-height: 46px;
  position: absolute;
  visibility: hidden;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ffffff;
  -webkit-transform: translate(100%,100%);
  -ms-transform: translate(100%,100%);
  transform: translate(100%,100%);
  -webkit-transition: all 0.7s cubic-bezier(0.3,1,0,1);
  -ms-transition: all 0.7s cubic-bezier(0.3,1,0,1);
  transition: all 1s cubic-bezier(0.3,1,0,1);
}
.team_090_wrapper:hover > .team_090_image > a{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}
.team_090_image > a:hover{
  color: #c13c3d;
  background: #ffffff;
  border: 1px solid #ffffff;
}
/*---------- CONTENT ----------*/
.team_090_content{
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: left;
  position: relative;
}
.team_090_content > h5{
  margin: 15px 15px 7px 15px;
}
.team_090_content > h5 > a{
  color: #333331;
  padding: 0 2px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: color 0.7s cubic-bezier(0.3,1,0,1);
  transition: color 0.7s cubic-bezier(0.3,1,0,1);
}
.team_090_content > h5 > a:hover{
  color: #c13c3d;
}
.team_090_content > h6{
  margin: 0 15px;
}
.team_090_content > h6 > a{
  color: #c1c1c1;
  padding: 0 2px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.7s cubic-bezier(0.3,1,0,1);
  transition: all 0.7s cubic-bezier(0.3,1,0,1);
}
.team_090_content > h6 > a:hover{
  color: #ffffff;
  background: #c13c3d;
}
.team_090_content > ul{
  padding: 5px 10px;
  margin: 25px 0 0 0;
  list-style-type: none;
  border-top: 1px solid #d0d0d0;
}
.team_090_content > ul > li{
  margin: 0;
  padding: 0;
  display: inline-block;
}
.team_090_content > ul > li > a{
  width: 30px;
  height: 30px;
  color: #c1c1c1;
  display: block;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.7s cubic-bezier(0.3,1,0,1);
  transition: color 0.7s cubic-bezier(0.3,1,0,1);
}
.team_090_content > ul > li > a:hover{
  color: #c13c3d;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  .team_090_header{
    width: 95%;
  }
  .team_090_header > h5{
    font-size: 23px;
  }
}
/*---------- MEDIA 481px - 768px ----------*/
@media (min-width: 481px) and (max-width: 768px){
  .team_090_content > h5 > a{
    font-size: 25px;
  }
  .team_090_content > h6 > a{
    font-size: 20px;
  }
}
/*---------- MEDIA 769px - 992px ----------*/
@media (min-width: 769px) and (max-width: 992px){
  .team_090_content_col_6_mov_2 > h5 > a{
    font-size: 14px;
  }
  .team_090_content_col_6_mov_2 > ul{
    font-size: 0;
    padding: 3px 3px;
  }
}
/*---------- MEDIA 993px - 1200px ----------*/
@media (min-width: 993px) and (max-width: 1200px){
  .team_090_content > h5 > a{
    font-size: 14px;
  }
  .team_090_content > ul{
    font-size: 0;
    padding: 3px 3px;
  }
}
/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}