/*------------------------------------------------------*/
/* TEAM 087
/*------------------------------------------------------*/
.team_087{
  overflow: hidden;
  padding: 50px 5px;
  position: relative;
  background: #242424;
}
.team_087 > .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.team_087 > .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.team_087 > .carousel-inner > .carousel-item{
  overflow: hidden;
}
.team_087 > .carousel-inner > .carousel-item > .row{
  margin: 0;
}
/*---------- INDICATORS CONTROL ----------*/
.team_087_indicators > .carousel-indicators{
  right: 0;
  margin: 0;
  top: 230px;
  width: 70%;
  left: 140px;
  bottom: auto;
  height: 20px;
  font-size: 0;
  display: block;
  overflow-x: auto;
  text-align: left;
  overflow-y: hidden;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}
.team_087_indicators > .carousel-indicators li{
  padding: 0;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  text-indent: 0;
  font-size: 11px;
  font-weight: 500;
  overflow: hidden;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  background: transparent;
  border: 1px solid #dbb760;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.team_087_indicators > .carousel-indicators .active{
  width: 10px;
  height: 10px;
  margin: 0 5px;
  text-indent: 0;
  font-weight: 700;
  background: #dbb760;
  border: 1px solid #dbb760;
}
.team_087_indicators > .carousel-indicators::-webkit-scrollbar{
  height: 4px;
}
.team_087_indicators > .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.team_087_control_button .carousel-control-prev,
.team_087_control_button .carousel-control-next{
  top: 60px;
  opacity: 1;
  width: 25px;
  bottom: auto;
  height: 25px;
  color: #dbb760;
  font-size: 11px;
  cursor: pointer;
  font-weight: 400;
  overflow: hidden;
  line-height: 25px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  letter-spacing: 1px;
  background: transparent;
  border: 1px solid #dbb760;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.team_087_control_button .carousel-control-prev{
  left: 140px;
  right: auto;
  margin: auto;
}
.team_087_control_button .carousel-control-next{
  left: 167px;
  right: auto;
  margin: auto;
 }
.team_087_control_button .carousel-control-prev:hover,
.team_087_control_button .carousel-control-next:hover{
  opacity: 1;
  color: #000000;
  background: #dbb760;
}
/*---------- HEADER ----------*/
.team_087_header > h6,
.team_087_header > h5,
.team_087_content > h5 > a,
.team_087_content > p{
  text-shadow: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.team_087_header > p,
.team_087_content > h6 > a{
  text-shadow: none;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
}
.team_087_header{
  top: 0;
  bottom: 0;
  left: 140px;
  width: 625px;
  display: block;
  text-align: left;
  position: relative;
  margin: 50px 0 75px 0;
}
.team_087_header > h6{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  color: #dbb760;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.team_087_header > h5{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 20px 0;
  position: relative;
  letter-spacing: 2px;
  padding: 5px 0 20px 0;
  text-transform: uppercase;
}
.team_087_header > h5:after{
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  height: 2px;
  width: 35px;
  position: absolute;
  background: #555555;
}
.team_087_header > p{
  margin: 0;
  padding: 0;
  color: #8a8a8a;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
}
/*---------- GRID ----------*/
.team_087_grid{
  padding: 5px;
}
/*---------- GRID FOR MOVING TWO ----------*/
.team_087_grid_mov_2{
  padding: 0;
}
.team_087_grid_mov_2 > .row{
  margin: 0;
}
.team_087_grid_mov_2 > .row > div{
  padding: 5px;
}
/*---------- WRAPPER ----------*/
.team_087_wrapper{
  overflow: hidden;
  position: relative;
  background: #ffffff;
}
/*---------- IMAGE ----------*/
.team_087_wrapper > img{
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.7s cubic-bezier(0.3,1,0,1);
  transition: all 0.7s cubic-bezier(0.3,1,0,1);
}
.team_087_wrapper:hover > img{
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/*---------- CONTENT ----------*/
.team_087_content{
  left: 0;
  right: 0;
  top: auto;
  width: 100%;
  height: 100%;
  margin: auto;
  bottom: -100%;
  overflow-y: auto;
  text-align: left;
  position: absolute;
  padding: 25px 15px 0 15px;
  background: rgba(36, 36, 36,0.9);
  -webkit-transition: bottom 0.7s cubic-bezier(0.3,1,0,1);
  transition: bottom 0.7s cubic-bezier(0.3,1,0,1);
}
.team_087_wrapper:hover > .team_087_content{
  bottom: 0;
}
.team_087_content > h5{
  margin: 0;
  position: relative;
  padding: 0 0 10px 0;
}
.team_087_content > h5:after{
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  height: 2px;
  width: 35px;
  position: absolute;
  background: #555555;
}
.team_087_content > h5 > a{
  color: #dbb760;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.7s cubic-bezier(0.3,1,0,1);
  transition: color 0.7s cubic-bezier(0.3,1,0,1);
}
.team_087_content > h5 > a:hover{
  color: #ffffff;
}
.team_087_content > h6 > a{
  color: #adadad;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: color 0.7s cubic-bezier(0.3,1,0,1);
  transition: color 0.7s cubic-bezier(0.3,1,0,1);
}
.team_087_content > h5 > a:hover,
.team_087_content > h6 > a:hover{
  color: #ffffff;
}
.team_087_content > p{
  color: #adadad;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: color 0.7s cubic-bezier(0.3,1,0,1);
  transition: color 0.7s cubic-bezier(0.3,1,0,1);
}
.team_087_content > ul{
  padding: 0;
  margin-top: 30px;
  list-style-type: none;
}
.team_087_content > ul > li{
  display: inline-block;
}
.team_087_content > ul > li > a{
  width: 25px;
  height: 25px;
  color: #ffffff;
  display: block;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  border: 1px solid transparent;
  text-decoration: none;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.7s cubic-bezier(0.3,1,0,1);
  transition: all 0.7s cubic-bezier(0.3,1,0,1);
}
.team_087_content > ul > li > a:hover{
  color: #dbb760;
  border: 1px solid #dbb760;
}
.team_087_content::-webkit-scrollbar{
  width: 3px;
}
.team_087_content::-webkit-scrollbar-thumb{
  background: #555555;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.team_087_content_col_4{
  padding: 70px 35px 0 35px;
}
.team_087_content_col_3,
.team_087_content_col_2{
  padding: 25% 15% 0 15%;
}
.team_087_content_col_3 > h5 > a,
.team_087_content_col_2 > h5 > a{
  font-size: 22px;
}
.team_087_content_col_3 > h6 > a,
.team_087_content_col_2 > h6 > a{
  font-size: 14px;
}
.team_087_content_col_3 > p,
.team_087_content_col_2 > p{
  font-size: 12px;
}
.team_087_content_col_3 > ul > li > a,
.team_087_content_col_2 > ul > li > a{
  width: 35px;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  .team_087_indicators > .carousel-indicators{
    top: 280px;
    left: 40px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .team_087_control_button .carousel-control-prev{
    left: 40px;
  }
  .team_087_control_button .carousel-control-next{
    left: 67px;
  }
  .team_087_header{
    left: 40px;
    width: 250px;
  }
  .team_087_content{
    padding: 25% 25% 0 25%;
  }
  .team_087_content_col_3,
  .team_087_content_col_2{
    padding: 25% 25% 0 25%;
  }
  .team_087_content_col_3 > h5 > a,
  .team_087_content_col_2 > h5 > a{
    font-size: 13px;
  }
  .team_087_content_col_3 > h6 > a,
  .team_087_content_col_2 > h6 > a{
    font-size: 12px;
  }
  .team_087_content_col_3 > p,
  .team_087_content_col_2 > p{
    font-size: 10px;
  }
  .team_087_content_col_3 > ul > li > a,
  .team_087_content_col_2 > ul > li > a{
    width: 25px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
  }
}
/*---------- MEDIA 481px - 768px ----------*/
@media (min-width: 481px) and (max-width: 768px){
  .team_087_indicators > .carousel-indicators{
    top: 250px;
    left: 40px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .team_087_control_button .carousel-control-prev{
    left: 45px;
  }
  .team_087_control_button .carousel-control-next{
    left: 72px;
  }
  .team_087_header{
    left: 45px;
    width: 400px;
  }
  .team_087_content{
    padding: 25% 15% 0 15%;
  }
  .team_087_content > h5:after{
    height: 4px;
  }
  .team_087_content > h5 > a{
    font-size: 30px;
  }
  .team_087_content > h6 > a{
    font-size: 22px;
  }
  .team_087_content > p{
    font-size: 18px;
  }
  .team_087_content > ul > li > a{
    width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
  }
}
/*---------- MEDIA 769px - 992px ----------*/
@media (min-width: 769px) and (max-width: 992px){
  .team_087_indicators > .carousel-indicators{
    left: 40px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .team_087_control_button .carousel-control-prev{
    left: 50px;
  }
  .team_087_control_button .carousel-control-next{
    left: 77px;
  }
  .team_087_header{
    left: 50px;
  }
  .team_087_content{
    padding: 20% 10% 0 10%;
  }
  .team_087_content_col_3,
  .team_087_content_col_2{
    padding: 20% 10% 0 10%;
  }
  .team_087_content_col_3 > h5 > a,
  .team_087_content_col_2 > h5 > a{
    font-size: 13px;
  }
  .team_087_content_col_3 > h6 > a,
  .team_087_content_col_2 > h6 > a{
    font-size: 12px;
  }
  .team_087_content_col_3 > p,
  .team_087_content_col_2 > p{
    font-size: 10px;
  }
  .team_087_content_col_3 > ul > li > a,
  .team_087_content_col_2 > ul > li > a{
    width: 25px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
  }
  .team_087_content_col_6_mov_2{
    padding: 5px;
  }
  .team_087_content_col_6_mov_2 > h5:after{
    height: 4px;
  }
  .team_087_content_col_6_mov_2 > h5 > a{
    font-size: 12px;
  }
  .team_087_content_col_6_mov_2 > h6 > a{
    font-size: 10px;
  }
  .team_087_content_col_6_mov_2 > p{
    font-size: 9px;
  }
  .team_087_content_col_6_mov_2 > ul{
    margin-top: 5px;
	font-size: 0;
  }
}
/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}