/*------------------------------------------------------*/
/* W SHOP 104
/*------------------------------------------------------*/
/*---------- GENERAL ----------*/
.w_shop_104_main_wrapper{
  overflow: hidden;
  position: relative;
  padding: 40px 150px;
}
/*---------- HEADER ----------*/
.w_shop_104_main_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  display: block;
  text-align: left;
  position: relative;
  margin: 0 0 25px 0;
  border-bottom: 1px solid #dddddd;
}
.w_shop_104_main_header > h1{
  color: #131311;
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 10px 0;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans', sans-serif;
}
.w_shop_104_main_header > h1 > span{
  margin: 0 5px;
  color: #beae59;
}
/*---------- GRID ----------*/
.w_shop_104_grid{
  padding: 5px 0;
  overflow: hidden;
}
/*---------- WRAPPER ----------*/
.w_shop_104_wrapper{
  overflow: hidden;
  position: relative;
}
/*---------- IMAGE ----------*/
.w_shop_104_image{
  padding: 25px 0;
  overflow: hidden;
  position: relative;
  background: #eeeeee;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.w_shop_104_image > img{
  left: 0;
  right: 0;
  width: 75%;
  margin: auto;
  display: block;
  position: relative;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/*---------- NEW, SALE, DISCOUNT BANNERS ----------*/
.w_shop_104_new:link,
.w_shop_104_sale:link,
.w_shop_104_price:link,
.w_shop_104_new:visited,
.w_shop_104_sale:visited,
.w_shop_104_price:visited{
  z-index: 1;
  color: #ffffff;
  display: block;
  font-size: 11px;
  font-weight: 700;
  text-shadow: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans', sans-serif;
}
.w_shop_104_new{
  top: 5px;
  right: 5px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  background: #03a9f5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.w_shop_104_price:link,
.w_shop_104_price:visited{
  right: 5px;
  bottom: 5px;
  width: 50px;
  height: 25px;
  line-height: 25px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #beae59;
}
.w_shop_104_sale:link,
.w_shop_104_sale:visited{
  top: 0;
  left: 5px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background: #fe5722;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.w_shop_104_sale > span{
  display: block;
}
/*---------- ICONS ----------*/
.w_shop_104_icons,
.w_shop_104_icons_right{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  content: "";
  margin: auto;
  height: 45px;
  line-height: 45px;
  position: absolute;
  text-align: center;
  background: rgba(190, 174, 89, 0.8);
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  -ms-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.w_shop_104_icons > a,
.w_shop_104_icons_right > a{
  width: 30px;
  height: 30px;
  margin: 0 3px;
  color: #ffffff;
  line-height: 30px;
  background: #131311;
  display: inline-block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.w_shop_104_icons > a:hover,
.w_shop_104_icons_right > a:hover{
  color: #beae59;
  background: #ffffff;
}
.w_shop_104_icons{
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.w_shop_104_icons_right{
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.w_shop_104_grid:hover > .w_shop_104_icons,
.w_shop_104_grid:hover > .w_shop_104_icons_right{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
/*------------------------------------------------------*/
/* SLIDER
/*------------------------------------------------------*/
/*---------- GENERAL ----------*/
#w_shop_104,
#w_shop_104 > .carousel-inner,
#w_shop_104 > .carousel-inner > .carousel-item{
  overflow: hidden;
}
#w_shop_104{
  position: relative;
  background: #eeeeee;
  border: 1px solid #dddddd;
  padding: 55px 95px 95px 95px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#w_shop_104:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#w_shop_104:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#w_shop_104 > .carousel-inner > .carousel-item{
  padding: 0 0 40px 0;
}
#w_shop_104 > .carousel-inner > .carousel-item > img,
#w_shop_104 > .carousel-inner > .carousel-item > a > img{
  width: 60%;
  margin: auto;
  display: block;
}
/*---------- INDICATORS THUMBNAIL CONTROL ----------*/
.w_shop_104_indicators > .carousel-indicators{
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
  width: 100%;
  height: 95px;
  margin: auto;
  padding: 3px 5px;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  white-space: nowrap;
}
.w_shop_104_indicators > .carousel-indicators li:before,
.w_shop_104_indicators > .carousel-indicators li:after{
  display: none;
}
.w_shop_104_indicators > .carousel-indicators li{
  opacity: 1;
  padding: 0;
  width: 75px;
  padding: 5px;
  height: 75px;
  margin: 0 5px;
  text-indent: 0;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  background: transparent;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all cubic-bezier(.23,1,.32,1) 0.7s;
  transition: all cubic-bezier(.23,1,.32,1) 0.7s;
}
.w_shop_104_indicators > .carousel-indicators .active{
  width: 75px;
  padding: 5px;
  height: 75px;
  margin: 0 5px;
  text-indent: 0;
  border: 1px solid #beae59;
  background: rgba(190, 174, 89,0.3);
}
.w_shop_104_indicators > .carousel-indicators li img{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.w_shop_104_indicators > .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.w_shop_104_indicators > .carousel-indicators::-webkit-scrollbar-thumb{
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(255,255,255, 0.3);
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.w_shop_104_control_button .carousel-control-prev,
.w_shop_104_control_button .carousel-control-next{
  top: 10px;
  opacity: 1;
  width: 30px;
  bottom: auto;
  height: 30px;
  color: #beae59;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 28px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 1px solid #beae59;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.6s cubic-bezier(.23,1,.32,1);
  transition: all 0.6s cubic-bezier(.23,1,.32,1);
}
.w_shop_104_control_button .carousel-control-prev{
  left: 10px;
  right: auto;
}
.w_shop_104_control_button .carousel-control-next{
  left: 42px;
  right: auto;
}
.w_shop_104_control_button .carousel-control-prev:hover,
.w_shop_104_control_button .carousel-control-next:hover{
  opacity: 1;
  color: #ffffff;
  background: #beae59;
  border-color: #beae59;
}
/*---------- PRICE ----------*/
.w_shop_104_slider_price{
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  position: absolute;
}
.w_shop_104_slider_price > a{
  color: #565656;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.6s cubic-bezier(.23,1,.32,1);
  transition: all 0.6s cubic-bezier(.23,1,.32,1);
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans', sans-serif;
}
.w_shop_104_slider_price > a:hover{
  color: #beae59;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- GENERAL ----------*/
  .w_shop_104_main_wrapper{
    padding: 40px 25px;
  }
  #w_shop_104{
    padding: 50px 5px;
  }
  #w_shop_104 > .carousel-inner > .carousel-item{
    padding: 0 0 10px 0;
  }
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .w_shop_104_indicators > .carousel-indicators{
    height: 48px;
  }
  .w_shop_104_indicators > .carousel-indicators li{
    width: 35px;
    padding: 3px;
    height: 35px;
  }
  .w_shop_104_indicators > .carousel-indicators .active{
    width: 35px;
    padding: 3px;
    height: 35px;
  }
}
/*---------- MEDIA 481px - 767px ----------*/
@media (min-width: 481px) and (max-width: 767px){
  /*---------- GENERAL ----------*/
  .w_shop_104_main_wrapper{
    padding: 40px 100px;
  }
  #w_shop_104{
    padding: 50px 5px;
  }
  #w_shop_104 > .carousel-inner > .carousel-item{
    padding: 0 0 10px 0;
  }
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .w_shop_104_indicators > .carousel-indicators{
    height: 48px;
  }
  .w_shop_104_indicators > .carousel-indicators li{
    width: 35px;
    padding: 3px;
    height: 35px;
  }
  .w_shop_104_indicators > .carousel-indicators .active{
    width: 35px;
    padding: 3px;
    height: 35px;
  }
}
/*---------- MEDIA 768px - 991px ----------*/
@media (min-width: 768px) and (max-width: 991px){
  /*---------- GENERAL ----------*/
  .w_shop_104_main_wrapper{
    padding: 40px 5px;
  }
}
/*---------- MEDIA 992px - 1225px ----------*/
@media (min-width: 992px) and (max-width: 1225px){
  /*---------- GENERAL ----------*/
  .w_shop_104_main_wrapper{
    padding: 40px 25px;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}