/*------------------------------------------------------*/
/* W SHOP 102
/*------------------------------------------------------*/
/*---------- GENERAL ----------*/
#w_shop_102{
  padding: 50px;
  overflow: hidden;
  position: relative;
}
#w_shop_102 > .carousel-inner{
  border: 1px solid #eeeeee;
}
#w_shop_102 > .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#w_shop_102 > .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#w_shop_102 > .carousel-inner > .carousel-item{
  overflow: hidden;
}
#w_shop_102 > .carousel-inner > .carousel-item > .row{
  margin: 0;
}
.w_shop_102_indicators > .carousel-indicators li,
.w_shop_102_main_header > h1,
.w_shop_102_detail > a{
  text-shadow: none;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
}
/*---------- INDICATORS CONTROL ----------*/
.w_shop_102_indicators > .carousel-indicators{
  left: 0;
  right: 0;
  top: 110px;
  width: 93%;
  bottom: auto;
  height: 37px;
  font-size: 0;
  margin: auto;
  padding: 2px;
  display: block;
  overflow-x: auto;
  text-align: left;
  overflow-y: hidden;
  white-space: nowrap;
}
.w_shop_102_indicators > .carousel-indicators li:before,
.w_shop_102_indicators > .carousel-indicators li:after{
  display: none;
}
.w_shop_102_indicators > .carousel-indicators li{
  width: auto;
  height: 30px;
  margin: 0 3px;
  color: #637e99;
  text-indent: 0;
  padding: 0 7px;
  font-size: 11px;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #eee;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
}
.w_shop_102_indicators > .carousel-indicators .active{
  width: auto;
  height: 30px;
  margin: 0 3px;
  text-indent: 0;
  color: #9c8166;
  background: transparent;
  border: 1px solid #9c8166;
}
.w_shop_102_indicators > .carousel-indicators::-webkit-scrollbar{
  height: 2px;
}
.w_shop_102_indicators > .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.w_shop_102_control_button .carousel-control-prev,
.w_shop_102_control_button .carousel-control-next{
  top: 60px;
  opacity: 1;
  width: 25px;
  bottom: auto;
  height: 25px;
  color: #eeeeee;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  overflow: hidden;
  line-height: 23px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.w_shop_102_control_button .carousel-control-prev{
  left: auto;
  right: 78px;
  margin: auto;
}
.w_shop_102_control_button .carousel-control-next{
  left: auto;
  right: 50px;
  margin: auto;
}
.w_shop_102_control_button .carousel-control-prev:hover,
.w_shop_102_control_button .carousel-control-next:hover{
  opacity: 1;
  color: #9c8166;
  background: transparent;
  border: 1px solid #9c8166;
}
/*---------- HEADER ----------*/
.w_shop_102_main_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  margin: 0 0 75px 0;
  border-bottom: 1px solid #eeeeee;
}
.w_shop_102_main_header > h1{
  color: #9c8166;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 10px 0;
  position: relative;
  letter-spacing: 1px;
  text-transform: capitalize;
}
/*---------- GRID ----------*/
.w_shop_102_grid{
  padding: 10px;
}
/*---------- WRAPPER ----------*/
.w_shop_102_wrapper{
  overflow: hidden;
  position: relative;
}
/*---------- IMAGE ----------*/
.w_shop_102_image{
  padding: 25px 0;
  overflow: hidden;
  position: relative;
  background: #f5f5f5;
}
.w_shop_102_image > img{
  left: 0;
  right: 0;
  width: 65%;
  margin: auto;
  display: block;
  position: relative;
}
/*---------- NEW, SALE, OLD PRICE BANNERS ----------*/
.w_shop_102_new:link,
.w_shop_102_sale:link,
.w_shop_102_old_price:link,
.w_shop_102_new:visited,
.w_shop_102_sale:visited,
.w_shop_102_old_price:visited{
  top: 10px;
  z-index: 1;
  height: 25px;
  color: #ffffff;
  display: block;
  font-weight: 400;
  line-height: 25px;
  text-shadow: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.w_shop_102_new{
  left: 10px;
  width: 50px;
  font-size: 12px;
  background: #9c8166;
}
.w_shop_102_sale{
  right: 10px;
  width: 50px;
  font-size: 12px;
  background: #637e99;
}
.w_shop_102_old_price:link,
.w_shop_102_old_price:visited{
  left: 0;
  right: 0;
  width: 70px;
  margin: auto;
  font-size: 13px;
  background: #f36523;
  text-decoration: line-through;
}
/*---------- ICONS ----------*/
.w_shop_102_icons{
  left: 0;
  right: 0;
  top: auto;
  height: 50px;
  bottom: -50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  background: rgba(255,255,255,0.5);
  -webkit-transition: bottom 0.3s ease-out;
  transition: bottom 0.3s ease-out;
}
.w_shop_102_icons > a{
  width: 30px;
  height: 30px;
  margin: 0 2px;
  color: #ffffff;
  line-height: 30px;
  background: #ababab;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.7s cubic-bezier(0.3,1,0,1);
  transition: all 0.7s cubic-bezier(0.3,1,0,1);
}
.w_shop_102_icons > a:hover{
  color: #ffffff;
  background: #9c8166;
}
.w_shop_102_wrapper:hover > .w_shop_102_image > .w_shop_102_icons{
  bottom: 0;
}
/*---------- FOOTER ----------*/
.w_shop_102_footer{
  text-align: center;
}
/*---------- DETAIL ----------*/
.w_shop_102_detail{
  padding: 10px 5px;
  position: relative;
}
.w_shop_102_detail > a{
  display: block;
  text-decoration: none;
}
.w_shop_102_detail > a:nth-child(1){
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  -webkit-transition: color 0.7s cubic-bezier(0.3,1,0,1);
  transition: color 0.7s cubic-bezier(0.3,1,0,1);
}
.w_shop_102_detail > a:nth-child(1):hover{
  color: #9c8166;
}
.w_shop_102_detail > a:nth-child(2){
  color: #637E99;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin-top: 10px;
  -webkit-transition: all 1s cubic-bezier(0.3,1,0,1);
  transition: all 1s cubic-bezier(0.3,1,0,1);
}
.w_shop_102_detail > a:nth-child(2):hover{
  color: #565656;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- GENERAL ----------*/
  #w_shop_102{
    padding: 50px 25px;
  }
  .w_shop_102_main_header > h1{
    font-size: 25px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .w_shop_102_control_button .carousel-control-prev,
  .w_shop_102_control_button .carousel-control-next{
    top: 10px;
  }
  .w_shop_102_control_button .carousel-control-prev{
	left: 0;
	right: 27px;
	margin: auto;
  }
  .w_shop_102_control_button .carousel-control-next{
    right: 0;
	left: 27px;
	margin: auto;
  }
}
/*---------- MEDIA 481px - 767px ----------*/
@media (min-width: 481px) and (max-width: 767px){
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .w_shop_102_control_button .carousel-control-prev,
  .w_shop_102_control_button .carousel-control-next{
    top: 15px;
  }
  .w_shop_102_control_button .carousel-control-prev{
	left: 0;
	right: 27px;
	margin: auto;
  }
  .w_shop_102_control_button .carousel-control-next{
    right: 0;
	left: 27px;
	margin: auto;
  }
  /*---------- IMAGE ----------*/
  .w_shop_102_image > img{
    width: 50%;
  }
}
/*---------- MEDIA 768px - 991px ----------*/
@media (min-width: 768px) and (max-width: 991px){

}
/*---------- MEDIA 992px - 1225px ----------*/
@media (min-width: 992px) and (max-width: 1225px){
  /*---------- GENERAL ----------*/
  #w_shop_102{
    padding: 50px 10px;
  }
  /*---------- WRAPPER ----------*/
  .w_shop_102_control_button .carousel-control-prev{
    left: auto;
    right: 38px;
    margin: auto;
  }
  .w_shop_102_control_button .carousel-control-next{
    left: auto;
    right: 10px;
    margin: auto;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}