/*------------------------------------------------------*/
/* X 003 TABLET
/*------------------------------------------------------*/
/*---------- GENERAL ----------*/
.x_003_tablet_main_wrap{
  position: relative;
  text-align: center;
  padding: 35px 0 50px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.x_003_tablet_main_wrap:before{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.9);  
}
/*---------- TEXT SIDE ----------*/
.x_003_tablet_text > h1,
.x_003_tablet_text > p,
.x_003_tablet_inner_wrap > .carousel > .carousel-inner > .carousel-item > a{
  text-shadow: none;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.x_003_tablet_text {
  width: 65%;
  margin: auto;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}
.x_003_tablet_text > h1{
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
.x_003_tablet_text > h1 > span{
  color: #f1ca27;
  font-weight: 700;
  margin-left: 10px;
}
.x_003_tablet_text > p{
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
.x_003_tablet_inner_wrap > .carousel > .carousel-inner > .carousel-item > a{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 140px;
  height: 45px;
  margin: auto;
  display: block;
  color: #ffffff;
  line-height: 42px;
  text-align: center;
  position: absolute;
  text-decoration: none;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -webkit-transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
}
.x_003_tablet_inner_wrap > .carousel > .carousel-inner > .carousel-item > a:hover{
  color: #ffffff;
  background: #f1ca27;
  border: 2px solid #f1ca27;
}

/*---------- TABLET ----------*/
.x_003_tablet_inner_wrap{
  width: 60%;
  margin: auto;
  position: relative;
}
.x_003_tablet_inner_wrap > img{
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
}
/*---------- SLIDER ----------*/
#x_003_tablet{
  top: 4%;
  left: 2%;
  right: 0;
  width: 79%;
  bottom: auto;
  margin: auto;
  overflow: hidden;
  position: absolute;
  background: #000000;
}
#x_003_tablet > .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#x_003_tablet > .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#x_003_tablet > .carousel-inner > .carousel-item{
  overflow: hidden;
}
#x_003_tablet > .carousel-inner > .carousel-item > img{
  width: 100%;
  opacity: 0.8;
  margin: auto;
}
/*---------- VERTICLE EFFECT ----------*/
.ps_slide_y .carousel-inner{
  height: 100%;
}
.ps_slide_y .carousel-item{
  height: 100%;
}
.ps_slide_y .carousel-item-next.carousel-item-left,
.ps_slide_y .carousel-item-prev.carousel-item-right {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.ps_slide_y .carousel-item-next,
.ps_slide_y .active.carousel-item-right {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .ps_slide_y .carousel-item-next,
  .ps_slide_y .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.ps_slide_y .carousel-item-prev,
.ps_slide_y .active.carousel-item-left {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .ps_slide_y .carousel-item-prev,
  .ps_slide_y .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
/*---------- INDICATORS CONTROL ----------*/
.x_003_tablet_indicators > .carousel-indicators{
  left: 0;
  top: auto;
  bottom: 0;
  right: auto;
  width: 20px;
  height: 57%;
  margin: auto;
  padding: 5px 3px;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}
.x_003_tablet_indicators > .carousel-indicators li:before,
.x_003_tablet_indicators > .carousel-indicators li:after{
  display: none;
}
.x_003_tablet_indicators > .carousel-indicators li{
  width: 10px;
  height: 10px;
  border: none;
  opacity: 0.8;
  margin: 3px 0;
  text-indent: 0;
  display: block;
  background: #ffffff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
}
.x_003_tablet_indicators > .carousel-indicators .active{
  opacity: 1;
  width: 10px;
  height: 10px;
  border: none;
  margin: 3px 0;
  text-indent: 0;
  background: #f1ca27;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
.x_003_tablet_indicators > .carousel-indicators::-webkit-scrollbar{
  width: 4px;
}
.x_003_tablet_indicators > .carousel-indicators::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.x_003_tablet_control_button .carousel-control-prev,
.x_003_tablet_control_button .carousel-control-next{
  opacity: 0;
  width: 40px;
  bottom: auto;
  height: 20px;
  color: #f1ca27;
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 20px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: #ffffff;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
}
.x_003_tablet_control_button .carousel-control-prev{
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  margin: auto;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.x_003_tablet_control_button .carousel-control-next{
  left: 0;
  right: 0;
  margin: auto;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.x_003_tablet_control_button .carousel-control-prev:hover,
.x_003_tablet_control_button .carousel-control-next:hover{
  opacity: 1;
  color: #ffffff;
  background: #f1ca27;
}
.x_003_tablet_control_button:hover .carousel-control-prev,
.x_003_tablet_control_button:hover .carousel-control-next{
  opacity: 0.8;
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  .x_003_tablet_text{
    width: 95%;
  }
  .x_003_tablet_text > h1{
    font-size: 30px;
  }
  /*---------- TABLET ----------*/
  .x_003_tablet_inner_wrap{
    width: 90%;
  }
}
/*---------- MEDIA 481px - 767px ----------*/
@media (min-width: 481px) and (max-width: 767px){
  /*---------- TABLET ----------*/
  .x_003_tablet_inner_wrap{
    width: 90%;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}