/*------------------------------------------------------*/
/* X 016 SEARCH
/*------------------------------------------------------*/
/*---------- GENERAL ----------*/
#x_016_search,
#x_016_search > .carousel-inner,
#x_016_search > .carousel-inner > .carousel-item{
  overflow: hidden;
  max-height: 650px;
}
#x_016_search{
  background: #000000;
}
#x_016_search:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#x_016_search:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#x_016_search > .carousel-inner > .carousel-item > img,
#x_016_search > .carousel-inner > .carousel-item > a > img{
  width: 100%;
  opacity: 0.5;
  margin: auto;
}
/*---------- FONTS ----------*/
.x_016_search_form > h1,
.x_016_search_form > p,
.x_016_search_form > form > input,
.x_016_search_form > form > button{
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Titillium Web', sans-serif;
}
/*---------- INDICATORS CONTROL ----------*/
.x_016_search_indicators > .carousel-indicators{
  left: 0;
  right: 0;
  top: auto;
  width: 90%;
  bottom: 5%;
  height: 20px;
  margin: auto;
  padding: 0;
  display: block;
  overflow-x: auto;
  text-align: center;
  overflow-y: hidden;
  white-space: nowrap;
}
.x_016_search_indicators > .carousel-indicators li:before,
.x_016_search_indicators > .carousel-indicators li:after{
  display: none;
}
.x_016_search_indicators > .carousel-indicators li{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  margin: 0 2px;
  text-indent: 0;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  background: transparent;
  border: 2px solid #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.2s;
  transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.2s;
}
.x_016_search_indicators > .carousel-indicators .active{
  width: 10px;
  height: 10px;
  margin: 0 2px;
  text-indent: 0;
  background: #c32026;
  border: 2px solid #c32026;
}
.x_016_search_indicators > .carousel-indicators::-webkit-scrollbar{
  height: 2px;
}
.x_016_search_indicators > .carousel-indicators::-webkit-scrollbar-thumb{
  background: #ffffff;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.x_016_search_control_button .carousel-control-prev,
.x_016_search_control_button .carousel-control-next{
  top: 45%;
  opacity: 1;
  width: 20px;
  bottom: auto;
  height: 20px;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 16px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
}
.x_016_search_control_button .carousel-control-prev{
  left: 7%;
}
.x_016_search_control_button .carousel-control-next{
  right: 7%;
}
.x_016_search_control_button .carousel-control-prev:hover,
.x_016_search_control_button .carousel-control-next:hover{
  color: #ffffff;
  background: #c32026;
  border-color: #c32026;
}
/*---------- SUBSCRIBE FORM ----------*/
.x_016_search_form{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 55%;
  margin: auto;
  height: 250px;
  text-align: center;
  position: absolute;
}
.x_016_search_form > span{
  color: #ffffff;
  font-size: 35px;
  font-weight: 400;
}
.x_016_search_form > h1{
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
.x_016_search_form > h1 > span{
  color: #c32026;
  margin: 0 10px;
}
.x_016_search_form > p{
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
/*---------- FORM ----------*/
.x_016_search_form > form{
  padding: 0;
  font-size: 0;
  margin-top: 50px;
}
.x_016_search_form > form > input{
  margin: 0;
  width: 70%;
  height: 50px;
  border: none;
  font-size: 15px;
  padding: 0 20px;
}
.x_016_search_form > form > input:focus{
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.x_016_search_form > form > button{
  margin: 0;
  width: 100px;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  background: #c32026;
  vertical-align: top;
  text-transform: uppercase;
  -webkit-transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.x_016_search_form > form > button:hover,
.x_016_search_form > form > button:active{
  outline: none;
  color: #ffffff;
  background: rgba(195,32,38,0.8);
}
/*---------- PLACE HOLDER ----------*/
.x_016_search_form > form > input::-webkit-input-placeholder{
  color: #666666;
  font-weight: 400;
  text-transform: capitalize;
}
.x_016_search_form > form > input::-moz-placeholder{
  color: #1e1e25;
  font-weight: 400;
  text-transform: capitalize;
}
.x_016_search_form > form > input:-ms-input-placeholder{
  color: #1e1e25;
  font-weight: 400;
  text-transform: capitalize;
}
.x_016_search_form > form > input:-moz-placeholder{
  color: #1e1e25;
  font-weight: 400;
  text-transform: capitalize;
}
.x_016_search_form > form > input:focus::-webkit-input-placeholder{
  color: #1e1e25;
}
.x_016_search_form > form > input:focus::-moz-placeholder{
  color: #1e1e25;
}
.x_016_search_form > form > input:focus:-ms-input-placeholder{
  color: #1e1e25;
}
.x_016_search_form > form > input:focus:-moz-placeholder{
  color: #1e1e25;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- SUBSCRIBE FORM ----------*/
  .x_016_search_form{
    width: 97%;
	height: 190px;
  }
  .x_016_search_form > span{
    font-size: 20px;
  }
  .x_016_search_form > h1{
    margin: 0;
    font-size: 20px;
  }
  .x_016_search_form > p{
    font-size: 14px;
  }
  /*---------- FORM ----------*/
  .x_016_search_form > form{
    margin-top: 10px;
  }
  .x_016_search_form > form > input{
    width: 70%;
  }
  .x_016_search_form > form > button{
    width: 70px;
  }
}
/*---------- MEDIA 481px - 767px ----------*/
@media (min-width: 481px) and (max-width: 767px){
  /*---------- SUBSCRIBE FORM ----------*/
  .x_016_search_form{
    width: 90%;
  }
  .x_016_search_form > h1{
    font-size: 30px;
  }
}
/*---------- MEDIA 768px - 991px ----------*/
@media (min-width: 768px) and (max-width: 991px){
  /*---------- SUBSCRIBE FORM ----------*/
  .x_016_search_form{
    width: 70%;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}