/*------------------------------------------------------*/
/* X 014 POST
/*------------------------------------------------------*/
/*---------- GENERAL ----------*/
#x_014_post > .carousel-inner,
#x_014_post > .carousel-inner > .carousel-item{
  overflow: hidden;
}
#x_014_post{
  padding: 60px 55px;
}
#x_014_post:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#x_014_post:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#x_014_post > .carousel-inner > .carousel-item > .row{
  margin: 0;
}
#x_014_post > .carousel-inner > .carousel-item > .row > div{
  padding: 0;
}
/*---------- FONTS ----------*/
.x_014_post_header > h1,
.x_014_post_image > a,
.x_014_post_text > h3,
.x_014_post_text > p,
.x_014_post_text > a{
  text-shadow: none;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}
/*---------- HEADER ----------*/
.x_014_post_header{
  width: 23%;
  padding: 5px;
  margin: auto;
  text-align: center;
  position: relative;
  margin-bottom: 65px;
}
.x_014_post_header:before{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background: #211d1a;
}
.x_014_post_header:after{
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background: #211d1a;
}
.x_014_post_header > h1{
  margin: 0;
  color: #211d1a;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.x_014_post_header > h1 > span{
  color: #4582c3;
  margin: 0 5px;
}
/*---------- INDICATORS CONTROL ----------*/
.x_014_post_indicators > .carousel-indicators{
  left: 0;
  right: 0;
  top: 125px;
  width: 90%;
  bottom: auto;
  height: 20px;
  font-size: 0;
  margin: auto;
  display: block;
  overflow-x: auto;
  text-align: center;
  overflow-y: hidden;
  white-space: nowrap;
}
.x_014_post_indicators > .carousel-indicators li:before,
.x_014_post_indicators > .carousel-indicators li:after{
  display: none;
}
.x_014_post_indicators > .carousel-indicators li{
  width: 15px;
  height: 15px;
  margin: 0 3px;
  color: #343e48;
  text-indent: 0;
  font-size: 11px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #dddddd;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
}
.x_014_post_indicators > .carousel-indicators .active{
  width: 15px;
  height: 15px;
  margin: 0 3px;
  text-indent: 0;
  background: #4582c3;
  border: 1px solid #4582c3;
}
.x_014_post_indicators > .carousel-indicators::-webkit-scrollbar{
  height: 2px;
}
.x_014_post_indicators > .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.x_014_post_control_button .carousel-control-prev,
.x_014_post_control_button .carousel-control-next{
  top: 15px;
  opacity: 1;
  width: 30px;
  bottom: auto;
  height: 30px;
  color: #dddddd;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 28px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 1px solid #dddddd;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
}
.x_014_post_control_button .carousel-control-prev{
  left: 0;
  right: 32px;
  margin: auto;
}
.x_014_post_control_button .carousel-control-next{
  right: 0;
  left: 32px;
  margin: auto;
}
.x_014_post_control_button .carousel-control-prev:hover,
.x_014_post_control_button .carousel-control-next:hover{
  color: #ffffff;
  background: #4582c3;
  border-color: #4582c3;
}
/*---------- POST IMAGE ----------*/
.x_014_post_image{
  position: relative;
}
.x_014_post_image > img{
  width: 100%;
  display: block;
}
.x_014_post_image > a{
  top: 0;
  width: 90px;
  height: 100px;
  color: #ffffff;
  display: block;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.x_014_post_image > a > span:nth-child(1){
  height: 70px;
  display: block;
  font-size: 35px;
  font-weight: 900;
  line-height: 70px;
  background: #4582c3;
}
.x_014_post_image > a > span:nth-child(2){
  height: 30px;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  background: #211d1a;
}
/*---------- POST TEXT ----------*/
.x_014_post_text{
  padding: 20px 30px;
}
.x_014_post_text > h3{
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.x_014_post_text > p{
  margin: 15px 0;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}
.x_014_post_text > a{
  color: #4582c3;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: color 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
}
.x_014_post_text > a:hover{
  color: #dddddd;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- GENERAL ----------*/
  #x_014_post{
    padding: 60px 15px;
  }
  /*---------- HEADER ----------*/
  .x_014_post_header{
    width: 100%;
  }
  /*---------- POST TEXT ----------*/
  .x_014_post_text{
    padding: 20px 10px;
  }
}
/*---------- MEDIA 481px - 767px ----------*/
@media (min-width: 481px) and (max-width: 767px){
  /*---------- HEADER ----------*/
  .x_014_post_header{
    width: 80%;
  }
}
/*---------- MEDIA 768px - 991px ----------*/
@media (min-width: 768px) and (max-width: 991px){
  /*---------- GENERAL ----------*/
  #x_014_post{
    padding: 60px 5px;
  }
  /*---------- HEADER ----------*/
  .x_014_post_header{
    width: 45%;
  }
  /*---------- POST TEXT ----------*/
  .x_014_post_text{
    padding: 5px;
  }
  .x_014_post_text > h3{
    font-size: 12px;
  }
  .x_014_post_text > p{
    margin: 0;
    font-size: 11px;
  }
}
/*---------- MEDIA 992px - 1250px ----------*/
@media (min-width: 992px) and (max-width: 1250px){
  /*---------- GENERAL ----------*/
  #x_014_post{
    padding: 60px 15px;
  }
  /*---------- POST TEXT ----------*/
  .x_014_post_text{
    padding: 5px;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}