/*------------------------------------------------------*/
/* X 022 ANIMATED LAYERS
/*------------------------------------------------------*/
/*---------- GENERAL ----------*/
#x_022_animated_layers,
#x_022_animated_layers > .carousel-inner,
#x_022_animated_layers > .carousel-inner > .carousel-item{
  overflow: hidden;
  max-height: 645px;
}
#x_022_animated_layers{
  background: #f7f5f5;
}
#x_022_animated_layers:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#x_022_animated_layers:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
/*---------- BACKGROUND ----------*/
#x_022_animated_layers > .carousel-inner > .carousel-item > img,
#x_022_animated_layers > .carousel-inner > .carousel-item > a > img{
  width: 100%;
  margin: auto;
}
/*---------- INDICATORS CONTROL ----------*/
.x_022_animated_layers_indicators > .carousel-indicators{
  left: 0;
  right: 0;
  top: 15px;
  width: 95%;
  bottom: auto;
  height: 25px;
  margin: auto;
  display: block;
  overflow-x: auto;
  text-align: right;
  padding: 0 15px;
  overflow-y: hidden;
  white-space: nowrap;
}
.x_022_animated_layers_indicators > .carousel-indicators li:before,
.x_022_animated_layers_indicators > .carousel-indicators li:after{
  display: none;
}
.x_022_animated_layers_indicators > .carousel-indicators li{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  text-indent: 0;
  margin: 5px 2px;
  cursor: pointer;
  overflow: hidden;
  background: #9f9fba;
  display: inline-block;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.2s;
  transition: all cubic-bezier(0.22,0.81,0.01,0.99) 0.2s;
}
.x_022_animated_layers_indicators > .carousel-indicators .active{
  width: 10px;
  height: 10px;
  border: none;
  text-indent: 0;
  margin: 5px 2px;
  background: #eb2121;
}
.x_022_animated_layers_indicators > .carousel-indicators::-webkit-scrollbar{
  height: 2px;
}
.x_022_animated_layers_indicators > .carousel-indicators::-webkit-scrollbar-thumb{
  background: #ffffff;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.x_022_animated_layers_control_button .carousel-control-prev,
.x_022_animated_layers_control_button .carousel-control-next{
  top: 50%;
  opacity: 1;
  width: 25px;
  bottom: auto;
  height: 25px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  line-height: 25px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: #9f9fba;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
}
.x_022_animated_layers_control_button .carousel-control-prev{
  left: 1%;
}
.x_022_animated_layers_control_button .carousel-control-next{
  right: 1%;
}
.x_022_animated_layers_control_button .carousel-control-prev:hover,
.x_022_animated_layers_control_button .carousel-control-next:hover{
  color: #ffffff;
  background: #eb2121;
}
.x_022_animated_layers_control_button:hover .carousel-control-prev,
.x_022_animated_layers_control_button:hover .carousel-control-next{
  opacity: 1;
}
/*---------- FONTS ----------*/
.x_022_animated_layers_txt > h1,
.x_022_animated_layers_txt > p,
.x_022_animated_layers_txt > a{
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  
}
/*---------- ANIMATION ----------*/
.x_022_animated_layers_txt > a,
.x_022_animated_layers_txt > p,
.x_022_animated_layers_txt > h1,
.x_022_animated_layers_img{
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  animation-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*---------- CONTENT ----------*/
.x_022_animated_layers_content{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
/*---------- TEXT ----------*/
.x_022_animated_layers_txt{
  top: 0;
  bottom: 0;
  width: 75%;
  left: 10.5%;
  height: 45%;
  margin: auto 0;
  position: absolute;
}
.x_022_animated_layers_content_right > .x_022_animated_layers_txt{
  right: 9%;
  left: auto;
  text-align: right;
}
.x_022_animated_layers_txt > h1{
  margin: 0;
  color: #333333;
  font-size: 90px;
  text-shadow: none;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.x_022_animated_layers_txt > h1 > span{
  color: #eb2121;
  margin: 0 10px;
}
.x_022_animated_layers_txt > p{
  width: 55%;
  color: #959595;
  font-size: 14px;
  font-weight: 400;
  margin: 15px 0 25px 0;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}
.x_022_animated_layers_content_right > .x_022_animated_layers_txt > p{
  margin: 15px 0 25px auto;
}
.x_022_animated_layers_txt > a{
  width: 150px;
  height: 40px;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  background: #959595;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.x_022_animated_layers_txt > a:hover{
  background: #eb2121;
}
/*---------- IMAGE ----------*/
.x_022_animated_layers_img{
  bottom: 0;
  right: 7%;
  width: 36%;
  margin: auto;
  position: absolute;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.x_022_animated_layers_content_right > .x_022_animated_layers_img{
  left: 7%;
  right: auto;
}
.x_022_animated_layers_img > img{
  width: 100%;
  display: block;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- INDICATORS CONTROL ----------*/
  .x_022_animated_layers_indicators > .carousel-indicators{
    top: 0;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .x_022_animated_layers_control_button .carousel-control-prev,
  .x_022_animated_layers_control_button .carousel-control-next{
    display: none;
  }
  /*---------- TEXT ----------*/
  .x_022_animated_layers_txt{
    left: 2%;
    width: 63%;
    height: 55%;
  }
  .x_022_animated_layers_content_right > .x_022_animated_layers_txt{
    right: 2%;
    left: auto;
  }
  .x_022_animated_layers_txt > h1{
    font-size: 20px;
  }
  .x_022_animated_layers_txt > p{
    width: 100%;
    font-size: 11px;
    margin: 5px 0 5px 0;
  }
  .x_022_animated_layers_content_right > .x_022_animated_layers_txt > p{
    margin: 5px 0 5px auto;
  }
  .x_022_animated_layers_txt > a{
    width: 100px;
    height: 25px;
    font-size: 10px;
    line-height: 25px;
  }
  /*---------- IMAGE ----------*/
  .x_022_animated_layers_img{
    right: 0;
    width: 45%;
  }
  .x_022_animated_layers_content_right > .x_022_animated_layers_img{
    left: 0;
    right: auto;
  }
}
/*---------- MEDIA 481px - 767px ----------*/
@media (min-width: 481px) and (max-width: 767px){
  /*---------- TEXT ----------*/
  .x_022_animated_layers_txt{
    left: 5%;
    width: 60%;
  }
  .x_022_animated_layers_content_right > .x_022_animated_layers_txt{
    right: 5%;
    left: auto;
  }
  .x_022_animated_layers_txt > h1{
    font-size: 30px;
  }
  .x_022_animated_layers_txt > p{
    width: 100%;
  }
  /*---------- IMAGE ----------*/
  .x_022_animated_layers_img{
    right: 0;
    width: 44%;
  }
  .x_022_animated_layers_content_right > .x_022_animated_layers_img{
    left: 0;
    right: auto;
  }
}
/*---------- MEDIA 768px - 991px ----------*/
@media (min-width: 768px) and (max-width: 991px){
  /*---------- TEXT ----------*/
  .x_022_animated_layers_txt{
    left: 6.5%;
	width: 60%;
  }
  .x_022_animated_layers_content_right > .x_022_animated_layers_txt{
    right: 5%;
    left: auto;
  }
  .x_022_animated_layers_txt > h1{
    font-size: 50px;
  }
  .x_022_animated_layers_txt > p{
    width: 80%;
  }
  /*---------- IMAGE ----------*/
  .x_022_animated_layers_img{
    right: 0;
    width: 50%;
  }
  .x_022_animated_layers_content_right > .x_022_animated_layers_img{
    left: 0;
    right: auto;
  }
}
/*---------- MEDIA 992px - 1250px ----------*/
@media (min-width: 992px) and (max-width: 1250px){
  /*---------- TEXT ----------*/
  .x_022_animated_layers_txt{
	width: 60%;
  }
  .x_022_animated_layers_txt > h1{
    font-size: 65px;
  }
  .x_022_animated_layers_txt > p{
    width: 80%;
  }
  /*---------- IMAGE ----------*/
  .x_022_animated_layers_img{
    width: 40%;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}