/*------------------------------------------------------*/
/* X 024 SHOP MODAL
/*------------------------------------------------------*/

/*---------- GALLERY ----------*/
.x_024_shop_modal_gallery,
.x_024_shop_modal_gallery > .row > div{
  margin: 0;
  padding: 10px;
}
.x_024_shop_modal_gallery > .row{
  margin: 0;
}
.x_024_shop_modal_gallery > .row > div{
  background: #f7f7f7;
  border: 2px solid #eaeaea;
}
.x_024_shop_modal_gallery > .row > div > img{
  width: 100%;
  margin: auto;
  cursor: pointer;
}
/*---------- MODAL ----------*/
/*-----------------------------------------*/
/* DEFAULT SETTING FOR ALL MODALS
/*-----------------------------------------*/
.x_024_shop_modal{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.x_024_shop_modal a:link,
.x_024_shop_modal a:visited{
  text-decoration: none;
}
.x_024_shop_modal:before{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  content: "";
  height: 100%;
  margin: auto;
  position: absolute;
}
/*-----------------------------------------*/
/* SLIDER COMMERCE
/*-----------------------------------------*/
/*----- CLOSE BUTTON -----*/
a.x_024_shop_modal_close:link,
a.x_024_shop_modal_close:visited{
  top: 5px;
  right: 5px;
  width: 50px;
  height: 25px;
  z-index: 100;
  color: #1c0909;
  font-size: 11px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  position: absolute;
  background: #f7f7f7;
  display: inline-block;
  border: 1px solid #eaeaea;
  text-transform: uppercase;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
a.x_024_shop_modal_close:hover,
a.x_024_shop_modal_close:active{
  color: #ffffff;
  background: #ff5252;
  border: 1px solid #ff5252;
}
/*----- GENERAL -----*/
a.x_024_shop_modal_close,
.x_024_shop_modal_txt > h1,
.x_024_shop_modal_txt > h2,
.x_024_shop_modal_txt > p,
.x_024_shop_modal_txt > form > div > label,
.x_024_shop_modal_txt > form > div > input,
.x_024_shop_modal_txt > form > div > select,
.x_024_shop_modal_txt > form > div > select > option,
.x_024_shop_modal_txt > form > div > button{
  text-shadow: none;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.x_024_shop_modal.modal.fade .modal-dialog{
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(.075,.82,.165,1);
  -o-transition: -o-transform 1.5s cubic-bezier(.075,.82,.165,1);
  transition: transform 1.5s cubic-bezier(.075,.82,.165,1);
}
.x_024_shop_modal_size > .modal-dialog > .modal-content .row{
  margin: 0;
}
.x_024_shop_modal_size > .modal-dialog > .modal-content .row > div{
  padding: 0;
}
.x_024_shop_modal_size::-webkit-scrollbar{
  width: 5px;
  background: transparent;
}
.x_024_shop_modal_size::-webkit-scrollbar-thumb{
  background: #eaeaea;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*----- SLIDER -----*/
.x_024_shop_modal_indicators > .carousel-inner{
  background: #f7f7f7;
}
.x_024_shop_modal_indicators:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.x_024_shop_modal_indicators:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.x_024_shop_modal_indicators > .carousel-inner > .carousel-item{
  padding: 50px;
}
.x_024_shop_modal_indicators > .carousel-inner > .carousel-item > img,
.x_024_shop_modal_indicators > .carousel-inner > .carousel-item > a > img{
  width: 100%;
  margin: auto;
}
/*----- INDICATORS THUMBNAIL CONTROL -----*/
.x_024_shop_modal_indicators > .carousel-indicators{
  left: 0;
  right: 0;
  top: auto;
  width: 100%;
  bottom: 0;
  margin: auto;
  font-size: 0;
  padding: 5px 0;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  position: relative;
  white-space: nowrap;
}
.x_024_shop_modal_indicators > .carousel-indicators li{
  width: 12%;
  opacity: 1;
  padding: 0;
  height: 100%;
  margin: 0 2px;
  text-indent: 0;
  cursor: pointer;
  background: #f7f7f7;
  display: inline-block;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.x_024_shop_modal_indicators > .carousel-indicators .active{
  width: 12%;
  height: 100%;
  margin: 0 2px;
  background: #f7f7f7;
  border: 1px solid #ff5252;
}
.x_024_shop_modal_indicators > .carousel-indicators li img{
  width: 100%;
  display: block;
}
.x_024_shop_modal_indicators > .carousel-indicators::-webkit-scrollbar{
  height: 3px;
  background: rgba(0, 0, 0, 0.3);
}
.x_024_shop_modal_indicators > .carousel-indicators::-webkit-scrollbar-thumb{
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.7);
}
/*----- TEXT CONTENT BOX -----*/
.x_024_shop_modal_txt{
  padding: 15px 25px 5px 25px; 
}
/*----- NAME -----*/
.x_024_shop_modal_txt > h1{
  color: #1c0909;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
/*----- STARS -----*/
.x_024_shop_modal_txt > ul{
  padding: 0;
  margin: 20px 0;
  list-style-type: none;
}
.x_024_shop_modal_txt > ul > li{
  display: inline-block;
}
.x_024_shop_modal_txt > ul > li > span{
  color: #1c0909;
}
/*----- PRICE -----*/
.x_024_shop_modal_txt > h2{
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  margin: 0 0 20px 0;
  padding: 10px 15px;
  text-align: center;
  background: #ff5252;
  display: inline-block;
}
/*----- DETAIL -----*/
.x_024_shop_modal_txt > p{
  color: #1c0909;
}
/*----- FORM -----*/
.x_024_shop_modal_txt > form{
  margin: 30px 0;
}
.x_024_shop_modal_txt > form > div > label{
  color: #1c0909;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_num,
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_color,
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_size{
  display: inline-block;
}
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_num{
  margin-right: 20px;
}
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_size{
  margin-left: 20px;
}
/*----- INPUT -----*/
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_num > input{
  border: none;
  width: 100px;
  height: 40px;
  color: #1c0909;
  font-size: 18px;
  margin: 0 0 0 5px;
  padding: 0 0 0 10px;
  background: #f7f7f7;
  display: inline-block;
  border: 1px solid #eaeaea;
}
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_num > input:focus{
  outline: none;
}
/*----- SELECT -----*/
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_color > select,
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_size > select{
  width: 100px;
  height: 40px;
  color: #1c0909;
  margin: 0 0 0 5px;
  background: #f7f7f7;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
}
.x_024_shop_modal_txt > form > div > select > option{
  text-transform: uppercase;
}
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_color > select:focus,
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_size > select:focus{
  outline: none;
  background: #f7f7f7;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*----- BUTTON -----*/
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_btn > button{
  left: 0;
  right: 0;
  padding: 0;
  outline: 0;
  width: 150px;
  border: none;
  height: 40px;
  color: #f7f7f7;
  font-size: 12px;
  font-weight: 400;
  line-height: 40px;
  position: relative;
  background: #1c0909;
  display: inline-block;
  margin: 50px auto 0 auto;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.x_024_shop_modal_txt > form > .x_024_shop_modal_form_btn > button:hover{
  background: #ff5252;
}
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  .x_024_shop_modal_txt > p{
    text-align: justify;
  }
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_num,
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_color,
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_size{
    margin: 10px 0;
    display: block;
  }
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_num > input{
    margin: 0;
    display: block;
  }
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_color > select,
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_size > select{
    margin: 0;
    display: block;
  }
}
/*---------- MEDIA 481px - 767px ----------*/
@media (min-width: 481px) and (max-width: 767px){
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_num,
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_color,
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_size{
    margin: 10px 0;
    display: block;
  }
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_num > input{
    margin: 0;
    display: block;
  }
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_color > select,
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_size > select{
    margin: 0;
    display: block;
  }
  .x_024_shop_modal_size > .modal-dialog{
    max-width: 98%;
	margin: auto;
  }
}
/*---------- MEDIA 768px - 991px ----------*/
@media (min-width: 768px) and (max-width: 991px){
  .x_024_shop_modal_size > .modal-dialog{
	max-width: 98%;
	height: 95%;
  }
  .x_024_shop_modal_txt{
    padding: 10px 15px 10px 25px; 
  }
  .x_024_shop_modal_txt > ul{
    margin: 10px 0;
  }
  .x_024_shop_modal_txt > form{
    margin: 0;
  }
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_num > input{
    margin: 0;
    display: block;
  }
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_color > select,
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_size > select{
    margin: 0;
    display: block;
  }
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_btn > button{
    margin: 10px auto 0 auto;
  }
}
/*---------- MEDIA 992px - 1229px ----------*/
@media (min-width: 992px) and (max-width: 1229px){
  .x_024_shop_modal_size > .modal-dialog{
	max-width: 95%;
	height: 95%;
  }
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_num > input{
    margin: 0;
    display: block;
  }
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_color > select,
  .x_024_shop_modal_txt > form > .x_024_shop_modal_form_size > select{
    margin: 0;
    display: block;
  }
}
/*----- MODAL CONTENT -----*/
.x_024_shop_modal_size > .modal-dialog > .modal-content{
  width: 100%;
  height: auto;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (min-width: 1230px){
  .x_024_shop_modal_size > .modal-dialog{
	max-width: 82%;
	height: auto;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}